@import '../../app.component.scss';


.right-section73{
    background-color: white;
}

.form-group {
    margin-bottom: 15px;
  }
  
  .button-group {
    margin-top: 20px;
  }
  

  .btnApply{
    float:left;
  }

  .btnReset{
    float:right;
  }


  .MAPagination {
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
}

.fgSpacing{
    margin-bottom:5px;
}

.btnView{
    background-color: #2185D0;
    color:white;
    width: 80px;
  //min-width: $MAButtonMinWidth;
  }

  .languageWidth{
    width: 15%;
}

//style for dropdown start
:host ::ng-deep {

  .ng-select{
    padding-bottom: 6px;

    .ng-select-container{
      min-height: 0 !important;
      padding:0 !important;
      border-top: none !important;
    
      .ng-value-container{
        padding: 0;
        border: 0;
        }
      }
    }

  //adjust arrow, clear and cursor position
    .ng-select-single .ng-select-container {


      .ng-arrow-wrapper{
        bottom: 3px;
      }

      .ng-clear-wrapper{
        bottom: 0px;
      }

      .ng-value-container .ng-input{
        top:0px
      }

    }
}

:host ::ng-deep ng-dropdown-panel {

  top: auto !important;
 
}

//remove drop down underline
:host ::ng-deep ng-select .ng-select-container::after {
  border-bottom: 5px solid transparent !important;
}

//style for dropdown end

td{
  word-wrap: break-word;
  word-break: break-all;
}

.PA-alert-box {
  margin-top:30px;
  width:100%;
  position: relative;
  }

  .alert-error {
    background-color: #ffcccc !important;
    /* Light red */
    color: #a94442 !important;
    /* Darker red text */
    border-color: #ebccd1 !important;
    /* Red border */
  }



