<body BodyContainer>
  <div class="PAContainer73">
    <div class="one-third">
      <form [formGroup]="searchForm" (ngSubmit)="handleFormSubmit()">
        <div class="form-group">
          <label for="searchOption">{{ "labels.searchby" | translate }}</label>
          <select id="searchOption" (change)="onSelectionChange($event)" formControlName="searchOption" required
            class="form-control">
            <option [ngValue]="null" disabled>
              {{ "labels.selectanoption" | translate }}
            </option>
            <option *ngFor="let option of searchModel" [value]="option.value">
              {{ option.nm }}
            </option>
          </select>
        </div>
        <br>
        <!-- Conditionally render the "Enter here" section -->
        <div class="form-group" *ngIf="isSearchOptionSelected">
          <label for="searchInput">{{ "labels.enterhere" | translate }}</label>
          <input type="text" id="searchInput" class="form-control" [placeholder]="'labels.enterhere' | translate"
            formControlName="inputName" required />
        </div>

         <div class="form-buttons">
          <button
            type="button"
            class="btn btnReset"
            (click)="clearFields()"
          >
            {{ "buttons.clear" | translate }}
          </button>
          <button
            type="button"
            class="btn btnSearch"
            (click)="handleFormSubmit()"
          >
            {{ "buttons.search" | translate }}
          </button>
        </div>
      </form>
    </div>


    <div class="two-thirds">
      <ul class="breadcrumbOTC">
        <li>
          <a [routerLink]="'/home'">{{"menu.home" | translate}}</a>
          <span class="breadcrumb-separator"> / </span>
        </li>
        <li>
          <a [routerLink]="'/refund-tht'">{{"labels.MyTransactions" | translate}}</a>
        </li>
      </ul>

      <h1>{{"labels.MyTransactions" | translate}}</h1>
      <div class="MATableContainers">
        <div class="MALoadingContainer">
          <!-- Loading spinner overlay -->
          <div *ngIf="isLoading" class="TableLoading-overlay d-flex align-items-center justify-content-center">
            <div class="spinner-border" role="status">
              <span class="sr-only"></span>
            </div>
          </div>
          <table class="MATable" [ngClass]="{ TableDimmed: isLoading }">
            <thead>
              <tr class="MATableHeader">
                <th>No</th>
                <th>{{"labels.orderreferenceno" | translate}}</th>
                <th>{{"labels.refundslipno" | translate}}</th>
                <th>{{"labels.rttappno" | translate}}</th>
                <th>{{"labels.transactiondate" | translate}}</th>
                <th>{{"labels.transactionid" | translate}}</th>
                <th>{{"labels.amountRM" | translate}}</th>
                <th>{{"labels.paymentmethod" | translate}}</th>
                <th>{{"labels.paymentstatus" | translate}}</th>
                <th>{{"labels.receiptno" | translate}}</th>
                <th class="custom-align-center">{{"labels.action" | translate}}</th>
              </tr>
            </thead>
            <tbody *ngIf="model.length > 0; else noResults">
              <!-- Loop through the model to display rows -->
              <tr *ngFor="let item of model; let i = index">
                <td>{{(page - 1) * itemsPerPage + i + 1}}</td>
                <td>{{ item.orn_no }}</td>
                <td>{{ item.refund_slip_no || '-' }}</td>
                <td>{{ item.rtt_app_no || '-'}}</td>
                <td>{{ item.orn_dt | date : "dd MMM yyyy HH:mm:ss" }}</td>
                <td>{{ item.txn_id || '-'}}</td>
                <td>{{ item.total_amt | number: '1.2-2' }}</td>
                <td>{{ item.rms_type }}</td>
                <td>{{ item.order_status}}</td>
                <td>{{ item.rcpt_no || '-'}}</td>

                <td class="text-center">
                  <button (click)="navigateToRefundInfo(item)" class="btn btnAdd">
                    {{"buttons.view" | translate}}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <ng-template #noResults>
            <tr style="height: 100px;">
              <td colspan="20" class="text-center">{{ "searchcriteriadoesnotmatch" | translate }}</td>
            </tr>
          </ng-template>

        </div>
      </div>
      <div class="MAPagination" *ngIf="isDisplay">
        <div class="fgSpacing">
          <div *ngIf="page * itemsPerPage < totalRecords">
            {{"showing" | translate}} {{ page * itemsPerPage }} {{"from" | translate }} {{ totalRecords }}
            {{"results" | translate }}
          </div>
          <div *ngIf="!(page * itemsPerPage < totalRecords)">
            {{"showing" | translate }} {{ totalRecords }} {{"from" | translate }} {{ totalRecords }}
            {{"results" | translate }}
          </div>
        </div>
        <div class="pagination-row">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle PaginControl" type="button" id="dropdownMenuButton"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ selectedValue }}
            </button>
            <div class="dropdown-menu dropdown-menu-white" aria-labelledby="dropdownMenuButton">
              <button class="dropdown-item" *ngFor="let singleItem of dropdownOptions" (click)="LoadData(singleItem)">
                {{ singleItem }}
              </button>
            </div>
          </div>

          <ngb-pagination [(page)]="page" [pageSize]="itemsPerPage" [collectionSize]="totalRecords" [maxSize]="3"
            (pageChange)="loadData()"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</body>