<div class="container-fluid clearfix noindex zeroPaddingRL">
  <nav class="navbar navbar-expand-sm navbar-dark marginRL">
    <div class="container-fluid d-flex justify-content-between zeroPaddingRL">
      <!-- LOGOS -->
      <div id="logo" class="d-flex align-items-center">
        <a id="jata-logo" href="https://www.kpdn.gov.my/ms/" target="_blank" rel="noopener noreferrer">
          <img alt="Malaysia" src="assets/logo/logo-jata-malaysia.png" />
        </a>
        <a id="ssm-logo" href="https://www.ssm.com.my/Pages/Home.aspx" target="_blank" rel="noopener noreferrer">
          <img alt="SSM" src="assets/logo/logo-ssm-new-resize.png" />

        </a>
      </div>

      <!-- Burger Menu -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#n_bar"
        aria-controls="navbarNavAltMarkup" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Nav Items -->
      <div class="collapse navbar-collapse" id="n_bar">
        
        <div class="navbar-nav ms-auto zeroPaddingRL">
          <div>
            <button class="btn btn-white" type="button" aria-expanded="false"
              style="font-weight: 600 !important; font-size: 14px; margin-bottom: 20px;">
              <a routerLink="/home">{{ 'menu.home' | translate }}</a>
            </button>
          </div>

            <!-- Catalogue-->
            <div class="dropdown" *ngIf="((username$ | async) !== undefined && (username$ | async) !== null)">
              <button class="btn btn-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
                style="font-weight: 600 !important; font-size: 14px; margin-bottom: 20px;">
                {{"menu.catalogue" | translate}}
              </button>
              <ul class="dropdown-menu dropdown-menu-white" aria-labelledby="dropdownMenuButton" style="font-size:14px;">
                <li>
                  <a class="dropdown-item" routerLink="/catalogue-product-service">{{"labels.catalogueproductservice" | translate}}</a>
                </li>
              </ul>
            </div>


          
           <!-- Refund -->
           <div class="dropdown" *ngIf="((username$ | async) !== undefined && (username$ | async) !== null)">
            <button class="btn btn-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
              style="font-weight: 600 !important; font-size: 14px; margin-bottom: 20px;">
              {{ 'menu.refund' | translate }}
              <!-- {{"menu.billing" | translate}} &<br> {{"menu.accrual" | translate}} -->
            </button>
            <ul class="dropdown-menu dropdown-menu-white" aria-labelledby="dropdownMenuButton" style="font-size:14px;">

                <li>
                  <a class="dropdown-item" routerLink="/refund-tht">{{"menu.transactionhistorytable" | translate}}</a>

                <!-- <li>
                  <a class="dropdown-item" routerLink="/refund-chargeback">{{"menu.refundchargeback" | translate}}</a>
                </li> -->

                <li>
                  <a class="dropdown-item" routerLink="/refund-refundform">{{"menu.refundform" | translate}}</a>
                </li>

              
            </ul>
          </div>

            <!-- Billing -->
           <!--<div class="dropdown" *ngIf="((username$ | async) !== undefined && (username$ | async) !== null)">
            <button class="btn btn-white dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"
              style="font-weight: 600 !important; font-size: 14px; margin-bottom: 20px;">
              {{ 'menu.billing' | translate }}
            </button>
            <ul class="dropdown-menu dropdown-menu-white" aria-labelledby="dropdownMenuButton" style="font-size:14px;">

                <li>
                  <a class="dropdown-item" routerLink="/billing-listing">{{"menu.billist" | translate}}</a>
                
                <li>
                  <a class="dropdown-item" routerLink="/billing-registration">{{"menu.bilreg" | translate}}</a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/billing-cancellation-search">{{"menu.billing-cancellation" | translate}}</a>
                </li>

                <li>
                  <a class="dropdown-item" routerLink="/billing-cancellation-listing">{{"menu.billingcancellationlisting" | translate}}</a>
                </li>

                <li>
                  <a class="dropdown-item" routerLink="/billing-adjustment-search">{{"menu.billingadjustmentsearch" | translate}}</a>
                </li>
              
            </ul>
          </div>
                -->

          <!-- Start User -->
          <div class="dropdown" >
            <div>
            <button class="btn btn-white dropdown-toggle" type="button" data-bs-toggle="dropdown" *ngIf="name$ | async as name" aria-expanded="false" style="font-weight: 600 !important; font-size: 14px; ">
              {{ name | uppercase }}
            </button>
            <ul class="dropdown-menu dropdown-menu-white" aria-labelledby="dropdownMenuButton" style="font-size:14px;" >
              <li>
                <a class="dropdown-item" routerLink="/logout">{{"menu.backtossm4u" | translate}}</a>
              </li>
              
            </ul>  
          </div>
          <div> 
            <p *ngIf="authenticated$ | async as authenticated" style="font-size: 12px; font-style: italic; color: green; text-align: center; margin: 0;">
              {{ authenticated ? 'verified' : 'unverified' }}
            </p>
          </div>         
          </div>
          <!-- End User -->

          <div class="dropdown">
            <!-- <button class="btn btn-white" id="loginButton"   type="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-weight: 600 !important; font-size: 14px; "
            *ngIf="(username$ | async) == null" (click)="Login()" routerLink="/home"> -->
            <button class="btn btn-white" id="loginButton" type="button" data-bs-toggle="dropdown" aria-expanded="false"
              style="font-weight: 600 !important; font-size: 14px; margin-bottom: 16px;" *ngIf="(username$ | async) == null"
              routerLink="/login">
              {{"menu.login" | translate}}
            </button>
          </div>

          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ selectedLanguage | uppercase}}
            </button>
            <div class="dropdown-menu dropdown-menu-white" aria-labelledby="dropdownMenuButton">
              <button class="dropdown-item" *ngFor="let lang of languages" (click)="useLanguage(lang)">
                {{ lang | uppercase }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>

<div id="header2">
  <div class="container-fluid clearfix noindex zeroPaddingRL">
    <nav class="navbar marginRL">
      <h3>
        <b>{{ dynamicMessage }}</b>
      </h3>
      <span><b>{{ formattedDatetime }}</b></span>
    </nav>
  </div>
</div>