<!-- crsstatus.component.html -->
<!-- <h1>Congratulation</h1> -->
<div class="status-container">
    <h1>Payment Status</h1>
    <div>
      <strong>Order Number:</strong>
      <span>{{ orn_no }}</span>
    </div>
    <div>
      <strong>Payment Status:</strong>
      <span>{{ pymt_status }}</span>
    </div>
    <div>
      <strong>Receipt Number:</strong>
      <span>{{ rcpt_no }}</span>
    </div>
    <div>
      <strong>Receipt Date:</strong>
      <span>{{ rcpt_dt }}</span>
    </div>
  </div>
  