<body *ngIf="permListAllow == 1" BodyContainer>
    <div class="PAContainer73">
        <div class="one-third">
            <div class="form-group">
                <label for="collectionSlipNo">{{"labels.chequeno" | translate}}</label>
                <input
                  type="text"
                  id="collectionSlipNo"
                  class="form-control"
                  [placeholder]="'labels.enterchequeno' | translate"
                  [(ngModel)]="chequeNo"
                />
              </div>
              <div class="form-group">
                <label for="orderReferenceNo">Bank</label>
                <div class="select-wrapper">
                  <!-- <select id="orderReferenceNo" class="form-control"  [(ngModel)]="chequeBankNm">
                    <option value="null" disabled selected>{{"labels.selectbank" | translate}}</option>
                    <option *ngFor="let bank of bankmodel" [value]="bank.nm_en" >
                      {{ bank.nm_en }}
                      
                    </option>
                  </select> -->

                      <!-- <ng-select [items]="bankmodel" bindLabel="nm_en" bindValue="nm_en" [(ngModel)]="chequeBankNm"
                        placeholder="{{ 'labels.selectbank' | translate }}" [clearable]="false" [searchable]="true" id="orderReferenceNo"
                        class="form-control">
                      </ng-select> -->

                      <ng-select [items]="bankmodel" bindLabel="nm_en" bindValue="nm_en" [(ngModel)]="chequeBankNm"
                        [placeholder]="!chequeBankNm ? ('labels.selectbank' | translate) : ''"  [clearable]="false" [searchable]="true" id="orderReferenceNo"
                        class="form-control">
                      </ng-select>
    
                </div>
            </div>
              <div class="form-group">
                <label for="customerName">{{"labels.receiptno" | translate}}</label>
                <input
                  type="text"
                  id="customerName"
                  class="form-control"
                  [placeholder]="'labels.enterreceiptno' | translate"
                  [(ngModel)]="chequeRcptNo"
                />
              </div>

              <div class="button-group">
                <button type="button" class="btn btnCancel" (click)="clearFields()">{{"buttons.clear" | translate}}</button>
                <button type="button" class="btn btnSearch" (click)="loadData()">{{"buttons.search" | translate}}</button>
              </div>
              <!-- <button type="button" class="btn btn-secondary" (click)="clearFields()">Clear</button> -->
              <!-- <button type="button" class="btn btn-primary ml-2" (click)="loadData()">Search ></button> -->
              
        </div>


<div class="two-thirds">
      <ul class="breadcrumbOTC">
        <li>
          <a [routerLink]="'/home'">{{"menu.home" | translate}}</a>
          <span class="breadcrumb-separator"> / </span>
        </li>
        <li>
          <a [routerLink]="'/otc-returned-cheque'">{{"labels.otcreturncheque" | translate}}</a>
        </li>
      </ul>

      <h1>{{"labels.otcreturncheque" | translate}}</h1>
      <!-- <h2>{{"labels.searchresults" | translate}}</h2> -->
      <div class="MATableContainer">
        <div class="MALoadingContainer">
          <!-- Loading spinner overlay -->
          <div *ngIf="isLoading" class="TableLoading-overlay d-flex align-items-center justify-content-center">
            <div class="spinner-border" role="status">
              <span class="sr-only"></span>
            </div>
          </div>
        <table class="MATable" [ngClass]="{ TableDimmed: isLoading }">
          <thead>
            <tr class="MATableHeader">
              <th>No</th>
              <th>{{"labels.chequeno" | translate}}</th>
              <th>Bank</th>
              <th>{{"labels.receiptno" | translate}}</th>
              <th>{{"labels.orderrefno" | translate}}</th>
              <th>{{"labels.counterid" | translate}}</th>
              <th>{{"labels.branchcode" | translate}}</th>
              <th>{{"labels.amountrm" | translate}}</th>
              <th>{{"labels.action" | translate}}</th>
            </tr>
          </thead>
          <tbody *ngIf="model.length > 0; else noResults">
            <!-- Loop through the model to display rows -->
            <tr *ngFor="let item of model; let i = index">
              <td>{{ (page - 1) * itemsPerPage + i + 1 }}</td>
              <td>{{ item.che_no}}</td>
              <td>{{ item.che_bank_nm }}</td>
              <td>{{ item.rcpt_no }}</td>
              <td>{{ item.orn_no }}</td>
              <td>{{ item.counter_id }}</td>
              <td>{{ item.branch_cd }}</td>
              <td>{{ item.che_amt| number: '1.2-2' }}</td>
              <td>
                <button [disabled] = "permViewAllow === 0"
                (click)="navigateToReceiptScreen(item)"
                class="btn btnAdd"
              > {{"buttons.view" | translate}}
              </button>

              </td>
            </tr>
          </tbody>
        </table>
        <ng-template #noResults>
          <tr style="height: 100px;">
            <td colspan="20" class="text-center">{{ "searchcriteriadoesnotmatch" | translate }}</td>
          </tr>
        </ng-template>

      </div>
    </div>
      <div class="MAPagination" *ngIf="isDisplay">
        <div class="fgSpacing">
          <div *ngIf="page * itemsPerPage < totalRecords">
            {{"showing" | translate}} {{ page * itemsPerPage }} {{"from" | translate }} {{ totalRecords }}
            {{"results" | translate }}
          </div>
          <div *ngIf="!(page * itemsPerPage < totalRecords)">
            {{"showing" | translate }} {{ totalRecords }} {{"from" | translate }} {{ totalRecords }}
            {{"results" | translate }}
          </div>
        </div>
        <div class="pagination-row extramargintop extramarginright">
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle PaginControl"
              type="button"
              id="dropdownMenuButton"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              {{ selectedValue }}
            </button>
            <div class="dropdown-menu dropdown-menu-white" aria-labelledby="dropdownMenuButton">
              <button
                class="dropdown-item"
                *ngFor="let singleItem of dropdownOptions"
                (click)="LoadData(singleItem)"
              >
                {{ singleItem }}
              </button>
            </div>
          </div>

          <ngb-pagination
            [(page)]="page"
            [pageSize]="itemsPerPage"
            [collectionSize]="totalRecords"
            (pageChange)="loadData()"
          ></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</body>


