<div style="margin:20px">
    <h1 style="color: red;text-align: center;">{{"labels.warning" | translate}}</h1>
</div>
<div style="margin:20px">
    <p>{{"All counters must be checked out before starting daily balancing. By clicking" | translate}}
        <span style="font-weight: bold;">'{{"Confirm" | translate}}'</span>
        {{"any open counters will be" | translate}} 
        <span style="font-weight: bold;">{{"forcefully  checked out" | translate}}</span>
        , {{"which may disrupt any ongoing transactions" | translate}}.
    </p>
    <p>
        {{"Please ensure that no payments are in progress at the counters before proceeding." | translate}}
    </p>
</div>

<div class="button-container">
    <button class="btn btnApply" type="button" (click)="confirm()">{{"buttons.confirm" | translate}}</button>
    <button class="btn btnCancel" type="button" (click)="cancel()">{{"buttons.cancel" | translate}}</button>
</div>

