@import '../../../app.component.scss';


.right-section73{
    background-color: white;
}

.form-group {
    margin-bottom: 15px;
  }
  
  .button-group {
    margin-top: 20px;
  }
  

  .btnApply{
    float:left;
  }

  .btnReset{
    float:right;
  }

  .btnExport {
    background-color: #21ba45;
    color: white;
    min-width: $MAButtonMinWidth;
    // float: right;
    // margin-right: 3%;
    margin-left: 90%;
  }

  .MAPagination {
    display: flex;
    flex-direction: column; 
    align-items: flex-end; 
}

.fgSpacing{
    margin-bottom:5px;
}

.btnView{
    background-color: #2185D0;
    color:white;
    width: 80px;
  //min-width: $MAButtonMinWidth;
  }

  .rangePosition {
    display: flex;
    align-items: center; /* Vertically align the content in the center */
  }


.languageWidth{
    width: 15%;
}

//style for dropdown start
:host ::ng-deep {

  .ng-select{
    padding-bottom: 6px;

    .ng-select-container{
      min-height: 0 !important;
      padding:0 !important;
      border-top: none !important;
    
      .ng-value-container{
        padding: 0;
        border: 0;
        }
      }
    }

    //adjust arrow, clear and cursor position
    .ng-select-single .ng-select-container {


      .ng-arrow-wrapper{
        bottom: 3px;
      }

      .ng-clear-wrapper{
        bottom: 0px;
      }

      .ng-value-container .ng-input{
        top:0px
      }

    }
}

:host ::ng-deep ng-dropdown-panel {

  top: auto !important;
 
}

//remove drop down underline
:host ::ng-deep ng-select .ng-select-container::after {
  border-bottom: 5px solid transparent !important;
}

//style for dropdown end

//checkbox start
:host ::ng-deep .mat-mdc-checkbox.mat-mdc-checkbox-checked .mdc-checkbox__background,
.mdc-checkbox__ripple {
  background-color: #21ba45 !important;
 // border-color: white !important;

  .mdc-checkbox__checkmark {
    color: white !important;
  }
}

:host ::ng-deep .mdc-form-field .mdc-label{
  padding-left: 0;
 }

 .checkBoxSsCd{
//  max-width: 50px;
  width: 15%;

 }
.checkBoxRow {
     display: flex;
     align-items: center;
     flex-wrap: wrap; //this allow overflow items to wrap to next line w/o exceed the 15% width

}
  
.checkBoxText{
  
  color: black !important;
}
//checkbox end

td{
  word-wrap: break-word;
  word-break: break-all;
}

