<form #form name="frmPayment" method="post" [attr.action]="apiURL + '/api/onlinepayment/v1/submitBillingPayment'">
    <input type="hidden" name="billing_no" [value]="billing_no">
    <!-- <input type="hidden" name="orn_no" [value]="orn_no"> -->
    <input type="hidden" name="ss_return_url" [value]="mockss_url + '/ssbilpaystatus'">

    <h3>Source System Submit Billing Payment</h3>
    <table>
        <tr>
            <td><label>Billing No :</label></td>
            <td><input type="text" style="width: 300px;" [(ngModel)]="billing_no" name="billingNo" maxlength="150"></td>
        </tr>
        <!-- <tr>
            <td><label>Order Reference No :</label></td>
            <td><input type="text"  style="width: 300px;" [(ngModel)]="orn_no" name="ornNo" maxlength="20"></td>
        </tr> -->
        <!-- <tr>
            <td><label>Return URL :</label></td>
            <td><input type="text"  style="width: 300px;" [(ngModel)]="ss_return_url" name="ssreturnurl"></td>
        </tr> -->
    </table>

    <button type="button" name="Submit" (click)="form.submit()">Submit</button>


    <div style="margin-top:25px">
        <div><strong>JSON Output</strong></div>
        <pre>{{ requestPayload | json }}</pre>
    </div>

</form>