<ng-container *ngIf="permListAllow === 1">

   <body class="BodyCointaner">
      <div class="leftPadding">
         <div *ngIf="error" class="error-box">
            <i class="bi bi-x-circle-fill error-icon"></i>
            <div>
               <strong>{{"validationerror"| translate}}</strong>
               <ul>
                  <ul>
                     <li *ngFor="let errorMsg of errorMessages">{{ errorMsg }}</li>
                  </ul>
               </ul>
            </div>
         </div>

         <div *ngIf="errorTaskNotUpdate" class="error-box">
            <i class="bi bi-x-circle-fill error-icon"></i>
            <div>
               <strong>{{"tasknotfound"| translate}}</strong>
               <ul>
                  <ul>
                     <li *ngFor="let errorMsgTaskNotUpdate of errorMessagesTaskNotUpdate">
                        {{"labels.thetaskstatushasbeenupdated.pleaserefreshthepagetoreflectthelatestchanges" |
                        translate}}</li>
                  </ul>
               </ul>
            </div>
         </div>
         <!-- <div class="LeftSectionPosition">{{"labels.Home / Setup & Maintenance / Master Fee Table" | translate}}</div> -->
         <h2 id="mftEditApproval">{{"labels.mfteditapproval" | translate}}</h2>
         <h5 id="requesterForm">{{"labels.requesterform" | translate}}</h5>
      </div>
      <div class="MALoadingContainerFormTable">
         <!-- Loading spinner overlay -->
         <div *ngIf="isLoading" class="TableLoading-overlay d-flex align-items-center justify-content-center">
            <div class="spinner-border" role="status">
               <span class="sr-only"></span>
            </div>
         </div>
         <form class="allFormClass" class="form-group" #formRef="ngForm" (ngSubmit)="handleFormSubmit(formRef)">
            <div class="formContainer">
               <div class="leftSection">
                  <table class="formTable">
                     <ng-container *ngIf=" totalRecords > 0 && totalMFTRecords > 0; else noResultsReqForm">
                        <tr>
                           <td>{{"labels.requestedby" | translate}}</td>
                           <td>: {{requesterName}}</td>
                        </tr>
                        <tr>
                           <td>{{"labels.requesteddate" | translate}}</td>
                           <td>: {{dtCreated}}</td>
                        </tr>
                        <tr>
                           <td>{{"labels.feedetailname" | translate}}</td>
                           <td>: {{rFeeDetNm}}</td>
                        </tr>
                        <tr>
                           <td>{{"labels.unitfee(RM)" | translate}}</td>
                           <td>: {{rFeeAmt | number:'1.2-2'}}</td>
                        </tr>
                        <tr>
                           <td>{{"labels.sourcesystem" | translate}}</td>
                           <td>:
                              <!-- <mat-checkbox *ngFor="let item of checkboxRssCd" [checked]="true" [disabled]="true">
                        <div class="checkBoxText">
                           {{item}}
                        </div>
                      </mat-checkbox> -->
                              {{rSsCdWithSpace}}
                           </td>
                        </tr>
                        <tr>
                           <td>{{"labels.promotionstartdate" | translate}}</td>
                           <td>: {{rPromoStartDt}}</td>
                        </tr>
                        <tr>
                           <td>{{"labels.promotionenddate" | translate}}</td>
                           <td>: {{rPromoEndDt}}</td>
                        </tr>
                        <tr>
                           <td>{{"labels.promotionfee(RM)" | translate}}</td>
                           <td>: {{rPromoFee | number:'1.2-2'}}</td>
                        </tr>
                        <tr>
                           <td>{{"labels.latelodgementrequired?" | translate}}</td>
                           <td>: {{rLlRequired === 1 ? 'Yes' : rLlRequired === 0 ? 'No' : ''}}
                              <!-- <mat-checkbox *ngIf="rLlRequired === 1" [checked]="true" [disabled]="true">
                      </mat-checkbox>-->
                           </td>
                        </tr>
                        <tr>
                           <td>{{"labels.Public" | translate}} <span style="color: red;">*</span></td>
                           <td>: {{placeHolderisPublic === 1 ? 'Yes' : placeHolderisPublic === 0 ? 'No' : ''}}
                        </tr>
                        <tr>
                           <td class="addNotes">{{"labels.additionalnotes(Limit 500 characters)" | translate}}</td>
                           <td class="addNotesWrapper">: {{rAddNotes}}</td>
                        </tr>
                     </ng-container>
                     <ng-template #noResultsReqForm>
                        <tr style="height: 100px;">
                           <td colspan="20" class="text-center">{{"norecordsfound"| translate}}</td>
                        </tr>
                     </ng-template>
                  </table>
                  <h5 id="mftItemDetails">{{"labels.mftitemdetails" | translate}}</h5>
                  <table class="MATable">
                     <thead>
                        <tr class="header">
                           <th style="width: 50px;">No.</th>
                           <th>{{"labels.parameter" | translate}}</th>
                           <th style="width: 350px;">{{"labels.currentvalue" | translate}}</th>
                           <th style="width: 350px;">{{"labels.requestedvalue" | translate}}</th>
                        </tr>
                     </thead>
                     <ng-container *ngIf=" totalRecords > 0 && totalMFTRecords > 0; else noResults">
                        <tbody *ngIf=" totalRecords > 0 && totalMFTRecords > 0">
                           <tr>
                              <td>1</td>
                              <td *ngIf="notReject">{{"labels.feedetailid" | translate}} <span
                                    style="color: red;">*</span></td>
                              <td *ngIf="!notReject">{{"labels.feedetailid" | translate}}</td>
                              <td>{{currentFeeDetailId}}</td>
                              <td>{{currentFeeDetailId}}</td>
                              <!-- <td *ngIf="!inputDetails">{{displayFeeDetailId}}</td> -->
                           </tr>
                           <tr>
                              <td>2</td>
                              <td *ngIf="notReject">{{"labels.feegroup" | translate}} <span style="color: red;">*</span>
                              </td>
                              <td *ngIf="!notReject">{{"labels.feegroup" | translate}}</td>
                              <td>{{currentFeeGroupNmEn}}</td>
                              <td>
                                 <ng-select name="feeGroupId" [(ngModel)]="feeGroupId" [required]="notReject"
                                    #feeGroupIdRef="ngModel" dropdownPosition="bottom">
                                    <ng-option *ngFor="let item of feeGroups"
                                       [value]="item.fee_grp_id">{{item.fee_grp_nm_en}}</ng-option>
                                 </ng-select>
                                 <div
                                    *ngIf="feeGroupIdRef.errors && feeGroupIdRef.errors['required'] && feeGroupIdRef.touched"
                                    class="error-text">
                                    {{"labels.feegroupisrequired" | translate}}
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <td>3</td>
                              <td *ngIf="notReject">{{"labels.feedetailnameen" | translate}} <span
                                    style="color: red;">*</span></td>
                              <td *ngIf="!notReject">{{"labels.feedetailnameen" | translate}}</td>
                              <td>{{currentFeeDetailNmEn}}</td>
                              <td>
                                 <input type="text" class="form-control" name="feeDetailNmE" [(ngModel)]="feeDetailNmE"
                                    [required]="notReject" #feeDetailNmERef="ngModel" maxlength="100">
                                 <div
                                    *ngIf="feeDetailNmERef.errors && feeDetailNmERef.errors['required'] && feeDetailNmERef.touched"
                                    class="error-text">
                                    {{"labels.feedetailname(EN)isrequired" | translate}}
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <td>4</td>
                              <td *ngIf="notReject">{{"labels.feedetailnamebm" | translate}} <span
                                    style="color: red;">*</span></td>
                              <td *ngIf="!notReject">{{"labels.feedetailnamebm" | translate}}</td>
                              <td>{{currentFeeDetailNmBm}}</td>
                              <td>
                                 <input type="text" class="form-control" name="feeDetailNmB" [(ngModel)]="feeDetailNmB"
                                    [required]="notReject" #feeDetailNmBRef="ngModel" maxlength="100">
                                 <div
                                    *ngIf="feeDetailNmBRef.errors && feeDetailNmBRef.errors['required'] && feeDetailNmBRef.touched"
                                    class="error-text">
                                    {{"labels.feedetailname(BM)isrequired" | translate}}
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <td>5</td>
                              <td *ngIf="notReject">{{"labels.unitfee(RM)" | translate}} <span
                                    style="color: red;">*</span></td>
                              <td *ngIf="!notReject">{{"labels.unitfee(RM)" | translate}}</td>
                              <td>{{currentUnitFee | number:'1.2-2'}}</td>
                              <td>
                                 <input type="text" class="form-control" id="feeAmt" name="feeAmt" [(ngModel)]="feeAmt"
                                    #feeAmtRef="ngModel" [required]="notReject" maxlength="10"
                                    pattern="^\d+(\.\d{1,2})?$" (blur)="formatInput(feeAmtRef)"
                                    (input)="validateInput(feeAmtRef)"
                                    [ngClass]="{'is-invalid': feeAmtRef.invalid && (feeAmtRef.dirty || feeAmtRef.touched)}">
                                 <div *ngIf="feeAmtRef.errors?.['required'] && feeAmtRef.touched" class="error-text">
                                    {{"labels.decimalinputisrequired" | translate}}
                                 </div>
                                 <div *ngIf="feeAmtRef.errors?.['pattern'] && feeAmtRef.touched" class="error-text">
                                    {{"labels.enterapositivedecimalnumber" | translate}}
                                 </div>
                                 <div *ngIf="feeAmtRef.errors?.['negative'] && feeAmtRef.touched" class="error-text">
                                    {{"labels.negativenumbersarenotallowed" | translate}}
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <td>6</td>
                              <td>{{"labels.promotionstartdate" | translate}}</td>
                              <td>{{currentPromoStartDate}}</td>
                              <td>
                                 <input type="text" class="form-control" bsDatepicker [(ngModel)]="promoStartDate"
                                    name="promoStartDate" (keydown)="clearStartDate($event)" autocomplete="off"
                                    [minDate]="minPromoStartDate" (ngModelChange)="onStartDateChange($event)"
                                    [bsConfig]="{ dateInputFormat: 'DD MMM YYYY', showWeekNumbers:false }">
                                 <div *ngIf="isPromoStartDateNotSelected()" class="error-text">
                                    {{"labels.pleaseselectpromotionstartdate" | translate}}
                                 </div>
                                 <div *ngIf="isPromoStartDateInvalid()" class="error-text">
                                    {{"labels.promotionstartdateshouldbegreaterthantoday" | translate}}
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <td>7</td>
                              <td>{{"labels.promotionenddate" | translate}}</td>
                              <td>{{currentPromoEndDate}}</td>
                              <td>
                                 <input type="text" class="form-control" bsDatepicker [(ngModel)]="promoEndDate"
                                    name="promoEndDate" (keydown)="clearEndDate($event)" [minDate]="minPromoEndDate" autocomplete="off"
                                    [bsConfig]="{ dateInputFormat: 'DD MMM YYYY', showWeekNumbers:false }">
                                 <div *ngIf="isPromoEndDateNotSelected()" class="error-text">
                                    {{"labels.pleaseselectpromotionenddate" | translate}}
                                 </div>
                                 <div *ngIf="isPromoEndDateInvalid()" class="error-text">
                                    {{"labels.promotionenddateshouldbegreaterthantoday" | translate}}
                                 </div>
                                 <div *ngIf="isPromoEndDateLessThanPromoEndDate()" class="error-text">
                                    {{"labels.promotionenddateshouldbegreaterthanpromotionstartdate" | translate}}
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <td>8</td>
                              <td>{{"labels.promotionfee(RM)" | translate}}</td>
                              <td>{{currentPromoFee | number:'1.2-2'}}</td>
                              <td>
                                 <input type="text" class="form-control" id="promoFee" name="promoFee"
                                    [(ngModel)]="promoFee" maxlength="10" #promoFeeRef="ngModel"
                                    pattern="^\d+(\.\d{1,2})?$" (blur)="formatInputPromoFee(promoFeeRef)"
                                    (input)="validateInput(promoFeeRef)"
                                    [ngClass]="{'is-invalid': promoFeeRef.invalid && (promoFeeRef.dirty || promoFeeRef.touched)}">
                                 <div *ngIf="promoFeeRef.errors?.['pattern'] && promoFeeRef.touched" class="error-text">
                                    {{"labels.enterapositivedecimalnumber" | translate}}
                                 </div>
                                 <div *ngIf="promoFeeRef.errors?.['negative'] && promoFeeRef.touched"
                                    class="error-text">
                                    {{"labels.negativenumbersarenotallowed" | translate}}
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <td>9</td>
                              <td *ngIf="notReject">{{"labels.taxcode" | translate}} <span style="color: red;">*</span>
                              </td>
                              <td *ngIf="!notReject">{{"labels.taxcode" | translate}}</td>
                              <td>{{currentTaxCd}}</td>
                              <td>
                                 <ng-select name="taxCdId" [(ngModel)]="taxCdId" [required]="notReject"
                                    #taxCdRef="ngModel" dropdownPosition="bottom">
                                    <ng-option *ngFor="let item of taxCode"
                                       [value]="item.tax_cd_id">{{item.tax_cd}}</ng-option>
                                 </ng-select>
                                 <div *ngIf="taxCdRef.errors && taxCdRef.errors['required']  && taxCdRef.touched"
                                    class="error-text">
                                    {{"labels.taxcodeisrequired" | translate}}
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <td>10</td>
                              <td *ngIf="notReject">{{"labels.allowOTC" | translate}} <span style="color: red;">*</span>
                              </td>
                              <td *ngIf="!notReject">{{"labels.allowOTC" | translate}}</td>
                              <td>{{currentAllowOTC === 1 ? 'Yes' : currentAllowOTC === 0 ? 'No' : ''}}</td>
                              <td>
                                 <ng-select name="allowOTC" [(ngModel)]="allowOTC" [required]="notReject"
                                    #allowOTCRef="ngModel" dropdownPosition="bottom">
                                    <ng-option *ngFor="let item of initialNumber"
                                       [value]="item.value">{{item.label}}</ng-option>
                                 </ng-select>
                                 <div
                                    *ngIf="allowOTCRef.errors && allowOTCRef.errors['required']  && allowOTCRef.touched"
                                    class="error-text">
                                    {{"labels.allowOTCisrequired" | translate}}
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <td>11</td>
                              <td>{{"labels.latelodgementparentID" | translate}}</td>
                              <td>{{currentLlParentId}}</td>
                              <!-- <td>
                                 <ng-select name="llParentId" [(ngModel)]="llParentId" dropdownPosition="bottom">
                                    <ng-option *ngFor="let item of mftsForLlPID"
                                       [value]="item.fee_detail_id">{{item.fee_detail_id}}</ng-option>
                                 </ng-select>
                              </td> -->
                              <td>
                                 <ng-select class="llParentSelect" name="llParentId" [(ngModel)]="llParentId"
                                    dropdownPosition="bottom" [items]="mftsForLlPID" bindLabel="fee_detail_id"
                                    bindValue="fee_detail_id" [virtualScroll]="true" [typeahead]="llParentSearch$"
                                    (scrollToEnd)="loadMoreLlParent()" [loading]="loadingLlParent">

                                    <ng-template ng-label-tmp let-item="item">
                                       {{ item.fee_detail_id }}
                                    </ng-template>

                                    <ng-template ng-option-tmp let-item="item">
                                       {{ item.fee_detail_id }}
                                    </ng-template>
                                 </ng-select>
                              </td>
                           </tr>
                           <tr>
                              <td>12</td>
                              <td>{{"labels.latelodgementstartday" | translate}}</td>
                              <td>{{currentLlStartDay}}</td>
                              <td>
                                 <input type="text" class="form-control" id="llStartDay" name="llStartDay"
                                    [(ngModel)]="llStartDay" maxlength="10" pattern="^\d*$" #llStartDayRef="ngModel" autocomplete="off"
                                    (blur)="formatInputllStartDay(llStartDayRef)"
                                    [ngClass]="{'is-invalid': llStartDayRef.invalid && llStartDayRef.dirty}">
                                 <div *ngIf="llStartDayRef.errors?.['pattern'] && llStartDayRef.dirty"
                                    class="error-text">
                                    {{"labels.enterapositiveinteger" | translate}}
                                 </div>
                           </tr>
                           <tr>
                              <td>13</td>
                              <td>{{"labels.latelodgementstartmonth" | translate}}</td>
                              <td>{{currentLlStartMth}}</td>
                              <td>
                                 <input type="text" class="form-control" id="llStartMth" name="llStartMth"
                                    [(ngModel)]="llStartMth" maxlength="10" pattern="^\d*$" #llStartMthRef="ngModel" autocomplete="off"
                                    (blur)="formatInputllStartMth(llStartMthRef)"
                                    [ngClass]="{'is-invalid': llStartMthRef.invalid && llStartMthRef.dirty}">
                                 <div *ngIf="llStartMthRef.errors?.['pattern'] && llStartMthRef.dirty"
                                    class="error-text">
                                    {{"labels.enterapositiveinteger" | translate}}
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <td>14</td>
                              <td>{{"labels.latelodgementendday" | translate}}</td>
                              <td>{{currentLlEndDay}}</td>
                              <td>
                                 <input type="text" class="form-control" id="llEndDay" name="llEndDay"
                                    [(ngModel)]="llEndDay" maxlength="10" pattern="^\d*$" #llEndDayRef="ngModel" autocomplete="off"
                                    (blur)="formatInputllEndDay(llEndDayRef)"
                                    [ngClass]="{'is-invalid': llEndDayRef.invalid && llEndDayRef.dirty}">
                                 <div *ngIf="llEndDayRef.errors?.['pattern'] && llEndDayRef.dirty" class="error-text">
                                    {{"labels.enterapositiveinteger" | translate}}
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <td>15</td>
                              <td>{{"labels.latelodgementendmonth" | translate}}</td>
                              <td>{{currentLlEndMth}}</td>
                              <td>
                                 <input type="text" class="form-control" id="llEndMth" name="llEndMth"
                                    [(ngModel)]="llEndMth" maxlength="10" pattern="^\d*$" #llEndMthRef="ngModel" autocomplete="off"
                                    (blur)="formatInputllEndMth(llEndMthRef)"
                                    [ngClass]="{'is-invalid': llEndMthRef.invalid && llEndMthRef.dirty}">
                                 <div *ngIf="llEndMthRef.errors?.['pattern'] && llEndMthRef.dirty" class="error-text">
                                    {{"labels.enterapositiveinteger" | translate}}
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <td>16</td>
                              <td *ngIf="notReject">{{"labels.ledgercode" | translate}} <span
                                    style="color: red;">*</span></td>
                              <td *ngIf="!notReject">{{"labels.ledgercode" | translate}}</td>
                              <td>{{currentLedgerCd}}</td>
                              <td>
                                 <input type="text" class="form-control" [(ngModel)]="ledgerCd" name="ledgerCd"
                                    [required]="notReject" #ledgerCdRef="ngModel" maxlength="50">
                                 <div
                                    *ngIf="ledgerCdRef.errors && ledgerCdRef.errors['required']  && ledgerCdRef.touched"
                                    class="error-text">
                                    {{"labels.ledgercodeisrequired" | translate}}
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <td>17</td>
                              <td *ngIf="notReject">{{"labels.sourcesystemcode" | translate}} <span
                                    style="color: red;">*</span></td>
                              <td *ngIf="!notReject">{{"labels.sourcesystemcode" | translate}}</td>
                              <td>
                                 <!-- <div class="checkboxRow">
                            <mat-checkbox *ngFor="let item of currentCheckboxSsCd" [checked]="true" [disabled]="true">
                            <div class="checkBoxText">
                               {{item}}
                            </div>
                            </mat-checkbox>
                         </div> -->
                                 {{currentSsCdWithSpace}}
                              </td>
                              <td>
                                 <ng-select name="selectedSourceSystemCodes" [(ngModel)]="selectedSourceSystemCodes"
                                    [required]="notReject" #sourceSystemCodeRef="ngModel" [multiple]="true"
                                    dropdownPosition="bottom">
                                    <ng-option *ngFor="let item of sourceSystemCodes"
                                       [value]="item.ss_cd">{{item.ss_cd}}</ng-option>
                                 </ng-select>
                                 <div
                                    *ngIf="sourceSystemCodeRef.errors && sourceSystemCodeRef.errors['required'] && sourceSystemCodeRef.touched"
                                    class="error-text">
                                    {{"labels.sourcesystemcodeisrequired" | translate}}
                                 </div>
                              </td>
                              <!-- <td *ngIf="!inputDetails && displaySsCd === null"></td>
                        <td *ngIf="!inputDetails && displaySsCd !== null"> -->
                              <!-- <div class="checkboxRow">
                         <mat-checkbox *ngFor="let item of checkboxSsCd" [checked]="true" [disabled]="true">
                         <div class="checkBoxText">
                            {{item}}
                         </div>
                         </mat-checkbox>
                        </div> -->
                              <!-- {{ssCdWithSpace}}
                       </td> -->
                           </tr>
                           <tr>
                              <td>18</td>
                              <td>{{"labels.datecreated" | translate}}</td>
                              <td>{{currentDtCreated}}</td>
                              <td>-</td>
                           </tr>
                           <tr>
                              <td>19</td>
                              <td>{{"labels.createdby" | translate}}</td>
                              <td>{{currentCreatedByNm}}</td>
                              <td>-</td>
                           </tr>
                           <tr>
                              <td>20</td>
                              <td>{{"labels.datemodified" | translate}}</td>
                              <td>{{currentDtModified}}</td>
                              <td>-</td>
                           </tr>
                           <tr>
                              <td>21</td>
                              <td>{{"labels.modifiedby" | translate}}</td>
                              <td>{{currentModifiedByNm}}</td>
                              <td>-</td>
                           </tr>
                           <tr>
                              <td>22</td>
                              <td *ngIf="notReject">{{"labels.mftstatus" | translate}} <span
                                    style="color: red;">*</span></td>
                              <td *ngIf="!notReject">{{"labels.mftstatus" | translate}}</td>
                              <td>{{currentStatus === "A" ? "Active" : currentStatus === "D" ? "Inactive" : ''}}</td>
                              <td>
                                 <ng-select name="mftStatus" [(ngModel)]="mftStatus" [required]="notReject"
                                    #mftStatusRef="ngModel" dropdownPosition="bottom">
                                    <ng-option *ngFor="let item of mftStatusOptions"
                                       [value]="item.value">{{item.label}}</ng-option>
                                 </ng-select>
                                 <div
                                    *ngIf="mftStatusRef.errors && mftStatusRef.errors['required'] && mftStatusRef.touched"
                                    class="error-text">
                                    {{"labels.mftstatusisrequired" | translate}}
                                 </div>
                              </td>
                           </tr>
                           <tr>
                              <td>23</td>
                              <td>{{"labels.Public" | translate}} *</td>
                              <td>{{currentIsPublic === 0 ? "No" : currentIsPublic === 1 ? "Yes" : ''}}</td>
                              <td>
                                 <ng-select name="isPublic" [(ngModel)]="isPublic" required #isPublicRef="ngModel"
                                    dropdownPosition="bottom">
                                    <ng-option *ngFor="let item of initialNumber"
                                       [value]="item.value">{{item.label}}</ng-option>
                                 </ng-select>
                                 <div
                                    *ngIf="isPublicRef.errors && isPublicRef.errors['required']  && isPublicRef.touched"
                                    class="error-text">
                                    {{"labels.is Public is required" | translate}}
                                 </div>
                              </td>
                           </tr>
                        </tbody>
                     </ng-container>
                     <ng-template #noResults>
                        <tr style="height: 100px;">
                           <td colspan="20" class="text-center">{{"norecordsfound"| translate}}</td>
                        </tr>
                     </ng-template>
                  </table>
               </div>
               <div class="rightSection">
                  <div class="rightSectionContainer">
                     <table class="taskActionTable">
                        <ng-container *ngIf="totalRecords > 0 && totalMFTRecords > 0; else noResultsTaskAction">
                           <tr>
                              <td>
                                 <h5>{{"labels.approveraction" | translate}}</h5>
                              </td>
                           </tr>
                           <!-- <tr>
                        <td>
                          <h6>{{"labels.actiontype" | translate}}: {{actionType}}</h6>
                        </td>
                     </tr> -->
                           <div class="divider form-group">
                              <tr>
                                 <td><label>{{"labels.neweffectivedate" | translate}}</label></td>
                              </tr>
                              <tr>
                                 <div class="effectiveDateColumn">
                                    <td id="effectiveDate" style="background-color: #e9ecef;">{{effectiveDate}}</td>
                                 </div>
                              </tr>
                           </div>
                           <div *ngIf="decisionDetails" class="divider form-group">
                              <tr>
                                 <td>
                                    <label>{{"labels.decision" | translate}} <span
                                          style="color: red;">*</span></label><br>
                                 </td>
                              </tr>
                              <tr>
                                 <td>
                                    <ng-select name="decision" [(ngModel)]="decision" (change)="onDecisionChange()"
                                       required #decisionnoRef="ngModel" dropdownPosition="bottom">
                                       <ng-option *ngFor="let item of decisionOption"
                                          [value]="item.value">{{item.label}}</ng-option>
                                    </ng-select>
                                    <div
                                       *ngIf="decisionnoRef.errors && decisionnoRef.errors['required']  && decisionnoRef.touched"
                                       class="error-text">
                                       {{"labels.decisionisrequired" | translate}}
                                    </div>
                                 </td>
                              </tr>
                           </div>
                           <div class="divider form-group">
                              <tr>
                                 <td>
                                    <label>{{"labels.remarks(Limit 500 characters)" | translate}} <span
                                          style="color: red;">*</span></label><br>
                                 </td>
                              </tr>
                              <tr>
                                 <td>
                                    <textarea class="form-control" rows="18" cols="40" name="remark"
                                       [(ngModel)]="textRemarks" required #textRemarksRef="ngModel"
                                       maxlength="500"></textarea>
                                    <div
                                       *ngIf="textRemarksRef.errors && textRemarksRef.errors['required']  && textRemarksRef.touched"
                                       class="error-text">
                                       {{"labels.remarksisrequired" | translate}}
                                    </div>
                                 </td>
                              </tr>
                           </div>
                           <div *ngIf="decisionDetails" class="divider form-group">
                              <tr>
                                 <td><label *ngIf="!disableApprover==true">{{"labels.selectapprover(Finance HOD)" |
                                       translate}} <span style="color: red;">*</span></label></td>
                              </tr>
                              <tr>
                                 <td>
                                    <div *ngIf="!disableApprover==true">
                                       <ng-select name="ssm4uuserrefno" [(ngModel)]="ssm4uuserrefno" required
                                          #ssm4uuserrefnoRef="ngModel" dropdownPosition="bottom">
                                          <ng-option *ngFor="let item of users"
                                             [value]="item.ssm4uuserrefno">{{item.nm}}</ng-option>
                                       </ng-select>
                                       <div
                                          *ngIf="ssm4uuserrefnoRef.errors && ssm4uuserrefnoRef.errors['required']  && ssm4uuserrefnoRef.touched"
                                          class="error-text">
                                          {{"labels.approverisrequired" | translate}}
                                       </div>
                                    </div>
                                 </td>
                              </tr>
                           </div>
                           <tr>
                              <td>
                                 <div class="button-group">
                                    <button type="submit" class="btn btnSubmit">{{"buttons.submit" |
                                       translate}}</button>
                                    <button type="button" class="btn btnCancel" (click)="cancel()">{{"buttons.back" |
                                       translate}}</button>
                                 </div>
                              </td>
                           </tr>
                        </ng-container>
                        <ng-template #noResultsTaskAction>
                           <tr style="height: 100px;">
                              <td colspan="20" class="text-center">{{"norecordsfound"| translate}}</td>
                           </tr>
                        </ng-template>
                     </table>
                  </div>
               </div>
            </div>
         </form>
      </div>
      <div class="marginTopAndBottom"></div>
      <!--Supporting Document Table-->
      <div class="MALoadingContainer">
         <!-- Loading spinner overlay -->
         <div *ngIf="isLoadingSupDoc" class="TableLoading-overlay d-flex align-items-center justify-content-center">
            <div class="spinner-border" role="status">
               <span class="sr-only"></span>
            </div>
         </div>
         <h2>{{"labels.supportingdocument(s)" | translate}}</h2>
         <div class="tableWrapper">
            <table class="MATable" [ngClass]="{'TableDimmed': isLoadingSupDoc}">
               <thead>
                  <tr>
                     <th>No.</th>
                     <th style="width: 700px;">{{"labels.supportingdocument(s)" | translate}}</th>
                     <th>{{"labels.uploadedby" | translate}}</th>
                     <th>{{"labels.uploadedon" | translate}}</th>
                     <th>{{"labels.filesize" | translate}}</th>
                  </tr>
               </thead>
               <ng-container *ngIf="totalRecordsSupDoc>0; else noResultsSupDoc">
                  <tbody *ngIf="isDisplaySupDoc">
                     <tr *ngFor="let item of mftwfSupDocs; let i = index">
                        <td>{{ (pageSupDoc - 1) * itemsPerPageSupDoc + i + 1 }}</td>
                        <td>
                           <a style="cursor: pointer" (click)="downloadFile(item.file_nm, item.wfdoc_id)">{{
                              item.file_nm }}</a>
                        </td>
                        <td>{{item.modified_by}}</td>
                        <td>{{item.dt_modified}}</td>
                        <td>
                           {{ item.file_size_kb < 1000 ? item.file_size_kb + ' Bytes' : (item.file_size_kb < 1000000 ?
                              (item.file_size_kb / 1000).toFixed(2) + ' KB' : (item.file_size_kb / 1000000).toFixed(2)
                              + ' MB' ) }} </td>
                     </tr>
                  </tbody>
               </ng-container>
               <ng-template #noResultsSupDoc>
                  <tr style="height: 100px;">
                     <td colspan="20" class="text-center">{{"norecordsfound"| translate}}</td>
                  </tr>
               </ng-template>
            </table>
            <div class="MAPagination">
               <div class="fgSpacing">
                  <div class="flexContainer">
                     <div class="resultDisplay">
                        <div *ngIf="pageSupDoc * itemsPerPageSupDoc < totalRecordsSupDoc">
                           {{"showing" | translate}} {{ pageSupDoc * itemsPerPageSupDoc }} {{"from" | translate}} {{
                           totalRecordsSupDoc }} {{"results" | translate}}
                        </div>
                        <div *ngIf="!(pageSupDoc * itemsPerPageSupDoc < totalRecordsSupDoc)">
                           {{"showing" | translate}} {{ totalRecordsSupDoc }} {{"from" | translate}} {{
                           totalRecordsSupDoc }} {{"results" | translate}}
                        </div>
                     </div>
                  </div>
                  <div class="pagination-row paginationRight">
                     <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle PaginControl" type="button"
                           id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           {{ selectedValueSupDoc }}
                        </button>
                        <div class="dropdown-menu dropdown-menu-white" aria-labelledby="dropdownMenuButton">
                           <button class="dropdown-item" *ngFor="let singleItem of dropdownOptionsSupDoc"
                              (click)="LoadDataSupDoc(singleItem)">
                              {{singleItem }}
                           </button>
                        </div>
                     </div>
                     <div>
                        <ngb-pagination [(page)]="pageSupDoc" [pageSize]="itemsPerPageSupDoc"
                           [collectionSize]="totalRecordsSupDoc" (pageChange)="loadDataSupDoc()"></ngb-pagination>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="MALoadingContainer">
         <!-- Loading spinner overlay -->
         <div *ngIf="isLoadingHist" class="TableLoading-overlay d-flex align-items-center justify-content-center">
            <div class="spinner-border" role="status">
               <span class="sr-only"></span>
            </div>
         </div>
         <h2>{{"labels.historyforrequestid" | translate}} {{taskId}}</h2>
         <div class="tableWrapper">
            <table class="MATable" [ngClass]="{'TableDimmed': isLoadingHist}">
               <thead>
                  <tr class="MATableHeader">
                     <th>No.</th>
                     <th style="width: 300px;">{{"labels.action" | translate}}</th>
                     <th>{{"labels.actiontimestamp" | translate}}</th>
                     <th>{{"labels.performedby" | translate}}</th>
                     <th>{{"labels.assignedto" | translate}}</th>
                     <th style="width: 300px;">{{"labels.remarks" | translate}}</th>
                  </tr>
               </thead>
               <ng-container *ngIf="totalRecordsHist>0; else noResultsHist">
                  <tbody *ngIf="isDisplayHist">
                     <tr *ngFor="let item of mftwfHis; let i = index">
                        <td>{{ (pageHist - 1) * itemsPerPageHist + i + 1 }}</td>
                        <td>{{item.status_en}}</td>
                        <td>{{item.dt_activity}}</td>
                        <td>{{item.act_by_nm}} </td>
                        <td>{{item.assign_to_nm || '-'}}</td>
                        <td class="remarks">{{item.remark}}</td>
                     </tr>
                  </tbody>
               </ng-container>
               <ng-template #noResultsHist>
                  <tr style="height: 100px;">
                     <td colspan="20" class="text-center">{{"norecordsfound"| translate}}</td>
                  </tr>
               </ng-template>
            </table>
            <div class="MAPagination">
               <div class="fgSpacing">
                  <div class="flexContainer">
                     <div class="resultDisplay">
                        <div *ngIf="pageHist * itemsPerPageHist < totalRecordsHist">
                           {{"showing" | translate}} {{ pageHist * itemsPerPageHist }} {{"from" | translate}} {{
                           totalRecordsHist }} {{"results" | translate}}
                        </div>
                        <div *ngIf="!(pageHist * itemsPerPageHist < totalRecordsHist)">
                           {{"showing" | translate}} {{ totalRecordsHist }} {{"from" | translate}} {{ totalRecordsHist
                           }} {{"results" | translate}}
                        </div>
                     </div>
                  </div>
                  <div class="pagination-row paginationRight">
                     <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle PaginControl" type="button"
                           id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           {{ selectedValueHist }}
                        </button>
                        <div class="dropdown-menu dropdown-menu-white" aria-labelledby="dropdownMenuButton">
                           <button class="dropdown-item" *ngFor="let singleItem of dropdownOptionsHist"
                              (click)="LoadDataHist(singleItem)">
                              {{singleItem }}
                           </button>
                        </div>
                     </div>
                     <div>
                        <ngb-pagination [(page)]="pageHist" [pageSize]="itemsPerPageHist"
                           [collectionSize]="totalRecordsHist" (pageChange)="loadDataHist()"></ngb-pagination>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="marginFromFooter"></div>
   </body>
</ng-container>