<body class="BodyCointaner">
        <!-- Error Box -->
    <div *ngIf="isLoading ? false : isBillUnauth" class="alert alert-danger" style="margin-top: 1%;margin-left: 3%;margin-right: 3%;margin-bottom: 0%;">
        <i class="bi bi-x-circle-fill error-icon"></i>
        <strong>{{ 'labels.noperm' | translate }}</strong>
        <p class="indented-text">{{ 'labels.noauthbill' | translate }}</p>
    </div>
    <div class="PAContainer73">
    <div class="MALoadingContainer">
      <div id="loading-overlay" *ngIf="isLoading" class="loading-overlay" >
          <div class="white-box">
              <div class="spinner-container">
                  <div class="loader"></div>
                  <img src="assets/logo/logo-ssm.png" alt="Loading..." />
              </div>
          </div>
        </div>
    </div>

    </div>
    <div class="order-info">
        <h2 style="margin-left: 0%" >{{ "labels.billingdetails" | translate }}</h2>
        <div class="order-details">
            <div class="left-section">
                <!-- <button class="btn btnEdit" type="button" (click)="cancelReceipt()"
                    [disabled]="!isOrderInfoFinishLoading">
                    {{"buttons.cancelreceipt" | translate}}
                </button> -->
                <label class="bold">{{"labels.STATUS" | translate}}:</label>
            </div>
            <label class="bold" style="color: #21ba45;">
                {{getBillingStatusName(status)}}
            </label>
        </div>
    </div>

    <!--whole page loading start-->

    <div class="MALoadingContainerFormTable tableWrapper">
        <div *ngIf="isLoading"
            class="TableLoading-overlay d-flex align-items-center justify-content-center" style= "z-index: auto;">
            <div class="spinner-border" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
        <div>
            <table [ngClass]="{ TableDimmed: isLoading }">
                <tr>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.customerid" | translate}}</label>
                            <label class="form-control">{{custID}}</label>
                        </div>
                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.customername" | translate}}</label>
                            <label class="form-control">{{custName}}</label>
                        </div>
                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.customeremail" | translate}}</label>
                            <label class="form-control">{{custEmail}}</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.customerphonenumber" | translate}}</label>
                            <label class="form-control">{{custPhoneNo}}</label>
                        </div>
                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.addressline1" | translate}}</label>
                            <label class="form-control">{{add1}}</label>
                        </div>
                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.addressline2" | translate}}</label>
                            <label class="form-control">{{add2}}</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.addressline3" | translate}}</label>
                            <label class="form-control">{{add3}}</label>
                        </div>
                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.postcode" | translate}}</label>
                            <label class="form-control">{{postcode}}</label>
                        </div>
                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.city" | translate}}</label>
                            <label class="form-control">{{city}}</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.state" | translate}}</label>
                            <label class="form-control">{{state}}</label>
                        </div>
                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.entityname" | translate}}</label>
                            <label class="form-control">{{entityName}}</label>
                        </div>
                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.entitytype" | translate}}</label>
                            <label class="form-control">{{entityType}}</label>
                        </div>
                    </td>
                </tr>

                <!--different start here between one time and loa/agmt-->
                <!--one time-->
                <ng-container *ngIf="billingMethod === 'O'">
                    <tr>
                        <td>
                            <div class="displayColumn">
                                <label class="tableLabel">{{"labels.entitynumber" | translate}}</label>
                                <label class="form-control">{{entityNo}}</label>
                            </div>
                        </td>
                        <td>
                            <div class="displayColumn">
                                <label class="tableLabel">{{"labels.sourcesystem" | translate}}</label>
                                <label class="form-control">{{ss}}</label>
                            </div>
                        </td>
                        <td>
                            <div class="displayColumn">
                                <label class="tableLabel">{{"labels.billingno" | translate}}</label>
                                <label class="form-control">{{billNo}}</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="displayColumn">
                                <label class="tableLabel">{{"labels.billingmethod" | translate}}</label>
                                <label class="form-control">{{billingMethodF}}</label>
                            </div>
                        </td>
                        <td>
                            <div class="displayColumn">
                                <label class="tableLabel">{{"labels.billingdescription" | translate}}</label>
                                <label class="form-control">{{bilDesc}}</label>
                            </div>
                        </td>
                        <td>
                            <div class="displayColumn">
                                <label class="tableLabel">{{"labels.requestorname" | translate}}</label>
                                <label class="form-control">{{reqName}}</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="displayColumn">
                                <label class="tableLabel">{{"labels.requestoremail" | translate}}</label>
                                <label class="form-control">{{reqEmail}}</label>
                            </div>
                        </td>
                    </tr>
                </ng-container>
                <!--loa/agmt-->
                <ng-container *ngIf="billingMethod === 'L' || billingMethod === 'A'">
                    <tr>
                        <td>
                            <div class="displayColumn">
                                <label class="tableLabel">{{"labels.sourcesystem" | translate}}</label>
                                <label class="form-control">{{ss}}</label>
                            </div>
                        </td>
                        <td>
                            <div class="displayColumn">
                                <label class="tableLabel">{{"labels.billingno" | translate}}</label>
                                <label class="form-control">{{billNo}}</label>
                            </div>
                        </td>
                        <td>
                            <div class="displayColumn">
                                <label class="tableLabel">{{"labels.entitynumber" | translate}}</label>
                                <label class="form-control">{{entityNo}}</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="displayColumn">
                                <label class="tableLabel">{{"labels.billingmethod" | translate}}</label>
                                <label class="form-control">{{billingMethodF}}</label>
                            </div>
                        </td>
                        <td *ngIf="billingMethod === 'L'">
                            <div class="displayColumn">
                                <label class="tableLabel">{{"labels.loareferencenumber" | translate}}</label>
                                <label class="form-control">{{loaRefNo}}</label>
                            </div>
                        </td>
                        <td *ngIf="billingMethod === 'A'">
                            <div class="displayColumn">
                                <label class="tableLabel">{{"labels.agreementreferencenumber" | translate}}</label>
                                <label class="form-control">{{agmtRefNo}}</label>
                            </div>
                        </td>
                        <td *ngIf="billingMethod === 'L'">
                            <div class="displayColumn">
                                <label class="tableLabel">{{"labels.loastartendrange" | translate}}</label>
                                <label class="form-control">{{loaStartDate | date: 'dd MMM yyyy'}} - {{loaEndDate | date: 'dd MMM yyyy'}}</label>
                            </div>
                        </td>
                        <td *ngIf="billingMethod === 'A'">
                            <div class="displayColumn">
                                <label class="tableLabel">{{"labels.agreementstartendrange" | translate}}</label>
                                <label class="form-control">{{agmtStartDate | date: 'dd MMM yyyy'}} - {{agmtEndDate | date: 'dd MMM yyyy'}}</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="displayColumn">
                                <label class="tableLabel">{{"labels.billingdescription" | translate}}</label>
                                <label class="form-control">{{bilDesc}}</label>
                            </div>
                        </td>
                        <td>
                            <div class="displayColumn">
                                <label class="tableLabel">{{"labels.billingcount" | translate}}</label>
                                <label class="form-control">{{bilCount}}</label>
                            </div>
                        </td>
                        <td>
                            <div class="displayColumn">
                                <label class="tableLabel">{{"labels.billingfrequency" | translate}}</label>
                                <label class="form-control">{{bilFrequency}}</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="displayColumn">
                                <label class="tableLabel">{{"labels.dayofthebillingissued" | translate}}</label>
                                <label class="form-control">{{dayOfBilIssued}}</label>
                            </div>
                        </td>
                        <td>
                            <div class="displayColumn">
                                <label class="tableLabel">{{"labels.requestorname" | translate}}</label>
                                <label class="form-control">{{reqName}}</label>
                            </div>
                        </td>
                        <td>
                            <div class="displayColumn">
                                <label class="tableLabel">{{"labels.requestoremail" | translate}}</label>
                                <label class="form-control">{{reqEmail}}</label>
                            </div>
                        </td>
                    </tr>
                </ng-container>
            </table>
        </div>
    </div>
    <div>
        <h2 style="margin-left: 3%;">{{"labels.listofbillingitem" | translate}}</h2>
    </div>
    <div class="MALoadingContainer tableWrapper">
        <div *ngIf="isLoading"
            class="TableLoading-overlay d-flex align-items-center justify-content-center " style= "z-index: auto;">
            <div class="spinner-border" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
        <div>
            <table class="MATable" [ngClass]="{ TableDimmed: isLoading }">
                <thead>
                    <tr class="MATableHeader">
                        <th class="thWidth">No.</th>
                        <th>{{"labels.billingitem" | translate}}</th>
                        <th class="thFileName" style="text-emphasis: right;">{{"labels.unitpricerm" | translate}}</th>
                        <th class="thFileName" style="text-align: center;">{{"labels.quantity" | translate}}</th>
                        <th class="thAction">{{"labels.tax(RM)" | translate}}</th>
                        <th class="thInitiadtedBy">{{"labels.totalrm" | translate}}</th>
                    </tr>
                </thead>
                <ng-container *ngIf="totalRecordsListOfItem>0; else noResultsItem">
                    <tbody>
                        <tr *ngFor="let item of billing_items; let i = index">
                            <td>{{ (listOfItemPage - 1) * itemsPerPageListOfItem + i + 1 }}</td>
                            <td>{{ item.mft_desc_en }}</td>
                            <td style="text-align: right;">{{ item.unit_fee | number:'1.2-2'}}</td>
                            <td style="text-align: center;">{{ item.qty}}</td>
                            <td style="text-align: right;">{{ item.tax_amt | number:'1.2-2'}}</td>
                            <td style="text-align: right;">{{ item.final_amt | number:'1.2-2'}}</td>
                        </tr>
                        <tr class="totalRow" style="background-color: white;">
                            <td style="border-right-color: transparent;"></td>
                            <td style="border-right-color: transparent;"><h6 style="margin-left:3%;font-weight:bold;text-align:right;">{{"labels.totalrm" | translate}}</h6></td>
                            <td style="border-right-color: transparent;"></td>
                            <td style="border-right-color: transparent;"></td>
                            <td style="border-right-color: transparent;"></td>
                            <td style="font-weight: bold;text-align: right;">{{ total_amount | number:'1.2-2' }}</td>
                        </tr>
                    </tbody>
                </ng-container>
                <ng-template #noResultsItem>
                    <tr style="height: 100px;">
                        <td colspan="6" class="text-center">{{"nodatafound"| translate}}</td>
                    </tr>
                </ng-template>
            </table>
        </div>
        <div class="MarginSeparator"></div>
    </div>
    <div>
        <h2 style="margin-left: 3%;">{{ "labels.listofbillingissuance" | translate }}</h2>
    </div>
    <div class="MALoadingContainer tableWrapper">
        <div *ngIf="isLoading"
            class="TableLoading-overlay d-flex align-items-center justify-content-center" style= "z-index: auto;">
            <div class="spinner-border" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
        <div>
            <table class="MATable" [ngClass]="{ TableDimmed: isLoading }">
                <thead>
                    <tr class="MATableHeader">
                        <th class="thWidth">No.</th>
                        <th style="width:20%;">{{ "labels.billingdate" | translate }}</th>
                        <th style="width:55%;">{{ "labels.billingno" | translate }}</th>
                        <th style="width:20%;">{{ "labels.billingstatus" | translate }}</th>
                    </tr>
                </thead>
                <ng-container *ngIf="totalRecordsListOfIssuance>0; else noResultsIssuance">
                    <tbody>
                        <tr *ngFor="let item of billing_list; let i = index">
                            <td>{{ (listOfBillingIssuancePage - 1) * itemsPerPageListOfBillingIssuance + i + 1 }}</td>
                            <td>{{ formatOrdinalDate(item.bil_child_date) }}</td>
                            <td *ngIf="!hasBilDoc(item.bil_child_date)"><a class="hyperlink">{{ item.bil_no }}</a></td>
                            <td *ngIf="hasBilDoc(item.bil_child_date)">{{ item.bil_no }}</td>
                            <td>{{ getBillingStatusName(item.bil_status) }}</td>
                        </tr>
                    </tbody>
                </ng-container>
                <ng-template #noResultsIssuance>
                    <tr style="height: 100px;">
                        <td colspan="4" class="text-center">{{"nodatafound"| translate}}</td>
                    </tr>
                </ng-template>
            </table>
        </div>
    </div>
    <div class="MarginSeparator"></div>
    <div>
        <h2 style="margin-left: 3%;">{{"labels.listofdocument" | translate}}</h2>
    </div>
    <div class="MALoadingContainer tableWrapper">
        <div *ngIf="isLoading"
            class="TableLoading-overlay d-flex align-items-center justify-content-center" style= "z-index: auto;">
            <div class="spinner-border" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
        <div>
            <table class="MATable" [ngClass]="{ TableDimmed: isLoading }">
                <thead>
                    <tr class="MATableHeader">
                        <th class="thWidth">No.</th>
                        <th class="docWidth">{{"labels.supportingdocument" | translate}}</th>
                        <th>{{"labels.uploadedby" | translate}}</th>
                        <th>{{"labels.uploadedon" | translate}}</th>
                        <th>{{"labels.filesize" | translate}}</th>
                    </tr>
                </thead>
                <ng-container *ngIf="totalRecordsListOfDoc>0; else noResultsDoc">
                    <tbody>
                        <tr *ngFor="let item of documents_list; let i = index">
                            <td>{{ (listOfBillingDocPage - 1) * itemsPerPageListOfBillingDoc + i + 1 }}</td>
                            <td> <a class="hyperlink" (click)="downloadFile(item)"> {{ item.file_nm }}</a>
                                <div *ngIf="item.isDownloadingFile" class="spinner-border download-spinner" role="status">
                                    <span class="sr-only"></span>
                                </div></td>
                            <td>{{ item.uploader }}</td>
                            <td>{{ item.timestamp | date: 'dd MMM yyyy HH:MM:ss' }}</td>
                            <td> {{ item.file_size < 1000 ? item.file_size + ' Bytes' : (item.file_size < 1000000 ?
                                    (item.file_size / 1000).toFixed(2) + ' KB' : (item.file_size / 1000000).toFixed(2)
                                    + ' MB' ) }}</td>
                        </tr>
                    </tbody>
                </ng-container>
                <ng-template #noResultsDoc>
                    <tr style="height: 100px;">
                        <td colspan="5" class="text-center">{{"nodatafound"| translate}}</td>
                    </tr>
                </ng-template>
            </table>
        </div>
    </div>
    <div class="MarginSeparator"></div>
    <div>
        <h2 style="margin-left: 3%;">{{"labels.historicaltable" | translate}}</h2>
    </div>
    <div class="MALoadingContainer tableWrapper">
        <div *ngIf="isLoadingHistory" class="TableLoading-overlay d-flex align-items-center justify-content-center" style= "z-index: auto;">
            <div class="spinner-border" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
        <div>
            <table class="MATable" [ngClass]="{ TableDimmed: isLoadingHistory }">
                <thead>
                    <tr class="MATableHeader">
                        <th class="thWidth">No.</th>
                        <th>{{"labels.action" | translate}}</th>
                        <th>{{"labels.actiontimestamp" | translate}}</th>
                        <th>{{"labels.status" | translate}}</th>
                        <th>{{"labels.performedby" | translate}}</th>
                        <th>{{"labels.assignedto" | translate}}</th>
                        <th style="width:30%">{{"labels.remarks" | translate}}</th>
                    </tr>
                </thead>
                <ng-container *ngIf="totalHistoryRecords>0; else noResultsHistory">
                    <tbody>
                        <tr *ngFor="let item of history; let i = index">
                            <td>{{ totalHistoryRecords - i - ((this.page -1)*itemsPerPage) }}</td>
                            <td>{{ item.action }}</td>
                            <td>{{ item.action_timestamp | date: 'dd MMM yyyy HH:MM:ss'}}</td>
                            <td>{{ getParamDescWF(item.bil_wf_status) }}</td>
                            <td>{{ item.performer ? item.performer : 'N/A' }}</td>
                            <td>{{ item.assignee ? item.assignee : 'N/A' }}</td>
                            <td>{{ item.remark ? item.remark : 'N/A' }}</td>
                        </tr>
                    </tbody>
                </ng-container>
                <ng-template #noResultsHistory>
                    <tr style="height: 100px;">
                        <td colspan="7" class="text-center">{{"nodatafound"| translate}}</td>
                    </tr>
                </ng-template>
            </table>
        </div>
    </div>
    <div class="MAPagination" *ngIf="totalHistoryRecords>20" style= "margin-left: 3%;margin-right: 3%;margin-bottom: 0%;">
      <div class="fgSpacing" style="text-align: right; margin-bottom: 7px">
        <div *ngIf="page * itemsPerPage < totalHistoryRecords">
          {{"showing" | translate}} {{ page * itemsPerPage }} {{"from" | translate }} {{ totalHistoryRecords }}
          {{"results" | translate }}
        </div>
        <div *ngIf="!(page * itemsPerPage < totalHistoryRecords)">
          {{"showing" | translate }} {{ totalHistoryRecords }} {{"from" | translate }} {{ totalHistoryRecords }}
          {{"results" | translate }}
        </div>
      </div>
      <div class="pagination-row" style="float: right;">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle PaginControl" type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ selectedValue }}
          </button>
          <div class="dropdown-menu dropdown-menu-white" aria-labelledby="dropdownMenuButton">
            <button class="dropdown-item" *ngFor="let singleItem of dropdownOptions" (click)="LoadHistory(singleItem)">{{ singleItem }}</button>
          </div>
        </div>
        <ngb-pagination [(page)]="page" [pageSize]="itemsPerPage" [collectionSize]="totalHistoryRecords"
          (pageChange)="loadHistory()"></ngb-pagination>
      </div>
    </div> 
    <div class="MarginSeparator"></div>
</body>