
<div *ngIf="isAppInitialized">



<app-header></app-header>

<body>

<!-- 
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/multi-language" routerLinkActive="active">Multi-Language</a>
  <a routerLink="/tax-code" routerLinkActive="active">Tax Code</a>
   <a routerLink="/payment-page" routerLinkActive="active"> Payment </a>
  <a routerLink="/loading-page" routerLinkActive="active"> Payment </a>
  <a routerLink="/login" routerLinkActive="active">Login</a>
  <a routerLink="/logout" routerLinkActive="active">Logout</a> -->

  <main>
    <!-- <div class="rectangle-4 rectangle">
      <h1>Internal Portal</h1>
  </div> -->
      <app-timeout-warning></app-timeout-warning>

  <router-outlet></router-outlet>
</main>
</body>


  <app-footer></app-footer>

</div>