<!-- <ng-container *ngIf="permListAllow === 1"> -->

    <body class="BodyCointaner">

        <!-- mainContainer start-->
        <div [class.right-section-collapsed]="rightSectionCollapsed" class="PAContainer73">
            <!-- left section -->
            <div class="left-section73">
                <div>
                    <!-- alert box -->
<!--                     <div *ngIf="showResultAlert" [@fadeInOut]>
                        <div class="alert alert-warning PA-alert-box" role="alert">
                            {{"searchcriteriadoesnotmatch" | translate}}
                        </div>
                    </div> -->

                    <!-- <div *ngIf="showDeactiveAlert" [@fadeInOut]>
                  <div class="alert alert-warning PA-alert-box" role="alert">
                    The record cannot be deactivated because it is in use by another module.
                  </div>
                </div> -->
                    <!--alert box -->
                    <!-- <div class="LeftSectionPosition">
                        {{"labels.Home / Setup & Maintenance / Receivable Income Periodic Lodgment Listing"| translate}}
                    </div> -->


                    <h2>{{"labels.Receivable Income Periodic Lodgment Listing"| translate}}</h2>



                </div>
                <div class="MATableContainer TablePosition-relative" *ngIf="isDisplay">
                    <div class="MALoadingContainer">
                        <!-- Loading spinner overlay -->
                        <div *ngIf="isLoading"
                            class="TableLoading-overlay d-flex align-items-center justify-content-center">
                            <div class="spinner-border" role="status">
                                <span class="sr-only"></span>
                            </div>
                        </div>

                        <!-- Your table structure -->
                        <table class="MATable" [ngClass]="{ TableDimmed: isLoading }">
                            <thead>
                                <tr class="MATableHeader">
                                    <th>No.</th>
                                    <th>{{"entitytype" | translate}}</th>
                                    <th>{{"labels.entityNo." | translate}}</th>
                                    <th>{{"txntype" | translate}}</th>
                                    <th>{{"labels.calendaryear" | translate}}</th>
                                    <th>{{"labels.duedate" | translate}}</th>
                                    <th>{{"labels.companytype" | translate}}</th>
                                    <th>{{"labels.RIPLstatus" | translate}}</th>
                                    <th>{{"buttons.view" | translate}}</th>
                                </tr>
                            </thead>
                            <ng-container *ngIf="model.length > 0; else noResults">
                                <tbody *ngIf="isDisplay">
                                    <tr *ngFor="let item of model;let i = index;">
                                        <td>{{ (page - 1) * itemsPerPage + i + 1 }}</td>
                                        <td>{{ item.i_entity_type }}</td>
                                        <td>{{ item.i_entity_no }}</td>
                                        <td>{{ item.i_txn_type }}</td>
                                        <td>{{ item.i_calendar_yr }}</td>
                                        <td>{{ item.i_dt_due }}</td>
                                        <td>{{ item.i_ripl_ctype }}</td>
                                        <td>{{ item.i_status }}</td>
                                        <td><button [disabled]="permRIPLDetailsAllow === 0" type="button" class="btn btnView"
                                            (click)="viewSelected(item)">{{"buttons.view"| translate}}</button></td>
                                    </tr>
                                </tbody>
                            </ng-container>
                            <ng-template #noResults>
                                <tr style="height: 100px;">
                                    <td colspan="20" class="text-center">{{"searchcriteriadoesnotmatch"| translate}}
                                    </td>
                                </tr>
                            </ng-template>

                        </table>
                    </div>

                    <div class="MAPagination" *ngIf="isDisplay">
                        <div class="fgSpacing">
                            <div *ngIf="page * itemsPerPage < totalRecords">
                                {{"showing" | translate}} {{ page * itemsPerPage }} {{"from" | translate}} {{
                                totalRecords }}
                                {{"results"
                                | translate}}
                            </div>
                            <div *ngIf="!(page * itemsPerPage < totalRecords)">
                                {{"showing" | translate}} {{ totalRecords }} {{"from" | translate}} {{ totalRecords }}
                                {{"results" |
                                translate}}
                            </div>
                        </div>
                        <div class="pagination-row">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle PaginControl" type="button"
                                    id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false">
                                    {{ selectedValue }}
                                </button>
                                <div class="dropdown-menu dropdown-menu-white" aria-labelledby="dropdownMenuButton">
                                    <button class="dropdown-item" *ngFor="let singleItem of dropdownOptions"
                                        (click)="LoadData(singleItem)">
                                        {{ singleItem }}
                                    </button>
                                </div>
                            </div>

                            <ngb-pagination [(page)]="page" [pageSize]="itemsPerPage" [collectionSize]="totalRecords"
                                (pageChange)="loadData()"></ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
            <!-- right section -->
            <div class="middle-section73">
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#rightSection"
                    [attr.aria-expanded]="!rightSectionCollapsed" (click)="toggleRightSection()">
                    <ng-container *ngIf="rightSectionCollapsed; else arrowIcon">
                        <i class="bi bi-search"></i>
                    </ng-container>
                    <ng-template #arrowIcon>
                        <i class="bi" [class.bi-chevron-double-right]="!rightSectionCollapsed"
                            [class.bi-chevron-double-left]="rightSectionCollapsed"></i>
                    </ng-template>
                </button>
            </div>

            <div class="right-section73 collapse" [class.show]="!rightSectionCollapsed ">
                <div class="SingleContainer">
                    <!-- Header -->
                    <div class="SingleContainerHeader">
                        <h2 class="text-center">{{ "search filter" | translate }}</h2>
                    </div>

                    <!-- Transaction Type-->
                    <div class="form-group">
                        <label for="transactionType">{{"transactiontype" | translate}}</label>
                        <select class="dropdown" name="transactionType" class="form-control form-select"
                            [(ngModel)]="transactionType" [required]="!isReadOnly">
                            <option *ngFor="let item of txnType" [value]="item.param_cd">
                                {{ item.nm_en}}
                            </option>
                        </select>
                    </div>

                    <!-- Entity Type-->
                    <div class="form-group">
                        <label for="entityType">{{"entitytype" | translate}}</label>
                        <select class="dropdown" name="entityType" class="form-control form-select"
                            [(ngModel)]="entityType" [required]="!isReadOnly">
                            <option *ngFor="let item of entType" [value]="item.param_cd">
                                {{ item.nm_en }}
                            </option>
                        </select>
                    </div>

                    <!-- Entity No -->
                    <div class="form-group">
                        <label for="entityNo">{{"labels.entityNo." | translate}}</label>
                        <input type="text" class="form-control" id="entityNo" [(ngModel)]="entityNo" />
                    </div>

                    <!-- Calendar Year -->
                    <div class="form-group">
                        <label for="calendarYear">{{"labels.calendaryear" | translate}}</label>
                        <input type="text" placeholder="{{ 'yearpicker' | translate }}" class="form-control"
                            [bsConfig]="{ minMode:'year', dateInputFormat: 'YYYY', showWeekNumbers: false ,containerClass:'theme-default',adaptivePosition: true}"
                            bsDatepicker name="date" [(ngModel)]="calendarYear" onkeydown="return false">
                    </div>

                    <!-- Due Date -->
                    <div class="form-group">
                        <label for="expiryDate">{{"labels.duedate" | translate}}</label>
                        <input type="text" placeholder="{{ 'datepicker' | translate }}" class="form-control"
                            [bsConfig]="{  dateInputFormat: 'DD MMM YYYY', showWeekNumbers: false ,containerClass:'theme-default',adaptivePosition: true}"
                            bsDatepicker name="date" readonly [(ngModel)]="dueDate" onkeydown="return false">
                    </div>


                    <!-- Company Type -->
                    <div class="form-group">
                        <label for="companyType">{{"labels.companytype" | translate}}</label>
                        <input type="text" class="form-control" id="companyType" [(ngModel)]="companyType" />
                    </div>


                    <!-- RIPL Status-->
                    <div class="form-group">
                        <label for="riplStatus">{{"labels.RIPLstatus" | translate}}</label>
                        <select class="dropdown" name="riplStatus" class="form-control form-select"
                            [(ngModel)]="riplStatus" [required]="!isReadOnly">
                            <option *ngFor="let item of status" [value]="item.param_cd">
                                {{ item.nm_en }}
                            </option>
                        </select>
                    </div>


                    <!-- Date Modified Range
    <div class="form-group">
      <label>{{"date modified range" | translate}}</label>
      <input type="text" placeholder="Date Range Picker" class="form-control"
        [bsConfig]="{ rangeInputFormat : 'DD MMM YYYY', dateInputFormat: 'DD MMM YYYY', showWeekNumbers: false ,rangeSeparator:' to ',containerClass:'theme-default',adaptivePosition: true}"
        bsDaterangepicker [(ngModel)]="selected" name="daterange" readonly>
    </div>

    <div class="form-group">
      <label>Status</label>
      <select class="form-control" [(ngModel)]="selectedState">
        <option *ngFor="let state of states" [value]="state.param_cd">
          {{ state.nm_en }}
        </option>
      </select>
    </div> -->

                    <!-- Buttons -->
                    <div class="button-group">
                        <button class="btn btnApply" (click)="apply()">{{"buttons.apply" |translate}}</button>
                        <button class="btn btnReset" (click)="reset()">{{"buttons.reset" |translate}}</button>
                    </div>

                    <br /><br />
                </div>
            </div>
        </div>

        <!-- mainContainer end-->

        <!-- <div class="PAContainer73">
      <div class="left-section73">
        <div class="MainContainerFooter"></div>
      </div>
      <div class="right-section73"></div>
    </div> -->
    </body>
<!-- </ng-container> -->
