<body class="BodyCointaner">
    <div class="PAContainer73">
        <div class="left-section73">
            <!-- Error Box -->
            <div *ngIf="isLoading ? false : isBillUnauth" class="alert alert-danger" style="margin-top: 1%;">
                <i class="bi bi-x-circle-fill error-icon"></i>
                <strong>{{ 'labels.noperm' | translate }}</strong>
                <p class="indented-text">{{ 'labels.noauthbill' | translate }}</p>
            </div>            
            <!-- Error Box -->
            <div *ngIf="isLoading ? false : isBillUnauth ? false : !allowCancel" class="alert alert-danger">
                <i class="bi bi-x-circle-fill error-icon"></i>
                <strong>{{ 'labels.billingCancellationNotAllowed' | translate }}</strong>
                <p class="indented-text">{{ 'labels.billingStatusPaidOrCancelled' | translate }}</p>
            </div>

            <h1>{{ "labels.billingcancellation" | translate }}</h1>
            <div class="order-info">
                <!-- Title Section -->
                <h2 style="margin-left: 0%" >{{ "labels.billingdetails" | translate }}</h2>
            
                <!-- Order Details -->
                <div class="order-details">
                    <div class="left-section">
                        <button class="btn btn-danger"
                            (click)="updateBillCancel()"
                            [disabled]="isLoading ? true : !allowCancel">
                            {{ "buttons.cancelbilling" | translate }}
                        </button>
                    </div>
                </div>
            </div>
            <div class="MALoadingContainer">
                <div *ngIf="isLoadingHistory" class="TableLoading-overlay d-flex align-items-center justify-content-center" style= "margin-left: 3%;margin-right: 3%;z-index: auto;">
                    <div class="spinner-border" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
            <div>
            <table [ngClass]="{ TableDimmed: isLoading }">
                <tr>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.customerid" | translate}}</label>
                            <input class="form-control" type="text" [(ngModel)]="cust_id" disabled />
                        </div>
                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.customername" | translate}}</label>
                            <input class="form-control" type="text" [(ngModel)]="cust_nm" disabled />
                        </div>
                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.customeremail" | translate}}</label>
                            <input class="form-control" type="text" [(ngModel)]="cust_email" disabled />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.customerphonenumber" | translate}}</label>
                            <input class="form-control" type="text" [(ngModel)]="cust_phone" disabled />
                        </div>
                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.addressline1" | translate}}</label>
                            <input class="form-control" type="text" [(ngModel)]="cust_addr1" disabled />
                        </div>
                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.addressline2" | translate}}</label>
                            <input class="form-control" type="text" [(ngModel)]="cust_addr2" disabled />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.addressline3" | translate}}</label>
                            <input class="form-control" type="text" [(ngModel)]="cust_addr3" disabled />
                        </div>
                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.postcode" | translate}}</label>
                            <input class="form-control" type="text" [(ngModel)]="cust_postcode" disabled />
                        </div>
                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.city" | translate}}</label>
                            <input class="form-control" type="text" [(ngModel)]="cust_city" disabled />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.state" | translate}}</label>
                            <input class="form-control" type="text" [(ngModel)]="cust_state" disabled />
                        </div>
                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.entityname" | translate}}</label>
                            <input class="form-control" type="text" [(ngModel)]="ent_nm" disabled />
                        </div>
                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.entitytype" | translate}}</label>
                            <input class="form-control" type="text" [(ngModel)]="ent_ty" disabled />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.entitynumber" | translate}}</label>
                            <input class="form-control" type="text" [(ngModel)]="ent_no" disabled />
                        </div>
                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.sourcesystem" | translate}}</label>
                            <input class="form-control" type="text" [(ngModel)]="ss_cd" disabled />
                        </div>
                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.billingno" | translate}}</label>
                            <input class="form-control" type="text" [(ngModel)]="billing_no" disabled />
                        </div>
                    </td>
                </tr>
                <tr *ngIf="b_mthd=='O';">
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.billingmethod" | translate}}</label>
                            <input class="form-control" type="text" [(ngModel)]="billing_mthd" disabled />
                        </div>
                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.billingdescription" | translate}}</label>
                            <input class="form-control" type="text" [(ngModel)]="billing_desc" disabled />
                        </div>
                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.requestorname" | translate}}</label>
                            <input class="form-control" type="text" [(ngModel)]="req_name" disabled />
                        </div>
                    </td>
                </tr>

                <tr *ngIf="b_mthd=='A';">
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.billingmethod" | translate}}</label>
                            <input class="form-control" type="text" [value]="billing_mthd" disabled />
                        </div>
                    </td>

                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.loareferencenumber" | translate}}</label>
                            <input class="form-control" type="text" [(ngModel)]="loa_id" disabled />
                        </div>
                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.agreementreferencenumber" | translate}}</label>
                            <input class="form-control" type="text" [(ngModel)]="agm_id" disabled />
                        </div>
                    </td>
                </tr>
                <tr *ngIf="b_mthd=='A';">
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{ "labels.agreementstartendrange" | translate }}</label>
                            <input 
                                class="form-control" 
                                type="text" 
                                [value]="dateRangeString" 
                                disabled 
                            />
                        </div>
                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.billingcount" | translate}}</label>
                            <input class="form-control" type="text" [(ngModel)]="billing_cnt" disabled />
                        </div>
                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.billingfrequency" | translate}}</label>
                            <input class="form-control" type="text" [(ngModel)]="billing_freq" disabled />
                        </div>
                    </td>
                </tr>
                <tr *ngIf="b_mthd=='A';">
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.requestorname" | translate}}</label>
                            <input class="form-control" type="text" [(ngModel)]="req_name" disabled />
                        </div>
                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.requestoremail" | translate}}</label>
                            <input class="form-control" type="text" [(ngModel)]="req_email" disabled />
                        </div>
                    </td>
                </tr>

                <tr *ngIf="b_mthd=='L';">
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.billingmethod" | translate}}</label>
                            <input class="form-control" type="text" [value]="billing_mthd" disabled />
                        </div>
                    </td>

                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.loareferencenumber" | translate}}</label>
                            <input class="form-control" type="text" [(ngModel)]="loa_id" disabled />
                        </div>

                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{ "labels.loastartendrange" | translate }}</label>
                            <input 
                                class="form-control" 
                                type="text" 
                                [value]="dateRangeString" 
                                disabled 
                            />
                        </div>
                    </td>
                </tr>
                <tr *ngIf="b_mthd=='L';">
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.billingcount" | translate}}</label>
                            <input class="form-control" type="text" [(ngModel)]="billing_cnt" disabled />
                        </div>
                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.billingfrequency" | translate}}</label>
                            <input class="form-control" type="text" [(ngModel)]="billing_freq" disabled />
                        </div>
                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.requestorname" | translate}}</label>
                            <input class="form-control" type="text" [(ngModel)]="req_name" disabled />
                        </div>
                    </td>
                </tr>

                <tr *ngIf="b_mthd=='O' || b_mthd=='L';">
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{"labels.requestoremail" | translate}}</label>
                            <input class="form-control" type="text" [(ngModel)]="req_email" disabled />
                        </div>
                    </td>
                </tr>

            </table>
            </div>
        </div>
        </div>
    </div>
    <div class="MarginSeparator"></div>
    <div>
        <h2 style="margin-left: 3%;">{{"labels.listofbillingitem" | translate}}</h2>
    </div>
    <div class="MALoadingContainer">
        <div id="loading-overlay" *ngIf="isLoading" class="loading-overlay">
            <div class="white-box">
                <div class="spinner-container">
                    <div class="loader"></div>
                    <img src="assets/logo/logo-ssm.png" alt="Loading..." />
                </div>
            </div>
        </div>
        <div class="MALoadingContainer">
            <div *ngIf="isLoadingHistory" class="TableLoading-overlay d-flex align-items-center justify-content-center" style= "margin-left: 3%;margin-right: 3%;z-index: auto;">
                <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
        <div class="tableWrapper">
            <table class="MATable"  [ngClass]="{ TableDimmed: isLoading }">
                <thead>
                    <tr class="MATableHeader">
                        <th class="thWidth">No.</th>
                        <th>{{"labels.billingitem" | translate}}</th>
                        <th>{{"labels.unitpricerm" | translate}}</th>
                        <th class="thFileName">{{"labels.quantity" | translate}}</th>
                        <th class="thAction">{{"labels.tax%" | translate}}</th>
                        <th class="thAction">{{"labels.taxrm" | translate}}</th>
                        <th>{{"labels.totalrm" | translate}}</th>
                    </tr>
                </thead>
                <ng-container *ngIf="totalRecordsListOfItem>0; else noResultsItems">
                <tbody>
                    <tr *ngFor="let item of billing_items; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ item.mft_desc_en }}</td>
                        <td>{{ item.unit_fee | number: '1.2-2'}}</td>
                        <td>{{ item.qty }}</td>
                        <td>{{ item.tax_pct | number: '1.2-2'}}</td>
                        <td>{{ item.tax_amt | number: '1.2-2' }}</td>
                        <td>{{ item.final_amt | number: '1.2-2' }}</td>
                    </tr>
                    <tr>
                        <td colspan="6" style="text-align: right; font-weight: bold;">{{"labels.totalrm" |
                            translate}}</td>
                        <td>{{ total_amount | number: '1.2-2' }}</td>
                    </tr>
                </tbody>
                </ng-container>
                <ng-template #noResultsItems>
                    <tr style="height: 100px;">
                        <td colspan="7" class="text-center">{{"nodatafound"| translate}}</td>
                    </tr>
                </ng-template>
            </table>
        </div>
        </div>
    </div>
    <div class="MarginSeparator"></div>
    <div>
        <h2 style="margin-left: 3%;">{{ "labels.listofbillingissuance" | translate }}</h2>
    </div>
    <div class="MALoadingContainer">
            <div *ngIf="isLoadingHistory" class="TableLoading-overlay d-flex align-items-center justify-content-center" style= "margin-left: 3%;margin-right: 3%;z-index: auto;">
                <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                </div>
        </div>
    <div class="tableWrapper">
          <table class="MATable" [ngClass]="{ TableDimmed: isLoading }">
            <thead>
                <tr class="MATableHeader">
                    <th class="thWidth">No.</th>
                    <th style="width:20%;">{{ "labels.billingdate" | translate }}</th>
                    <th style="width:55%;">{{ "labels.billingno" | translate }}</th>
                    <th style="width:20%;">{{ "labels.billingstatus" | translate }}</th>
                </tr>
            </thead>
            <ng-container *ngIf="totalRecordsListOfIssuance>0; else noResultsIss">
            <tbody *ngIf="billing_list.length > 0; else noResultsIss">
                <tr *ngFor="let item of billing_list; let i = index ">
                  <td>{{ i + 1 }}</td>
                  <td>{{ formatDate(item.bil_child_date) }}</td>
                  <td *ngIf="!hasBilDoc(item.bil_child_date)"><a class="hyperlink">{{ item.bil_no }}</a></td>
                  <td *ngIf="hasBilDoc(item.bil_child_date)">{{ item.bil_no }}</td>                  
                  <td>{{ getBillingStatusName(item.bil_status) }}</td>
                </tr>                     
            </tbody>
          </ng-container>
        <ng-template #noResultsIss>
          <tr style="height: 100px;">
            <td colspan="4" class="text-center">{{ "nodatafound" | translate }}</td>
          </tr>
        </ng-template>
          </table>
      </div>
    </div>
    <div class="MarginSeparator"></div>
    <div>
        <h2 style="margin-left: 3%;">{{"labels.listofdocument" | translate}}</h2>
    </div>
    <div class="MALoadingContainer">
        <div *ngIf="isLoadingHistory" class="TableLoading-overlay d-flex align-items-center justify-content-center" style= "margin-left: 3%;margin-right: 3%;z-index: auto;">
            <div class="spinner-border" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
    <div class="tableWrapper">
        <table class="MATable" [ngClass]="{ TableDimmed: isLoading }">
            <thead>
                <tr class="MATableHeader">
                    <th class="thWidth">No.</th>
                    <th>{{"labels.supportingdocument" | translate}}</th>
                    <th>{{"labels.uploadedby" | translate}}</th>
                    <th>{{"labels.uploadedon" | translate}}</th>
                    <th>{{"labels.filesize" | translate}}</th>
                    <!-- <th>{{"labels.remarks" | translate}}</th> -->
                </tr>
            </thead>
            <ng-container *ngIf="totalRecordsListOfDoc>0; else noResultsDocs">
            <tbody>
                <tr *ngFor="let item of documents_list; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td> <a class="hyperlink" (click)="downloadFile(item)"> {{ item.file_nm }}</a>
                        <div *ngIf="item.isDownloadingFile" class="spinner-border download-spinner" role="status">
                            <span class="sr-only"></span>
                        </div></td>
                    <td>{{ item.uploader }}</td>
                    <td>{{ item.timestamp | date: 'dd MMM yyyy HH:MM:ss'}}</td>
                    <td>{{ item.file_size < 1000 ? item.file_size + ' Bytes' : (item.file_size < 1000000 ?
                                    (item.file_size / 1000).toFixed(2) + ' KB' : (item.file_size / 1000000).toFixed(2)
                                    + ' MB' ) }}</td>
                </tr>
            </tbody>
                </ng-container>
                <ng-template #noResultsDocs>
                    <tr style="height: 100px;">
                        <td colspan="5" class="text-center">{{"nodatafound"| translate}}</td>
                    </tr>
                </ng-template>
        </table>
    </div>
    </div>
    <div class="MarginSeparator"></div>
    <div>
        <h2 style="margin-left: 3%;">{{"labels.historicaltable" | translate}}</h2>
    </div>    
    <div class="MALoadingContainer">
        <div *ngIf="isLoadingHistory" class="TableLoading-overlay d-flex align-items-center justify-content-center" style= "margin-left: 3%;margin-right: 3%;z-index: auto;">
            <div class="spinner-border" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
        <div class="tableWrapper">
            <table class="MATable" [ngClass]="{ TableDimmed: isLoadingHistory }">
                <thead>
                    <tr class="MATableHeader">
                        <th class="thWidth">No.</th>
                        <th>{{"labels.action" | translate}}</th>
                        <th>{{"labels.actiontimestamp" | translate}}</th>
                        <th>{{"labels.status" | translate}}</th>
                        <th>{{"labels.performedby" | translate}}</th>
                        <th>{{"labels.assignedto" | translate}}</th>
                        <th style="width:30%">{{"labels.remarks" | translate}}</th>
                    </tr>
                </thead>
                <ng-container *ngIf="totalHistoryRecords>0; else noResultsHistory">
                    <tbody>
                        <tr *ngFor="let item of history; let i = index">
                            <td>{{ totalHistoryRecords - i }}</td>
                            <td>{{ item.action }}</td>
                            <td>{{ item.action_timestamp | date: 'dd MMM yyyy HH:MM:ss'}}</td>
                            <td>{{ getParamDescWF(item.bil_wf_status) }}</td>
                            <td>{{ item.performer ? item.performer : 'N/A' }}</td>
                            <td>{{ item.assignee ? item.assignee : 'N/A' }}</td>
                            <td>{{ item.remark ? item.remark : 'N/A' }}</td>
                        </tr>
                    </tbody>
                </ng-container>
                <ng-template #noResultsHistory>
                    <tr style="height: 100px;">
                        <td colspan="7" class="text-center">{{"nodatafound"| translate}}</td>
                    </tr>
                </ng-template>
            </table>
        </div>
    </div>
    <div class="MAPagination" *ngIf="totalHistoryRecords>20" style= "margin-left: 3%;margin-right: 3%;margin-bottom: 0%;">
        <div class="fgSpacing" style="text-align: right; margin-bottom: 7px">
          <div *ngIf="page * itemsPerPage < totalHistoryRecords">
            {{"showing" | translate}} {{ page * itemsPerPage }} {{"from" | translate }} {{ totalHistoryRecords }}
            {{"results" | translate }}
          </div>
          <div *ngIf="!(page * itemsPerPage < totalHistoryRecords)">
            {{"showing" | translate }} {{ totalHistoryRecords }} {{"from" | translate }} {{ totalHistoryRecords }}
            {{"results" | translate }}
          </div>
        </div>
        <div class="pagination-row" style="float: right;">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle PaginControl" type="button" id="dropdownMenuButton"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ selectedValue }}
            </button>
            <div class="dropdown-menu dropdown-menu-white" aria-labelledby="dropdownMenuButton">
              <button class="dropdown-item" *ngFor="let singleItem of dropdownOptions" (click)="LoadHistory(singleItem)">{{ singleItem }}</button>
            </div>
          </div>
          <ngb-pagination [(page)]="page" [pageSize]="itemsPerPage" [collectionSize]="totalHistoryRecords"
            (pageChange)="loadHistory()"></ngb-pagination>
        </div>
      </div>
    <div class="MarginSeparator"></div>
    <div style="padding-right:3%;">
        <button class="btn" style="float:right;width: 10%;color: white;background: #757575;"
            (click)="back()"
            [disabled]="isLoading">
            {{ "buttons.cancel" | translate }}
        </button>
    </div>
    <div class="MarginSeparator"></div>
</body>