@import '../../app.component.scss';

$leftPadding: 3%;
$rightPadding: 3%;
$MarginFromFooter: 110px;
$MAButtonMinWidth: 100px; //original is 30%
$MarginSeparator: 20px;


table {
  background-color: white;
  width: 100%;
  //margin-left: 5%;
  margin-right: 5%;
  table-layout: fixed;
  /* make all column width equal*/

//   label {
//     margin-bottom: 10px;
//     font-weight: bold;
//   }

  td .displayColumn {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    height: 80px;
    /* set a fixed height */
  }

  td .displayRow {
    display: flex;

    gap: 10px;
    /* gap between each element */
    align-items: center;
    float: right;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;

    label {
      white-space: nowrap;
      /* make multiple lines into one sentence*/
    }

  

    .ng-select {
      margin-right: 50px;
      width: 200px;
      // height: 50px;
      // padding-top: 12px !important;
    }
  }


  .note {
    margin-bottom: 0;
    margin-right: 60px;
    float: right;
    font-weight: normal;
    color: #767676;
  }

}

.tableLabel{
    margin-bottom: 10px;
    font-weight: bold;
}

.tableLabel2{
    margin-bottom: 10px;
}

//style for dropdown start
:host ::ng-deep {

  .ng-select {
    padding-bottom: 6px;

    .ng-select-container {
      min-height: 0 !important;
      padding: 0 !important;
      border-top: none !important;

      .ng-value-container {
        padding: 0;
        border: 0;
      }
    }
  }

  //adjust arrow, clear and cursor position
  .ng-select-single .ng-select-container {


    .ng-arrow-wrapper {
      bottom: 3px;
    }

    .ng-clear-wrapper {
      bottom: 0px;
    }

    .ng-value-container .ng-input {
      top: 0px
    }

  }

}

:host ::ng-deep ng-dropdown-panel {

  top: auto !important;

}

//remove drop down underline
:host ::ng-deep ng-select .ng-select-container::after {
  border-bottom: 5px solid transparent !important;
}

//style for dropdown end

.marginFromFooter {
  margin-bottom: $MarginFromFooter;
}

.tableWrapper {
  margin-left: 3%;
  margin-right: 3%;
}

// .PAContainer73 {
//   margin-left: $MAMainLeftPadding;
//   // max-height: 100vh;
// }

.btnClear {
  background-color: #84958803;
  ;
  min-width: $MAButtonMinWidth;
  border: solid 1px #dfdfdf;
}

.thWidth {
  width: 60px;

}

.thFileName {
  width: 250px;

}

.thAction {
  width: 130px;

}

.thFileSize {
  width: 130px;

}

.thInitiadtedBy {
  width: 200px;

}

.left-section73 {
 // overflow: visible !important;
}

.PAContainer73 {
  margin-left: $MAMainLeftPadding;
  min-height: 0vh;
}

//menu with button start
.order-info {
    display: flex;
    justify-content: space-between; /* Ensure h2 is on the far left, and the rest on the far right */
    align-items: center; /* Align items vertically on the same line */
    margin-left: 3%;
    margin-right: 3%;
  }
  
  .order-details {
    display: flex;
    align-items: center; /* Align elements in the center vertically */
    gap: 5px; /* Optional: Adjust spacing between elements */
  }
  
  .left-section {
    display: flex;
    align-items: center; /* Align button and label vertically */
    gap: 20px; /* Space between the button and Status label */
  }
//  menu with button end

.full-width-line {
  border: none; /* Remove the default border style */
  border-top: 1px solid #000; /* Add a top border for the line */
  width: 96%; /* Ensure the line spans the entire width */
  margin: 0; /* Optional: Adjust the margin as needed */
  margin-top: 50px;
  margin-right: 2%;
  margin-left: 2%;
}

//payment info start
.paymentinfo{ 
  margin-left: 3%;
  margin-right: 3%;
  background-color: white; 

  .paymentinfodetails{
    margin-top: 20px;
    margin-left: 3%;

    label{
      display: block; 
      width: 350px; 
      word-wrap: break-word; /* Allows long words to break and wrap */
      word-break: break-word; /* Breaks words if necessary */
      overflow-wrap: break-word; /* Ensures compatibility */
      white-space: normal; /* Allows text to wrap */
    }
    .form-control{
      border: 1px solid blue; /* Sets the border color to blue */
      height: 40px;
    }
    
  }
}

.small-dot {
  display: inline-block;
  width: 7px; /* Size of the dot */
  height: 7px; /* Size of the dot */
  background-color: black; /* Fill color */
  border-radius: 50%; /* Makes it a perfect circle */
  margin-left: 2%;
}

.tableWrapperPaymentInfo {
  margin-top: 20px;
  margin-left: 3%;
  margin-right: 3%;
}

.custom-radio{
  accent-color: black; /* Change the radio button color to black */
}
//payment info end, below form control made all the form control height to 40px

.form-control{
  height: 40px;
  background: #f3f3f8;
}


.MarginSeparator {
  margin-top: $MarginSeparator;
}

.bold {
  font-weight: bold;
}


.payment-mode{

  .form-control {
    display: inline-block; /* Ensures proper alignment */
    border: 1px solid blue; /* Sets the border color to blue */
  }
}

.marginTop{
  margin-top: 10px;
}

.marginLeft{
  margin-left: 10px;
}



.MALoadingContainerFormTable {
  //separate from bottom table to avoid tr background color
  position: relative;
  /* Makes sure the spinner is positioned in reference to the table */
  overflow: visible !important;
  /* Keeps the spinner inside the table area */
}

// .totalRow {
//   border: 2px solid black; /* Adds a black border around the row */
//   border-collapse: separate; /* Prevents merging of td borders */
//   border-spacing: 0; /* Removes extra space caused by border-collapse */
// }

// .totalRow td {
//   border: none; /* Ensures td borders remain invisible (white) */
//   background-color: white; /* Keeps the td background white */
// }

.formContainer {
  display: flex;
  gap: 5%;
}

.MATable{
  td {
    word-wrap: break-word;
    word-break: break-all;
    }
}

.docWidth{
  width: 500px;
}


.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-spinner {
  text-align: center;
  color: white;
}

.loading-spinner img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //height: 100vh;
}

.loader {
  animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #00538b; /* Blue */
  border-radius: 50%;
  width: 400px; /* Increase the size of the spinner */
  height: 400px; /* Increase the size of the spinner */
  display: flex;
  justify-content: center;
  align-items: center;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

img {
  position: absolute;
  width: auto; /* Adjust the image width as needed */
  height: auto; /* Adjust the image height as needed */
}

.white-box {
  background-color: #ffffff; /* White box background */
  padding: 20px; /* Add padding for spacing */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Box shadow for depth */
  text-align: center; /* Center align content */
  max-width: 600px; /* Set max width for the box */
  width: 100%; /* Ensure it scales responsively */
}

.download-spinner{
  float: right;
  width: 20px;
  height: 20px;
  color: #73ed64;
}

.hyperlink {
  color: blue; 
  text-decoration: underline; 
  cursor: pointer; 
}

.full-width-line{
  width: 94%;
  margin-left: 3%;
}

.file-container {
  border: 1px solid #644ded; /* You can customize the border style, color, and size */
  border-radius: 8px;
  padding: 10px; /* Adjust the padding to control the distance between the text and the border */
  display: flex;
  flex-wrap: wrap;
  min-height:40px;
}

.fileSize{
  font-size: 12px;
  color: grey;
  float: right;
}

.two-third{
  min-width: 66.66%;
}

.one-third{
  min-width: 33.33%;
  padding-right: 3%;
}

.flexcontainer{
  display: flex;
}

.right-approval-side {
  background-color: white;
  padding: 8%;
}

.submissionButtons{
  max-width: -webkit-fill-available;
  padding-bottom: 8.5%;
}

.btnSubmit:disabled{
  opacity: 0.4;
}

label.form-control {
    overflow-x: overlay;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

label.form-control::-webkit-scrollbar {
    //display: none;
}

.uneditable{
  opacity: 0.5;
}

.btnCancel{
  min-width: 130px;
  float: left;
}
.btnSubmit{
  min-width: 130px;
  float: right;
}
.btn-primary{
  min-width: 130px;
}