<body class="BodyCointaner" style="position: relative;">
    <div *ngIf="isLoading" class="TableLoading-overlay d-flex align-items-center justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only"></span>
        </div>
    </div>
    <div class="PAContainer73">
        <div class="left-section73">
            <div *ngIf="showInsertAlert">
                <div [ngClass]="alertClass" role="alert">
                    {{ alertMessage | translate }}
                </div>
            </div>

            <ul class="breadcrumbOTC">
                <li>
                    <a [routerLink]="'/home'">{{"menu.home" | translate}}</a>
                    <span class="breadcrumb-separator"> / </span>
                </li>
                <li>
                    <a [routerLink]="'/refund-tht'">{{"labels.MyTransactions" | translate}}</a>
                    <span class="breadcrumb-separator"> / </span>
                </li>
                <li>
                    <a [routerLink]="'/refund-direct-application'">{{"labels.directrefundapplication" | translate}}</a>
                </li>
            </ul>
            <div class="order-info">
                <h3>Direct Refund Application (Appeal)</h3>
            </div>

            <div class="MarginSeparator"></div>
            <div class="order-info">
                <h4>{{"labels.orderinformation" | translate}}</h4>
                <div class="order-details">
                    <div class="left-section">
                        <h4 class="bold">{{"labels.STATUS" | translate}}:</h4>
                    </div>
                    <div>
                        <h2 class="status-heading upper" [ngClass]="{
                            'text-green':  orderstatus === 'Paid',
                            'text-red':    orderstatus === 'Failed'
                        }">
                            {{ ('labels.' + orderstatus) | translate }}
                        </h2>
                    </div>
                </div>
            </div>
            <table class="table-container">
                <tr *ngFor="let order of orderInfo">
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{ "labels.sourcesystem" | translate }}</label>
                            <input class="form-control" type="text" [value]="order.ss_cd || 'N/A'" disabled />
                        </div>
                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{ "labels.orderrefno" | translate }}</label>
                            <input class="form-control" type="text" [value]="order.orn_no || 'N/A'" disabled />
                        </div>
                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{ "labels.transactionid" | translate }}</label>
                            <input class="form-control" type="text" [value]="order.txn_id || 'N/A'" disabled />
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let order of orderInfo">
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{ "labels.customername" | translate }}</label>
                            <input class="form-control" type="text" [value]="order.cust_nm || 'N/A'" disabled />
                        </div>
                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{ "labels.customerphoneno" | translate }}</label>
                            <input class="form-control" type="text" [value]="order.cust_phone || 'N/A'" disabled />
                        </div>
                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{ "labels.customeremail" | translate }}</label>
                            <input class="form-control" type="text" [value]="order.cust_email || 'N/A'" disabled />
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let order of orderInfo">
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{ "labels.addressline1" | translate }}</label>
                            <input class="form-control" type="text" [value]="order.cust_addr_1 || 'N/A'" disabled />
                        </div>
                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{ "labels.addressline2" | translate }}</label>
                            <input class="form-control" type="text" [value]="order.cust_addr_2 || 'N/A'" disabled />
                        </div>
                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{ "labels.addressline3" | translate }}</label>
                            <input class="form-control" type="text" [value]="order.cust_addr_3 || 'N/A'" disabled />
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let order of orderInfo">
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{ "labels.postcode" | translate }}</label>
                            <input class="form-control" type="text" [value]="order.cust_postcode || 'N/A'" disabled />
                        </div>
                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{ "labels.city" | translate }}</label>
                            <input class="form-control" type="text" [value]="order.cust_city || 'N/A'" disabled />
                        </div>
                    </td>
                    <td>
                        <div class="displayColumn">
                            <label class="tableLabel">{{ "labels.state" | translate }}</label>
                            <input class="form-control" type="text" [value]="order.cust_state || 'N/A'" disabled />
                        </div>
                    </td>
                </tr>
            </table>


        </div>
    </div>
    <div class="MarginSeparator"></div>
    <div>
        <h4 style="margin-left: 3%;">{{"labels.paymentitems" | translate}}</h4>
    </div>
    <div class="MALoadingContainer">
        <!-- <div class="TableLoading-overlay d-flex align-items-center justify-content-center">
             <div class="spinner-border" role="status">
                <span class="sr-only"></span>
            </div>
        </div> -->
        <div class="search-field">
            <label class="bold">{{"labels.searchentityno" | translate}}</label>
            <input type="text" [(ngModel)]="searchEntityNo" placeholder="{{'labels.searchentityno' | translate}}"
                class="form-control" />
        </div>
        <div class="tableWrapper">
            <div class="table-scroll">
                <table class="MATable" *ngIf="!isLoading">
                    <thead>
                        <tr class="MATableHeader">
                            <th class="no-column">No.</th>
                            <th class="long-column">{{"labels.itemdescription" | translate}}</th>
                            <th class="long-column">{{"labels.entityno" | translate}}</th>
                            <th class="money-column" *ngIf="isRefundable" style="text-align: center;">
                                <label style="
                                display: flex;                  /* make it a flex container */
                                flex-direction: column;         /* stack text over checkbox */
                                align-items: center;            /* center horizontally */
                                justify-content: center;        /* center vertically */
                                width: 100%;                    /* fill the TH */
                                height: 100%;                   /* fill the TH */
                                white-space: nowrap;            /* don’t let the slash wrap */
                              ">
                                    {{"labels.selectrefund" | translate}}
                                </label>
                                <input type="checkbox" style="transform: scale(0.8);transform-origin: bottom center;"
                                    (change)="toggleAllCheckboxes($event)" [checked]="areAllSelected()" />
                            </th>
                            <th class="short-column">{{"labels.unitfee(RM)" | translate}}</th>
                            <th class="no2-column">{{"labels.qty" | translate}}</th>
                            <th class="short-column">{{"labels.incentivecode" | translate}}</th>
                            <th class="money-column">{{"labels.discountincentiverm" | translate}}</th>
                            <th class="short-column">{{"labels.tax%" | translate}}</th>
                            <th class="short-column">{{"labels.taxrm" | translate}}</th>
                            <th class="money-column">{{"labels.grossamountrm" | translate}}</th>
                            <th class="money-column">{{"labels.netamountrm" | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Apply the filter and slice pipes -->
                        <tr
                            *ngFor="let item of (paymentItems | filter: searchEntityNo | slice: ((page - 1) * itemsPerPage) : (page * itemsPerPage)); let i = index">
                            <td>{{ i + 1 }}</td>
                            <td>{{ item.item_desc }}</td>
                            <td>{{ item.entity_no }}</td>
                            <td *ngIf="isRefundable">
                                <input type="checkbox" [(ngModel)]="item.isSelected" (change)="checkIfAllSelected()" />
                            </td>
                            <td>{{ item.unit_fee | number: '1.2-2' }}</td>
                            <td>{{ item.qty }}</td>
                            <td>{{ item.grant_cd }}</td>
                            <td>{{ item.disc_amt | number: '1.2-2' }}</td>
                            <td>{{ item.tax_pct }}</td>
                            <td>{{ item.tax_amt | number: '1.2-2' }}</td>
                            <td>{{ item.gross_amt | number: '1.2-2' }}</td>
                            <td>{{ item.net_amt | number: '1.2-2' }}</td>
                        </tr>
                        <tr>
                            <td attr.colspan="{{ (isRefundable) ? 11 : 10 }}"
                                style="text-align: right; font-weight: bold;">
                                {{"labels.TOTAL" | translate}}
                            </td>
                            <td style="font-weight: bold;">
                                {{ totalGrossAmount | number: '1.2-2' }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Pagination -->
        <div class="MAPagination my-3" style="margin-right: 3%"
            *ngIf="((paymentItems | filter: searchEntityNo)?.length || 0) > 0">
            <div class="fgSpacing mb-2">
                <div *ngIf="page * itemsPerPage < ((paymentItems | filter: searchEntityNo)?.length || 0)">
                    Showing {{ page * itemsPerPage }} from {{ (paymentItems | filter: searchEntityNo)?.length }} results
                </div>
                <div *ngIf="page * itemsPerPage >= ((paymentItems | filter: searchEntityNo)?.length || 0)">
                    Showing {{ (paymentItems | filter: searchEntityNo)?.length }} from {{ (paymentItems | filter:
                    searchEntityNo)?.length }} results
                </div>
            </div>
            <div class="pagination-row">
                <ngb-pagination [(page)]="page" [pageSize]="itemsPerPage"
                    [collectionSize]="(paymentItems | filter: searchEntityNo)?.length || 0">
                </ngb-pagination>
            </div>
        </div>
        <hr class="full-width-line" />
    </div>
    <div class="MarginSeparator"></div>
    <div>
        <h4 style="margin-left: 3%;">{{"labels.paymentinformation" | translate}}</h4>
    </div>
    <div class="paymentinfo">
        <div class="paymentinfodetails">
            <label class="bold">{{"labels.payeremail" | translate}}</label>
            <div class="marginTopCash">
                <input class="form-control" type="text" [value]="otcPayerEmail || onlinePayerEmail" placeholder=""
                    disabled />
            </div>

        </div>
        <div class="paymentinfodetails" *ngIf="otcpaymentinfosection">
            <label class="bold">{{"labels.selectpaymentmode" | translate}}</label>
            <div class="marginTop">
                <input type="radio" class="custom-radio" disabled [checked]="false" />
                <span class="marginLeft">{{"labels.online" | translate}}</span>
                <div class="payment-mode"></div>

                <div class="marginTop">
                    <input type="radio" class="custom-radio" disabled name="paymentMethod"
                        [checked]="otcPymtMode==='EV'" />
                    <span class="marginLeft">{{"labels.Europay, MasterCard, and Visa Terminal" | translate}}</span>
                </div>

                <div class="payment-mode"></div>
                <div class="marginTop">
                    <input type="radio" class="custom-radio" name="paymentMethod" disabled
                        [checked]="otcPymtMode==='CA' ||otcPymtMode==='CE'|| otcPymtMode==='MO'|| otcPymtMode==='BD'|| otcPymtMode==='MX'" />
                    <span class="marginLeft">{{"labels.physicalcollection" | translate}}</span>
                </div>

                <div class="marginTopCash" *ngIf="cashPayments.length > 0">
                    <span class="small-dot"></span>
                    <span class="marginLeft">{{"labels.cashamountrm" | translate}}</span>
                    <input class="form-control" style="margin-left: 45px;" type="text"
                        [(ngModel)]="otcPaymentDetailsCashAmt" disabled />
                </div>

                <div class="marginTop" *ngIf="otcEMVModel.length > 0">
                    <span class="small-dot"></span>
                    <span class="marginLeft">{{"labels.EMVTransactionInformation" | translate}}</span>
                    <div class="table-container">
                        <table class="MATable" *ngIf="!isLoading">
                            <thead>
                                <tr class="MATableHeader">
                                    <th class="no-column">No.</th>
                                    <th>{{"labels.transactiontrace" | translate}} </th>
                                    <th>{{"labels.batchnumber" | translate}}</th>
                                    <th class="thFileName">{{"labels.hostnumber" | translate}}</th>
                                    <th>{{"labels.terminalid" | translate}}</th>
                                    <th>{{"labels.transactionamountrm" | translate}}</th>

                                </tr>
                            </thead>
                            <tbody *ngIf="otcEMVModel.length > 0">
                                <tr *ngFor="let item of otcEMVModel; let i = index">
                                    <td>{{ (page - 1) * itemsPerPage + i + 1 }}</td>
                                    <td>{{ item.trans_trace }}</td>
                                    <td>{{ item.batch_no }}</td>
                                    <td>{{ item.host_no }}</td>
                                    <td>{{ item.t_id }}</td>
                                    <td>{{ item.amt | number: '1.2-2' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="marginTop" *ngIf="chequePayments.length > 0">
                    <span class="small-dot"></span>
                    <span class="marginLeft">{{"labels.chequeinformation" | translate}}</span>
                    <div class="table-container">
                        <table class="MATable" *ngIf="!isLoading">
                            <thead>
                                <tr class="MATableHeader">
                                    <th class="thWidth">No.</th>
                                    <th>{{"labels.chequeid" | translate}}</th>
                                    <th>{{"labels.bankname" | translate}}</th>
                                    <th>{{"labels.payername" | translate}}</th>
                                    <th>{{"labels.chequeno" | translate}}</th>
                                    <th>{{"labels.chequedate" | translate}}</th>
                                    <th>{{"labels.bankaccno" | translate}}</th>
                                    <th>{{"labels.amountrm" | translate}}</th>
                                    <th>{{"labels.chequestatus" | translate}}</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="chequePayments.length >= 0">
                                <tr *ngFor="let item of chequePayments; let i = index">
                                    <td>{{ (page - 1) * itemsPerPage + i + 1 }}</td>
                                    <td>{{ item.che_id }}
                                    <td>
                                        {{ item.che_bank_nm }}
                                    </td>
                                    <td>
                                        {{ item.che_payer_nm }}
                                    </td>
                                    <td>
                                        {{ item.che_no }}
                                    </td>
                                    <td>
                                        {{ item.cheDate | date: 'dd MMM yyyy' }}
                                    </td>
                                    <td>
                                        {{ item.che_ba_acct_no }}

                                    </td>
                                    <td>
                                        {{ item.che_amt | number: '1.2-2' }}
                                    </td>

                                    <td>
                                        {{ item.che_status}}
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="8" style="text-align: right; font-weight: bold;">
                                        {{"labels.totalamountrm" | translate}}</td>
                                    <td style="font-weight: bold;">{{ totalChequeAmount | number: '1.2-2' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="marginTop" *ngIf="bankDraftPayments.length > 0">
                    <span class="small-dot"></span>
                    <span class="marginLeft">{{"labels.BankDraftInformation" | translate}}</span>
                    <div class="table-container">
                        <table class="MATable" *ngIf="!isLoading">
                            <thead>
                                <tr class="MATableHeader">
                                    <th class="thWidth">No.</th>
                                    <th>{{"labels.bankname" | translate}}</th>
                                    <th>{{"labels.bankdraftno" | translate}}</th>
                                    <th>{{"labels.bankdraftdate" | translate}}</th>
                                    <th>{{"labels.amountrm" | translate}}</th>
                                    <!-- <th>Action</th> -->
                                </tr>
                            </thead>
                            <tbody *ngIf="bankDraftPayments.length >= 0">
                                <tr *ngFor="let item of bankDraftPayments; let i = index">
                                    <td>{{ (page - 1) * itemsPerPage + i + 1 }}</td>
                                    <td>
                                        {{ item.bd_bank_nm }}
                                        <!-- <select id="bankNm" class="form-control" [(ngModel)]="item.bd_bank_nm" disabled>
                                            <option value="" disabled selected>Select Bank</option>
                                            <option *ngFor="let bank of bankmodel" [value]="bank.nm_en" disabled>
                                                {{ bank.nm_en }}
                                            </option>
                                        </select> -->
                                    </td>
                                    <td>
                                        {{ item.bd_no }}
                                        <!-- <input type="text" [(ngModel)]="item.bd_no" disabled
                                            placeholder="Enter Bank Draft No" /> -->
                                    </td>
                                    <td>
                                        <!-- <input type="date"  [(ngModel)]="item.bd_date" name="daterange" readonly> -->
                                        {{ item.bd_date | date: 'dd MMM yyyy' }}
                                    </td>
                                    <td>
                                        {{ item.bd_amt | number: '1.2-2' }}
                                        <!-- <input type="text" [(ngModel)]="item.bd_amt" disabled
                                            placeholder="Enter Bank Draft Amount" /> -->
                                    </td>

                                    <!-- <td>
                                    <button *ngIf="item.isNew" class="btn btnAdd" (click)="saveBDRow(i)">Save</button>
                                    <button *ngIf="!item.isNew && !item.isEditable" class="btn btnEdit" (click)="editBDRow(i)">Edit</button>
                                    <button *ngIf="!item.isNew && item.isEditable" class="btn btnAdd" (click)="saveBDRow(i)">Update</button>
                                    <button *ngIf="item.isNew" class="btn btn-danger" (click)="removeBDNewRow(i)" style="margin-left: 10px;">Remove</button>
                                    <button *ngIf="!item.isEditable" class="btn btn-danger" (click)="deleteBDRow(i)" style="margin-left: 10px;">Delete</button>
                                  </td> -->
                                </tr>

                                <tr>
                                    <td colspan="4" style="text-align: right; font-weight: bold;">
                                        {{"labels.totalamountrm" | translate}}
                                    </td>
                                    <td style="font-weight: bold;">{{ totalBDAmount | number: '1.2-2' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="marginTop" *ngIf="moneyOrderPayments.length > 0">
                    <span class="small-dot"></span>
                    <span class="marginLeft">{{"labels.MoneyOrderInformation" | translate}}</span>
                    <div class="table-container">
                        <table class="MATable" *ngIf="!isLoading">
                            <thead>
                                <tr class="MATableHeader">
                                    <th class="thWidth">No.</th>
                                    <th>{{"labels.remitno" | translate}}</th>
                                    <th>{{"labels.moneyorderdate" | translate}}</th>
                                    <th>{{"labels.payername" | translate}}</th>
                                    <th>{{"labels.idno" | translate}}</th>
                                    <th>{{"labels.contactno" | translate}}</th>
                                    <th>{{"labels.amountrm" | translate}}</th>
                                    <!-- <th>Action</th> -->
                                </tr>
                            </thead>
                            <tbody *ngIf="moneyOrderPayments.length >= 0">
                                <tr *ngFor="let item of moneyOrderPayments; let i = index">
                                    <td>{{ (page - 1) * itemsPerPage + i + 1 }}</td>
                                    <td>
                                        <!-- <input type="text" [(ngModel)]="item.mo_rm_no" disabled
                                            placeholder="Enter Remit No" /> -->
                                        {{ item.mo_rm_no }}
                                    </td>
                                    <td>
                                        <!-- <input type="date" [(ngModel)]="item.mo_date" name="daterange" readonly> -->
                                        {{ item.mo_date | date: 'dd MMM yyyy' }}

                                    </td>
                                    <td>
                                        {{ item.mo_payer_nm }}
                                        <!-- <input type="text" [(ngModel)]="item.mo_payer_nm" disabled
                                            placeholder="Enter Payer Name" /> -->
                                    </td>
                                    <td>
                                        {{ item.mo_id_no }}
                                        <!-- <input type="text" [(ngModel)]="item.mo_id_no" disabled
                                            placeholder="Enter ID No" /> -->
                                    </td>
                                    <td>
                                        {{ item.mo_contact_no }}
                                        <!-- <input type="text" [(ngModel)]="item.mo_contact_no" disabled
                                            placeholder="Enter Contact No" /> -->
                                    </td>
                                    <td>
                                        {{ item.mo_amt | number: '1.2-2' }}
                                        <!-- <input type="text" [(ngModel)]="item.mo_amt" placeholder="Enter Amount"
                                            disabled /> -->
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="6" style="text-align: right; font-weight: bold;">
                                        {{"labels.totalamountrm" | translate}}
                                    </td>
                                    <td style="font-weight: bold;">{{ totalMOAmount | number: '1.2-2' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="paymentinfodetails" *ngIf="onlinepaymentinfosection">
            <label class="bold">{{"labels.paymentmethod" | translate}}</label>
            <div class="marginTop">
                <input type="radio" class="custom-radio" [checked]="true" disabled />
                <span class="marginLeft">{{"labels.online" | translate}}</span>
                <div class="payment-mode"></div>
                <div class="marginTop">
                    <input type="radio" class="custom-radio" [checked]="false" disabled />
                    <span class="marginLeft">{{"labels.Europay, MasterCard, and Visa Terminal" | translate}}</span>
                </div>

                <div class="payment-mode"></div>
                <div class="marginTop">
                    <input type="radio" class="custom-radio" name="paymentMethod" [checked]="false" disabled />
                    <span class="marginLeft">{{"labels.physicalcollection" | translate}}</span>
                </div>
                <div class="table-container">
                    <table class="MATable" *ngIf="!isLoading">
                        <thead>
                            <tr class="MATableHeader">
                                <th class="thWidth">No.</th>
                                <th>{{"labels.transactionid" | translate}}</th>
                                <th>{{"labels.paymentstatus" | translate}}</th>
                                <th>{{"labels.paymentdate" | translate}}</th>
                                <th>{{"labels.amountrm" | translate}}</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="onlinePaymentInfos.length >= 0">
                            <tr *ngFor="let item of onlinePaymentInfos; let i = index">
                                <td>{{ (page - 1) * itemsPerPage + i + 1 }}</td>
                                <td>
                                    {{ item.pg_payment_id }}
                                <td>
                                    {{ item.pg_payment_status }}
                                </td>
                                <td>
                                    {{ item.pg_payment_date| date: 'dd MMM yyyy' }}
                                </td>
                                <td>
                                    {{ item.pg_payment_amt | number: '1.2-2'}}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" style="text-align: right; font-weight: bold;">
                                    {{"labels.totalamountrm" | translate}}</td>
                                <td style="font-weight: bold;">{{ totalPGAmounts | number: '1.2-2' }}</td>
                            </tr>
                        </tbody>
                    </table> <br>
                </div>
            </div>
        </div>

    </div>
    <div class="MarginSeparator"></div>

    <div>
        <h4 style="margin-left: 3%;">{{"labels.ReceiptInformation" | translate}}</h4>
    </div>
    <div class="tableWrapper">
        <table class="MATable">
            <thead>
                <tr class="MATableHeader">
                    <th class="thWidth">No.</th>
                    <th>{{"labels.receiptno" | translate}}</th>
                    <th>{{"labels.filename" | translate}}</th>
                    <th>{{"labels.generateddate" | translate}}</th>
                    <th>{{"labels.receiptstatus" | translate}}</th>
                    <th>{{"labels.reprintcount" | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of (otcpaymentinfosection ? otcRcptModel : pgRCPTModel) ; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.rcptNo }}</td>
                    <td>
                        <a href="javascript:void(0)"
                            (click)="rms_type === 'Online' ? dlRcpt(item.rcptNo) : downloadFile(item.rcptNo, item.ver_id!, item.ssdocref_id!)">
                            {{ item.file_nm }}
                        </a>
                    </td>
                    <td>{{ item.rcpt_dt | date: 'dd MMM yyyy'}}</td>
                    <td>{{ item.rcpt_status }}</td>
                    <td>{{ item.rcpt_reprint}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="MarginSeparator"></div>
    <div>
        <h4 style="margin-left: 3%;">{{"labels.bankinformation" | translate}}</h4>
    </div>
    <form [formGroup]="BankInfoForm">
        <div class="form-container">
            <div class="tableWrapper">
                <table class="IdentityFormTable">
                    <tr *ngIf="isRttAppNo">
                        <td><label for="rtt_app_no">{{"labels.refundapplicationno" | translate}}</label></td>
                        <td colspan="2">
                            <input type="text" class="form-control" value="{{this.rtt_app_no}}" disabled>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="identityType">{{"labels.identitytype" | translate}}<span
                                    class="RedAsterisk">*</span></label></td>
                        <td colspan="2">
                            <div class="select-container">
                                <select id="identityType" class="form-control" formControlName="identityType">
                                    <option value="" disabled selected>{{"labels.selectidentitytype" | translate}}
                                    </option>
                                    <option value="Business Registration Number">Business Registration Number</option>
                                    <option value="Passport / Police / Military ID">Passport / Police / Military ID
                                    </option>
                                    <option value="Old IC No.">Old NRIC</option>
                                    <option value="New IC No.">New NRIC</option>
                                </select>
                            </div>
                            <div
                                *ngIf="BankInfoForm.get('identityType')?.touched && BankInfoForm.get('identityType')?.invalid">
                                <span class="error-text"> {{"labels.identitytypeisrequired" | translate}}</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="identityNumber">{{"labels.identitynumber" | translate}}<span
                                    class="RedAsterisk">*</span></label></td>
                        <td colspan="2">
                            <input type="text" id="identityNumber" class="form-control" formControlName="identityNumber"
                                placeholder="{{'labels.enteridentitynumber' | translate}}">
                            <div
                                *ngIf="BankInfoForm.get('identityNumber')?.touched && BankInfoForm.get('identityNumber')?.invalid">
                                <span class="error-text"
                                    *ngIf="BankInfoForm.get('identityNumber')?.errors?.['required']">
                                    {{"labels.identitynumberisrequired" | translate}}</span>
                                <span class="error-text"
                                    *ngIf="BankInfoForm.get('identityNumber')?.errors?.['pattern']">
                                    {{"labels.identitynumbermustberalph" | translate}}
                                </span>
                            </div>
                        </td>

                    </tr>
                    <tr>
                        <td><label for="bankAccountName">{{"labels.bankaccountname" | translate}} <span
                                    class="RedAsterisk">*</span></label>
                        </td>
                        <td colspan="2">

                            <div class="select-container">
                                <select id="bankAccountName" class="form-control" formControlName="bankAccountName">
                                    <option value="" disabled selected>{{"labels.enterbankaccountname" | translate}}
                                    </option>
                                    <option *ngFor="let bank of bankmodel" [value]="bank.nm_en">
                                        {{ bank.nm_en }}
                                    </option>
                                </select>
                            </div>
                            <div
                                *ngIf="BankInfoForm.get('bankAccountName')?.touched && BankInfoForm.get('bankAccountName')?.invalid">
                                <span class="error-text">{{"labels.bankaccountnameisrequired" | translate}}</span>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td><label for="bankAccountNo">{{"labels.bankaccountno" | translate}}<span
                                    class="RedAsterisk">*</span></label></td>
                        <td colspan="2">
                            <input type="text" id="bankAccountNo" class="form-control" formControlName="bankAccountNo"
                                placeholder="{{'labels.enterbankaccountno' | translate}}">
                            <div
                                *ngIf="BankInfoForm.get('bankAccountNo')?.touched && BankInfoForm.get('bankAccountNo')?.invalid">
                                <span class="error-text"
                                    *ngIf="BankInfoForm.get('bankAccountNo')?.errors?.['required']">{{"labels.bankaccountnoisrequired"
                                    | translate}}</span>
                                <span class="error-text" *ngIf="BankInfoForm.get('bankAccountNo')?.errors?.['pattern']">
                                    {{"labels.bankaccountnomustbenumeric" | translate}}</span>
                            </div>
                        </td>
                    </tr>

                    <tr>
                        <td><label for="bankAccountType">{{"labels.bankaccountype" | translate}} <span
                                    class="RedAsterisk">*</span></label>
                        </td>
                        <td colspan="2">
                            <input type="text" id="bankAccountType" class="form-control"
                                formControlName="bankAccountType" value="Current/Savings">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="bankHolderName">{{"labels.bankaccountholdername" | translate}}<span
                                    class="RedAsterisk">*</span></label></td>
                        <td colspan="2">
                            <input type="text" id="bankHolderName" class="form-control" formControlName="bankHolderName"
                                placeholder="{{'labels.enterbankaccountholdername' | translate}}">
                            <div
                                *ngIf="BankInfoForm.get('bankHolderName')?.touched && BankInfoForm.get('bankHolderName')?.invalid">
                                <span class="error-text">{{"labels.bankaccountholdernameisrequired" | translate}}</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="billingAddress">{{"labels.billingaddress1" | translate}}<span
                                    class="RedAsterisk">*</span></label>
                        </td>
                        <td colspan="2">
                            <input type="text" id="billingAddress1" class="form-control"
                                formControlName="billingAddress1" placeholder="{{'labels.billingaddress1' | translate}}"
                                maxlength="100">
                            <div
                                *ngIf="BankInfoForm.get('billingAddress1')?.touched && BankInfoForm.get('billingAddress1')?.invalid">
                                <span class="error-text">{{"labels.billingaddress1isrequired" | translate}}</span>
                            </div> <br>
                            <input type="text" id="billingAddress2" class="form-control"
                                formControlName="billingAddress2" placeholder="{{'labels.billingaddress2' | translate}}"
                                maxlength="100">
                            <br>
                            <input type="text" id="billingAddress3" class="form-control"
                                formControlName="billingAddress3" placeholder="{{'labels.billingaddress3' | translate}}"
                                maxlength="100">
                        </td>
                    </tr>
                    <!-- Postcode -->
                    <tr>
                        <td>
                            <label for="postcode">
                                {{"labels.postcode" | translate}} <span class="RedAsterisk">*</span>
                            </label>
                        </td>
                        <td colspan="2">
                            <ng-select name="postcode" id="postcode" formControlName="postcode" class="form-control"
                                dropdownPosition="bottom" style="width: 50%;"
                                placeholder="{{'labels.selectpostcode' | translate}}" [addTag]="checkTag">
                                <ng-option *ngFor="let item of postCodes" [value]="item.postcode">
                                    {{ item.postcode }}
                                </ng-option>
                            </ng-select>
                            <div *ngIf="BankInfoForm.get('postcode')?.touched && BankInfoForm.get('postcode')?.invalid">
                                <span class="error-text" *ngIf="BankInfoForm.get('postcode')?.errors?.['required']">
                                    {{"labels.postcodeisrequired" | translate}}
                                </span>
                                <span class="error-text" *ngIf="BankInfoForm.get('postcode')?.errors?.['pattern']">
                                    {{"labels.postcodemustbe5digits" | translate}}
                                </span>
                            </div>
                        </td>
                    </tr>

                    <!-- City -->
                    <tr>
                        <td>
                            <label for="city">
                                City <span class="RedAsterisk">*</span>
                            </label>
                        </td>
                        <td colspan="2">
                            <ng-select name="city" formControlName="city" dropdownPosition="bottom" class="form-control"
                                placeholder="{{ 'labels.selectcity' | translate }}" style="width: 50%;"
                                [addTag]="upperCity">
                                <ng-option *ngFor="let cityItem of uniqueCities" [value]="cityItem">
                                    {{ cityItem }}
                                </ng-option>
                            </ng-select>
                            <div *ngIf="BankInfoForm.get('city')?.touched && BankInfoForm.get('city')?.invalid"
                                class="error-text">
                                {{ "labels.cityisrequired" | translate }}
                            </div>
                        </td>
                    </tr>

                    <!-- State -->
                    <tr>
                        <td>
                            <label for="state">
                                {{"labels.state" | translate}} <span class="RedAsterisk">*</span>
                            </label>
                        </td>
                        <td colspan="2">
                            <ng-select name="state" formControlName="state" dropdownPosition="bottom"
                                class="form-control" placeholder="{{ 'labels.selectstate' | translate }}"
                                style="width: 50%;">
                                <ng-option *ngFor="let stateItem of uniqueStates" [value]="stateItem">
                                    {{ stateItem }}
                                </ng-option>
                            </ng-select>
                            <div *ngIf="BankInfoForm.get('state')?.touched && BankInfoForm.get('state')?.invalid"
                                class="error-text">
                                {{ "labels.stateisrequired" | translate }}
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="recEmail">{{'labels.emailaddress' | translate}} <span
                                    class="RedAsterisk">*</span></label></td>
                        <td colspan="2">
                            <input type="email" id="recEmail" class="form-control" formControlName="recEmail"
                                placeholder="{{'labels.enteremailaddress' | translate}}">
                            <div *ngIf="BankInfoForm.get('recEmail')?.touched && BankInfoForm.get('recEmail')?.invalid">
                                <span class="error-text"
                                    *ngIf="BankInfoForm.get('recEmail')?.errors?.['required']">{{'labels.emailaddressisrequired'
                                    | translate}}</span>
                                <span class="error-text"
                                    *ngIf="BankInfoForm.get('recEmail')?.errors?.['email']">{{'labels.validemailaddress'
                                    | translate}}</span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="msg">Remarks</label></td>
                        <td colspan="2">
                            <textarea id="msg" class="form-control" formControlName="msg"
                                placeholder="{{'labels.enterremarks' | translate}}" rows="3"></textarea>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </form>


    <div class="MarginSeparator"></div>

    <div>
        <h4 style="margin-left: 3%;">{{"labels.historicaltable" | translate}}</h4>
    </div>
    <div class="tableWrapper">
        <table class="MATable">
            <thead>
                <tr class="MATableHeader">
                    <th class="thWidth">No.</th>
                    <th>{{"labels.action" | translate}}</th>
                    <th>{{"labels.actiontimestamp" | translate}}</th>
                    <th>{{"labels.performedby" | translate}}</th>
                    <th>{{"labels.remarks" | translate}}</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of refundHistModel; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ item.action }}</td>
                    <td>{{ item.dt_action != null ? (item.dt_action | date: 'dd MMM yyyy HH:mm:ss') : '-' }}</td>
                    <td>{{ item.modified_by_nm }}</td>
                    <td>{{ item.msg}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="MarginSeparator"></div>
    <!-- Submit Button -->
    <div class="button-end-container">
        <button type="button" class="btn btnCancel" (click)="onCancel()">
            {{"buttons.back" | translate}}
        </button>
        <button *ngIf="orderstatus === 'Paid' && isRefundable" class="btn btnRequest" (click)="handleRequestRefund()">
            {{ "labels.requestrefund" | translate }}
        </button>
    </div>


</body>