<body class="BodyContainer">
    <div class="PAContainer73">
      <div class="one-third">
        <div class="SingleContainer">
          <!-- Header -->
          <div class="SingleContainerHeader">
              <h2 class="text-center">{{ "labels.searchfilter" | translate }}</h2>
          </div>
          <div class="form-group">
            <label for="customerID">{{"labels.customerid" | translate}}</label>
            <input
              type="text"
              id="customerID"
              class="form-control"
              [placeholder]="'labels.entercustomerid' | translate"
              [(ngModel)]="customerID"
            />
          </div>
          <div class="form-group">
            <label for="billingno">{{"labels.billingno" | translate}}</label>
            <input
              type="text"
              id="orderReferenceNo"
              class="form-control"
              [placeholder]="'labels.enterbillingno' | translate"
              [(ngModel)]="billingNo"
            />
          </div>
          <div class="form-group">
            <label for="orderreno">{{"labels.orderrefno" | translate}}</label>
            <input
              type="text"
              id="orderreno"
              class="form-control"
              [placeholder]="'labels.enterorderrefno' | translate"
              [(ngModel)]="orderrefNo"
            />
          </div>
          <div class="form-group">
            <label for="entitytype">{{"labels.entitytype" | translate}}</label>
            <input
              type="text"
              id="entitytype"
              class="form-control"
              [placeholder]="'labels.entitytype' | translate"
              [(ngModel)]="entTy"
            />
          </div>
          <div class="form-group">
              <label for="entityNumber">{{"labels.entitynumber" | translate}}</label>
              <input
                type="text"
                id="entityNumber"
                class="form-control"
                [placeholder]="'labels.enterentitynumber' | translate"
                [(ngModel)]="entNo"
              />
            </div>
          <div class="form-buttons mt-3">
            <button type="button" class="btn btn-secondary" [disabled]="isLoading" (click)="clearFields()">{{"buttons.clear" | translate}}</button>
            <button type="button" class="btn btn-primary ml-2" [disabled]="isLoading" (click)="loadData()">{{"buttons.search" | translate}}</button>
            <br />
          </div>
        </div>
      </div>
  
      <div class="two-thirds">
        <ul class="breadcrumbOTC">
          <li>
            <a [routerLink]="'/home'">{{"menu.home" | translate}}</a>
            <span class="breadcrumb-separator"> / </span>
          </li>
          <li>
            <a [routerLink]="'/billing-cancellation-search'">{{"labels.billingcancellation" | translate}}</a>
          </li>
        </ul>
  
        <h1>{{"labels.billingcancellation" | translate}}</h1>
        <h2>{{"labels.searchresults" | translate}}</h2>
        <div class="MATableContainer">
          <div class="MALoadingContainer">
            <!-- Loading spinner overlay -->
            <div *ngIf="isLoading" class="TableLoading-overlay d-flex align-items-center justify-content-center">
              <div class="spinner-border" role="status">
                <span class="sr-only"></span>
              </div>
            </div>
          <table class="MATable" [ngClass]="{ TableDimmed: isLoading }">
            <thead>
              <tr class="MATableHeader">
                <th>No</th>
                <th>{{"labels.customerid" | translate}}</th>
                <th>{{"labels.billingno" | translate}}</th>
                <th>{{"labels.billingtypecode" | translate}}</th>
                <th>{{"labels.entitytype" | translate}}</th>
                <th>{{"labels.entitynumber" | translate}}</th>
                <th>{{"labels.billingstatus" | translate}}</th>
                <th>{{"labels.receiptno" | translate}}</th>
                <th>{{"labels.action" | translate}}</th>
              </tr>
            </thead>
            <tbody *ngIf="model.length > 0; else noResults">
              <!-- Loop through the model to display rows -->
              <tr *ngFor="let item of model; let i = index">
                <td>{{ ((page-1) * itemsPerPage) + i + 1}}</td>
                <td>{{ item.cust_id }}</td>
                <td>{{ item.billing_no }}</td>
                <td>{{ item.bt_cd + ' - ' + item.bt_desc}}</td>
                <td>{{ item.ent_ty }}</td>
                <td>{{ item.ent_no}}</td>
                <td>{{ getBillingStatusName(item.bil_wf_status) }}</td>
                <td>{{ item.receipt_no }}</td>
                <td>
                  <button 
                  (click)="navigateScreen(item)" class="btn btnAdd"> {{"buttons.view" | translate}}</button>
                </td>
              </tr>
            </tbody>
          </table>
          <ng-template #noResults>
            <tr style="height: 100px;">
              <td colspan="20" class="text-center">{{ "searchcriteriadoesnotmatch" | translate }}</td>
            </tr>
          </ng-template>
  
        </div>
      </div>
        <div class="MAPagination" *ngIf="isDisplay">
          <div class="fgSpacing">
            <div *ngIf="page * itemsPerPage < totalRecords">
              {{"showing" | translate}} {{ page * itemsPerPage }} {{"from" | translate }} {{ totalRecords }}
              {{"results" | translate }}
            </div>
            <div *ngIf="!(page * itemsPerPage < totalRecords)">
              {{"showing" | translate }} {{ totalRecords }} {{"from" | translate }} {{ totalRecords }}
              {{"results" | translate }}
            </div>
          </div>
          <div class="pagination-row">
            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle PaginControl"
                type="button"
                id="dropdownMenuButton"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                {{ selectedValue }}
              </button>
              <div class="dropdown-menu dropdown-menu-white" aria-labelledby="dropdownMenuButton">
                <button
                  class="dropdown-item"
                  *ngFor="let singleItem of dropdownOptions"
                  (click)="LoadData(singleItem)"
                >
                  {{ singleItem }}
                </button>
              </div>
            </div>
  
            <ngb-pagination
              [(page)]="page"
              [pageSize]="itemsPerPage"
              [collectionSize]="totalRecords"
              (pageChange)="loadData()"
            ></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </body>
  