<div class="container">
    <div class="header">
        <h1>OTC Submission Status</h1>
    </div>
    <div class="content">
        <p class="response-message">Response: <strong>{{ message }}</strong></p>
        <div *ngIf="message === 'Success'" class="success-message">
            <p>Please proceed to the <strong>Back Office's OTC Collection & Receipting</strong> to make payment.</p>
        </div>
        <div *ngIf="message !== 'Success'" class="error-message">
            <p>Please try again.</p>
        </div>
    </div>

    <div class="actions">
        <button class="btn btn-back" (click)="goBack()">Back ←</button>
      </div>
</div>