<body *ngIf="permListAllow === 1" BodyContainer>
  <div class="PAContainer73">
    <div class="one-third">
      <div class="form-group">
        <label for="collectionSlipNo">{{"labels.collectionslipno" | translate}}</label>
        <input type="text" id="collectionSlipNo" class="form-control"
          [placeholder]="'labels.entercollectionslipno' | translate" [(ngModel)]="collectionSlipNo" />
      </div>
      <div class="form-group">
        <label for="orderReferenceNo">{{"labels.orderrefno" | translate}}</label>
        <input type="text" id="orderReferenceNo" class="form-control"
          [placeholder]="'labels.enterorderrefno' | translate" [(ngModel)]="orderReferenceNo" />
      </div>
      <div class="form-group">
        <label for="customerName">{{"labels.customername" | translate}}</label>
        <input type="text" id="customerName" class="form-control" [placeholder]="'labels.entercustomername' | translate"
          [(ngModel)]="customerName" />
      </div>
      <div class="form-group">
        <label for="customerPhone">{{"labels.customerphoneno" | translate}}</label>
        <input type="text" id="customerPhone" class="form-control"
          [placeholder]="'labels.entercustomerphone' | translate" [(ngModel)]="customerPhone" />
      </div>
      <div class="button-group">
        <button type="button" class="btn btnCancel" (click)="clearFields()">{{"buttons.clear" | translate}}</button>
        <button type="button" class="btn btnSearch" (click)="loadData()">{{"buttons.search" |
          translate}}</button>
      </div>
    </div>

    <div class="two-thirds">
      <ul class="breadcrumbOTC">
        <li>
          <a [routerLink]="'/home'">{{"menu.home" | translate}}</a>
          <span class="breadcrumb-separator"> / </span>
        </li>
        <li>
          <a [routerLink]="'/otc-collection-receipting'">{{"labels.otccollectionandreceipting" | translate}}</a>
        </li>
      </ul>

      <h1>{{"labels.otccollectionandreceipting" | translate}}</h1>
      <!-- <h2>{{"labels.searchresults" | translate}}</h2> -->
      <div class="MATableContainer">
        <div class="MALoadingContainer">
          <!-- Loading spinner overlay -->
          <div *ngIf="isLoading" class="TableLoading-overlay d-flex align-items-center justify-content-center">
            <div class="spinner-border" role="status">
              <span class="sr-only"></span>
            </div>
          </div>
          <table class="MATable" [ngClass]="{ TableDimmed: isLoading }">
            <thead>
              <tr class="MATableHeader">
                <th>No</th>
                <th>{{"labels.collectionslipno" | translate}}</th>
                <th>{{"labels.orderrefno" | translate}}</th>
                <th>{{"labels.customername" | translate}}</th>
                <th>{{"labels.customerphoneno" | translate}}</th>
                <th>{{"labels.amountrm" | translate}}</th>
                <th>{{"labels.paymentmode" | translate}}</th>
                <th>{{"labels.status" | translate}}</th>
                <th>{{"labels.action" | translate}}</th>
              </tr>
            </thead>
            <tbody *ngIf="model.length > 0; else noResults">
              <!-- Loop through the model to display rows -->
              <tr *ngFor="let item of model; let i = index">
                <td>{{ (page - 1) * itemsPerPage + i + 1 }}</td>
                <td>{{ item.coll_slip_no }}</td>
                <td>{{ item.orn_no }}</td>
                <td>{{ item.cust_nm }}</td>
                <td>{{ item.cust_phone }}</td>
                <td>{{ item.total_amt | number: '1.2-2' }}</td>
                <td>{{ item.payment_mode ? item.payment_mode : "-" }}</td>
                <td>
                  {{
                  item.order_status === 'PENDING OTC' || item.order_status === 'OTC EXPIRED'
                  ? 'Unpaid'
                  : item.order_status === 'PAID'
                  ? 'Paid'
                  : item.order_status === 'CANCELLED'
                  ? 'Cancelled'
                  : item.order_status
                  }}
                </td>
                <td>
                  <button [disabled]="permPayAllow === 0" *ngIf="item.order_status === 'PENDING OTC'"
                    (click)="navigateToPaymentScreen(item)" class="btn btnApply"> {{"buttons.paynow" | translate}}
                  </button>
                  <button [disabled]="permViewAllow === 0" *ngIf="item.order_status === 'PAID' || item.order_status === 'OTC EXPIRED' || item.order_status === 'CANCELLED'"
                    (click)="navigateToReceiptScreen(item)" class="btn btnAdd"> {{"buttons.view" | translate}}
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <ng-template #noResults>
            <tr style="height: 100px;">
              <td colspan="20" class="text-center">{{ "searchcriteriadoesnotmatch" | translate }}</td>
            </tr>
          </ng-template>

        </div>
      </div>
      <div class="MAPagination" *ngIf="isDisplay">
        <div class="fgSpacing">
          <div *ngIf="page * itemsPerPage < totalRecords">
            {{"showing" | translate}} {{ page * itemsPerPage }} {{"from" | translate }} {{ totalRecords }}
            {{"results" | translate }}
          </div>
          <div *ngIf="!(page * itemsPerPage < totalRecords)">
            {{"showing" | translate }} {{ totalRecords }} {{"from" | translate }} {{ totalRecords }}
            {{"results" | translate }}
          </div>
        </div>
        <div class="pagination-row extramargintop extramarginright">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle PaginControl" type="button" id="dropdownMenuButton"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ selectedValue }}
            </button>
            <div class="dropdown-menu dropdown-menu-white" aria-labelledby="dropdownMenuButton">
              <button class="dropdown-item" *ngFor="let singleItem of dropdownOptions" (click)="LoadData(singleItem)">
                {{ singleItem }}
              </button>
            </div>
          </div>

          <ngb-pagination [(page)]="page" [pageSize]="itemsPerPage" [collectionSize]="totalRecords"
            (pageChange)="loadData()"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>
</body>