.access-denied-container {
  text-align: center;
  margin-top: 50px; /* Adjust the margin as needed */
}

.error-icon {
  font-size: 40px; /* Adjust size as needed */
  color: red; /* Optional: Add color for the icon */
  margin-right: 20px;
}


.error-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 50px; /* Adjust the font size as needed */
}

.MarginSeparator {
  margin-top: 30px;
}
