<ng-container *ngIf="permListAllow === 1">

    <body class="BodyCointaner">
        <div class="PAContainer73">
            <div class="left-section73">
                <div *ngIf="error" class="error-box">
                    <i class="bi bi-x-circle-fill error-icon"></i>
                    <div>
                        <strong>{{"labels.receiptcancellationnotallowed" | translate}}</strong>
                        <ul>
                            <ul>
                                <li *ngFor="let errorMsg of errorMessages">{{ errorMsg }}</li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="order-info">
            <h2>{{"labels.orderinformation" | translate}}</h2>
            <div class="order-details">
                <div class="left-section">
                    <!-- <button class="btn btnEdit" type="button" (click)="cancelReceipt()"
                        [disabled]="!isOrderInfoFinishLoading">
                        {{"buttons.cancelreceipt" | translate}}
                    </button> -->
                    <!-- <label class="bold">{{"labels.STATUS" | translate}}:</label> -->
                    <h2 style="font-weight:bold;">{{"labels.STATUS" | translate}}:</h2>
                </div>
                <!-- <label class="bold" style="color: #21ba45;"> -->
                <h2 style="color: #21ba45;font-weight: bold;">
                    {{this.orderStatus === 'P' ? 'PAID' :
                    this.orderStatus === 'V' ? 'VOID' :
                    this.orderStatus === 'PIP' ? 'Payment In Process' :
                    this.orderStatus === 'PP' ? 'Pending Payment' :
                    this.orderStatus === 'PE' ? 'Payment-Expired' :
                    this.orderStatus === 'F' ? 'Failed' :
                    this.orderStatus === 'EP' ? 'Email Pending' :
                    this.orderStatus === 'ES' ? 'Email Sent' :
                    this.orderStatus === 'EE' ? 'Email Expired' :
                    this.orderStatus === 'EF' ? 'Email Failed to Send' :
                    this.orderStatus === 'PO' ? 'Pending OTC' :
                    this.orderStatus === 'C'  ? 'Cancelled' :
                    this.orderStatus === 'OE' ? 'OTC Expired' :''}}
                    <!-- </label> -->
                </h2>
            </div>
        </div>

        <!--whole page loading start-->
        <div class="MALoadingContainerFormTable">
            <div *ngIf="isCancelReceiptLoading"
                class="TableLoading-overlay d-flex align-items-center justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
            <!--whole page loading end, the div at bottom-->


            <div class="MALoadingContainerFormTable">
                <div *ngIf="isLoadingOrderInfo"
                    class="TableLoading-overlay d-flex align-items-center justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
                <div class="tableWrapper">
                    <table>
                        <tr>
                            <td>
                                <div class="displayColumn">
                                    <label class="tableLabel">{{"labels.sourcesystem" | translate}}</label>
                                    <input class="form-control" type="text" [(ngModel)]="sourceSystem" disabled />
                                </div>
                            </td>
                            <td>
                                <div class="displayColumn">
                                    <label class="tableLabel">{{"labels.collectionslipno." | translate}}</label>
                                    <input class="form-control" type="text" [(ngModel)]="collectionSlipNo" disabled />
                                </div>
                            </td>
                            <td>
                                <div class="displayColumn">
                                    <label class="tableLabel">{{"labels.orderreferenceno." | translate}}</label>
                                    <input class="form-control" type="text" [(ngModel)]="orderRefNo" disabled />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="displayColumn">
                                    <label class="tableLabel">{{"labels.customername" | translate}}</label>
                                    <input class="form-control" type="text" [(ngModel)]="customerName" disabled />
                                </div>
                            </td>
                            <td>
                                <div class="displayColumn">
                                    <label class="tableLabel">{{"labels.customerphone" | translate}}</label>
                                    <input class="form-control" type="text" [(ngModel)]="customerPhone" disabled />
                                </div>
                            </td>
                            <td>
                                <div class="displayColumn">
                                    <label class="tableLabel">{{"labels.customeremail" | translate}}</label>
                                    <input class="form-control" type="text" [(ngModel)]="customerEmail" disabled />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="displayColumn">
                                    <label class="tableLabel">{{"labels.addressline1" | translate}}</label>
                                    <input class="form-control" type="text" [(ngModel)]="addressLine1" disabled />
                                </div>
                            </td>
                            <td>
                                <div class="displayColumn">
                                    <label class="tableLabel">{{"labels.addressline2" | translate}}</label>
                                    <input class="form-control" type="text" [(ngModel)]="addressLine2" disabled />
                                </div>
                            </td>
                            <td>
                                <div class="displayColumn">
                                    <label class="tableLabel">{{"labels.addressline3" | translate}}</label>
                                    <input class="form-control" type="text" [(ngModel)]="addressLine3" disabled />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="displayColumn">
                                    <label class="tableLabel">{{"labels.postcode" | translate}}</label>
                                    <input class="form-control" type="text" [(ngModel)]="postCode" disabled />
                                </div>
                            </td>
                            <td>
                                <div class="displayColumn">
                                    <label class="tableLabel">{{"labels.city" | translate}}</label>
                                    <input class="form-control" type="text" [(ngModel)]="city" disabled />
                                </div>
                            </td>
                            <td>
                                <div class="displayColumn">
                                    <label class="tableLabel">{{"labels.state" | translate}}</label>
                                    <label class="form-control" style="background-color: #e9ecef;">{{getStateName(state)}}</label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div>
                <h2 style="margin-left: 3%;">{{"labels.paymentitems" | translate}}</h2>
            </div>
            <div class="MALoadingContainer">
                <div *ngIf="isLoadingPaymentItems"
                    class="TableLoading-overlay d-flex align-items-center justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
                <div class="tableWrapper">
                    <table class="MATable">
                        <thead>
                            <tr class="MATableHeader">
                                <th style="width: 50px;">No.</th>
                                <th>{{"labels.itemdescription" | translate}}</th>
                                <th >{{"labels.quantity" | translate}}</th>
                                <th>{{"labels.unitfee(RM)" | translate}}</th>
                                <th>{{"labels.grossamount(RM)" | translate}}</th>
                                <th>{{"labels.tax" | translate}} (%)</th>
                                <th class="thAction">{{"labels.tax(RM)" | translate}}</th>
                                <th class="thInitiadtedBy">{{"labels.incentivecode" | translate}}</th>
                                <th>{{"labels.discount" | translate}}/ {{"labels.incentive(RM)" | translate}}</th>
                                <th>{{"labels.netamount(RM)" | translate}}</th>
                            </tr>
                        </thead>
                        <ng-container *ngIf="totalPaymentItemsRecords>0; else noPaymentItemResults">
                            <tbody>
                                <tr *ngFor="let item of OTCReceiptCancellationPaymentItemsDetails; let i = index">
                                    <td>{{ (pagePaymentItem - 1) * itemsPerPagePaymentItem + i + 1 }}</td>
                                    <td>{{ item.item_desc || '-'}}</td>
                                    <td>{{ item.qty || '-'}}</td>
                                    <td>{{ item.unit_fee != null ? (item.unit_fee | number:'1.2-2') : '-' }}</td>
                                    <td>{{ item.gross_amt != null ? (item.gross_amt | number:'1.2-2') : '-' }}</td>
                                    <td>{{ item.tax_pct != null ? (item.tax_pct | number:'1.2-2') : '-' }}</td>
                                    <td>{{ item.tax_amt != null ? (item.tax_amt | number:'1.2-2') : '-' }}</td>
                                    <td>{{ item.grant_cd || '-' }}</td>
                                    <td>{{ item.disc_amt != null ? (item.disc_amt | number:'1.2-2') : '-' }}</td>
                                    <td>{{ item.net_amt != null ? (item.net_amt | number:'1.2-2') : '-' }}</td>
                                    
                                </tr>
                                <tr class="totalRow" style="background-color: white;">
                                    <td colspan="9"
                                        style="text-align: right; font-weight: bold; border-top: 2px solid black; border-bottom: 2px solid black;">
                                        {{"labels.TOTAL" | translate}}
                                    </td>
                                    <td
                                        style="font-weight: bold; border-top: 2px solid black; border-bottom: 2px solid black;">
                                        RM {{ getTotalGrossAmountPaymentItems() | number:'1.2-2' }}
                                    </td>
                                </tr>
                            </tbody>
                        </ng-container>
                        <ng-template #noPaymentItemResults>
                            <tr style="height: 100px;">
                                <td colspan="10" class="text-center">{{"searchcriteriadoesnotmatch"| translate}}</td>
                            </tr>
                        </ng-template>
                    </table>
                </div>
                <hr class="full-width-line" />
            </div>
            <div>
                <h2 style="margin-left: 3%;">{{"labels.paymentinformation" | translate}}</h2>
            </div>
            <div class="MALoadingContainerFormTable">
                <div class="paymentinfo">
                    <div *ngIf="isLoadingPaymentInfo"
                        class="TableLoading-overlay d-flex align-items-center justify-content-center">
                        <div class="spinner-border" role="status">
                            <span class="sr-only"></span>
                        </div>
                    </div>
                    <div class="paymentinfodetails">
                        <label class="bold" style="padding-top: 10px;">{{"labels.payer_email" | translate}}:</label>
                        <label class="form-control"
                            style="margin-top: 10px;background-color: #e9ecef;">{{payerEmail}}</label>
                    </div>
                    <div class="paymentinfodetails">
                        <label class="bold">{{"labels.paymentmode" | translate}}:</label>
                        <div class="marginTop" style="margin-right: 3%;" *ngIf="OTCPaymentMode !== 'EV'">
                            <input type="radio" checked class="custom-radio" />
                            <span class="marginLeft">{{"labels.physicalcollection" | translate}}</span>
                            <div class="payment-mode" *ngIf="OTCPaymentMode==='CA' || OTCPaymentMode==='MX'">
                                <div class="marginTop">
                                    <span class="small-dot"></span>
                                    <span class="marginLeft">{{"labels.cashamount" | translate}}</span>
                                    <label class="form-control" style="margin-left: 45px;background-color: #e9ecef;">
                                        RM {{(cashAmount != null && cashAmount !== undefined ? cashAmount : 0) |
                                        number:'1.2-2'}}
                                    </label>
                                </div>
                            </div>
                            <div class="marginTop" *ngIf="getValidChequePaymentInfoDetails().length > 0">
                                <span class="small-dot"></span>
                                <span style="margin-left: 10px;">{{"labels.chequeinformation" | translate}}</span>
                            </div>

                            <div class="tableWrapperPaymentInfo" *ngIf="getValidChequePaymentInfoDetails().length > 0">
                                <table class="MATable">
                                    <thead>
                                        <tr class="MATableHeader">
                                            <th style="width: 50px;">No.</th>
                                            <th>{{"labels.chequeID" | translate}}</th>
                                            <th>{{"labels.chequestatus" | translate}}</th>
                                            <th>{{"labels.bankname" | translate}}</th>
                                            <th>{{"labels.payername" | translate}}</th>
                                            <th>{{"labels.chequeno." | translate}}</th>
                                            <th>{{"labels.chequedate" | translate}}</th>
                                            <th>{{"labels.bankaccountno." | translate}}</th>
                                            <th>{{"labels.amount(RM)" | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of getValidChequePaymentInfoDetails(); let i = index">
                                            <td>{{ (pagePaymentInfo - 1) * itemsPerPagePaymentInfo + i + 1 }}</td>
                                            <td>{{ item.che_id }}</td>
                                            <td>{{ item.che_status}}</td>
                                            <td>{{ item.che_bank_nm}}</td>
                                            <td>{{ item.che_payer_nm}}</td>
                                            <td>{{ item.che_no}}</td>
                                            <td>{{ item.che_date }}</td>
                                            <td>{{ item.che_ba_acct_no }}</td>
                                            <td>{{item.che_amt | number:'1.2-2'}}</td>
                                        </tr>
                                        <tr class="totalRow" style="background-color: white;">
                                            <td colspan="8"
                                                style="text-align: right; font-weight: bold; border-top: 2px solid black; border-bottom: 2px solid black;">
                                                {{"labels.TOTAL" | translate}}
                                            </td>
                                            <td
                                                style="font-weight: bold; border-top: 2px solid black; border-bottom: 2px solid black;">
                                                RM {{ getTotalCheckAmountPaymentInfo() | number:'1.2-2' }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="marginTop" *ngIf="getValidBankDraftPaymentInfoDetails().length > 0">
                                <span class="small-dot"></span>
                                <span style="margin-left: 10px;">{{"labels.bankdraft" | translate}}</span>
                            </div>
                            <div class="tableWrapperPaymentInfo"
                                *ngIf="getValidBankDraftPaymentInfoDetails().length > 0">
                                <table class="MATable">
                                    <thead>
                                        <tr class="MATableHeader">
                                            <th style="width: 50px;">No.</th>
                                            <th>{{"labels.collectionslipno." | translate}}</th>
                                            <th>{{"labels.orderreferenceno." | translate}}</th>
                                            <th>{{"labels.bankname" | translate}}</th>
                                            <th>{{"labels.bankdraftno." | translate}}</th>
                                            <th>{{"labels.bankdraftdate" | translate}}</th>
                                            <th>{{"labels.amount(RM)" | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of getValidBankDraftPaymentInfoDetails(); let i = index">
                                            <td>{{ (pagePaymentInfo - 1) * itemsPerPagePaymentInfo + i + 1 }}</td>
                                            <td>{{ item.coll_slip_no }}</td>
                                            <td>{{ item.orn_no}}</td>
                                            <td>{{ item.bd_bank_nm}}</td>
                                            <td>{{ item.bd_no}}</td>
                                            <td>{{ item.bd_date}}</td>
                                            <td>{{item.bd_amt | number:'1.2-2'}}</td>
                                        </tr>
                                        <tr class="totalRow" style="background-color: white;">
                                            <td colspan="6"
                                                style="text-align: right; font-weight: bold; border-top: 2px solid black; border-bottom: 2px solid black;">
                                                {{"labels.TOTAL" | translate}}
                                            </td>
                                            <td
                                                style="font-weight: bold; border-top: 2px solid black; border-bottom: 2px solid black;">
                                                RM {{ getTotalBankDraftAmountPaymentInfo() | number:'1.2-2' }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="marginTop" *ngIf="getValidMOPaymentInfoDetails().length > 0">
                                <span class="small-dot"></span>
                                <span style="margin-left: 10px;">{{"labels.moneyorder" | translate}}</span>
                            </div>
                            <div class="tableWrapperPaymentInfo" *ngIf="getValidMOPaymentInfoDetails().length > 0">
                                <table class="MATable">
                                    <thead>
                                        <tr class="MATableHeader">
                                            <th style="width: 50px;">No.</th>
                                            <th>{{"labels.collectionslipno." | translate}}</th>
                                            <th>{{"labels.remitno." | translate}}</th>
                                            <th>{{"labels.moneyorderdate" | translate}}</th>
                                            <th>{{"labels.payername" | translate}}</th>
                                            <th>{{"labels.IDno." | translate}}</th>
                                            <th>{{"labels.contactno." | translate}}</th>
                                            <th>{{"labels.amount(RM)" | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of getValidMOPaymentInfoDetails(); let i = index">
                                            <td>{{ (pagePaymentInfo - 1) * itemsPerPagePaymentInfo + i + 1 }}</td>
                                            <td>{{ item.coll_slip_no }}</td>
                                            <td>{{ item.mo_rm_no}}</td>
                                            <td>{{ item.mo_date}}</td>
                                            <td>{{ item.mo_payer_nm}}</td>
                                            <td>{{ item.mo_id_no}}</td>
                                            <td>{{ item.mo_contact_no}}</td>
                                            <td>{{item.mo_amt | number:'1.2-2'}}</td>
                                        </tr>
                                        <tr class="totalRow" style="background-color: white;">
                                            <td colspan="7"
                                                style="text-align: right; font-weight: bold; border-top: 2px solid black; border-bottom: 2px solid black;">
                                                {{"labels.TOTAL" | translate}}
                                            </td>
                                            <td
                                                style="font-weight: bold; border-top: 2px solid black; border-bottom: 2px solid black;">
                                                RM {{ getTotalMoneyOrderAmountPaymentInfo() | number:'1.2-2' }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="marginTop" style="margin-right: 3%;"
                            *ngIf="getValidEVPaymentInfoDetails().length > 0">
                            <input type="radio" checked class="custom-radio" />
                            <span class="marginLeft">{{"labels.europay,mastercard,andvisaterminal" | translate}}</span>
                            <div class="marginTop" *ngIf="OTCPaymentMode ==='EV'">
                                <span class="small-dot"></span>
                                <span style="margin-left: 10px;">{{"labels.emvtransactioninformation" |
                                    translate}}</span>
                            </div>
                            <div class="tableWrapperPaymentInfo" *ngIf="OTCPaymentMode==='EV'">
                                <table class="MATable">
                                    <thead>
                                        <tr class="MATableHeader">
                                            <th style="width: 50px;">No.</th>
                                            <th>{{"labels.transactiontrace" | translate}}</th>
                                            <th>{{"labels.batchnumber" | translate}}</th>
                                            <th>{{"labels.hostnumber" | translate}}</th>
                                            <th>{{"labels.terminalID" | translate}}</th>
                                            <th>{{"labels.transactionamount(RM)" | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of getValidEVPaymentInfoDetails(); let i = index">
                                            <td>{{ (pagePaymentInfo - 1) * itemsPerPagePaymentInfo + i + 1 }}</td>
                                            <td>{{ item.trans_trace }}</td>
                                            <td>{{ item.batch_no}}</td>
                                            <td>{{ item.host_no}}</td>
                                            <td>{{ item.t_id}}</td>
                                            <td>{{item.amt | number:'1.2-2'}}</td>
                                        </tr>
                                        <tr class="totalRow" style="background-color: white;">
                                            <td colspan="5"
                                                style="text-align: right; font-weight: bold; border-top: 2px solid black; border-bottom: 2px solid black;">
                                                {{"labels.TOTAL" | translate}}
                                            </td>
                                            <td
                                                style="font-weight: bold; border-top: 2px solid black; border-bottom: 2px solid black;">
                                                RM {{ getTotalEMVAmountPaymentInfo() | number:'1.2-2' }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div style="padding-bottom: 20px;"></div>
                </div>
            </div>
            <div class="MarginSeparator"></div>
            <div>
                <h2 style="margin-left: 3%;">{{"labels.receiptinformation" | translate}}</h2>
            </div>
            <div class="MALoadingContainer">
                <div *ngIf="isLoadingReceiptInfo"
                    class="TableLoading-overlay d-flex align-items-center justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
                <div class="tableWrapper">
                    <table class="MATable">
                        <thead>
                            <tr class="MATableHeader">
                                <th class="thWidth">No.</th>
                                <th>{{"labels.receiptno." | translate}}</th>
                                <th class="thFileName">{{"labels.filename" | translate}}</th>
                                <th>{{"labels.generateddate" | translate}}</th>
                                <th class="thAction">{{"labels.receiptstatus" | translate}}</th>
                                <th>{{"labels.reprintcount" | translate}}</th>
                            </tr>
                        </thead>
                        <ng-container *ngIf="totalReceiptInfoRecords>0; else noResults">
                            <tbody *ngIf="isDisplayReceiptInfo">
                                <tr *ngFor="let item of OTCReceiptCancellationReceiptInfoDetails; let i = index">
                                    <td>{{ (pageReceiptInfo - 1) * itemsPerPageReceiptInfo + i + 1 }}</td>
                                    <td>{{ item.rcpt_no }}</td>
                                    <td>{{item.file_nm}}</td>
                                    <td>{{ item.rcpt_dt }}</td>
                                    <td>{{ item.rcpt_status }}
                                    </td>
                                    <td>{{item.rcpt_reprint}}</td>
                                </tr>
                            </tbody>
                        </ng-container>
                        <ng-template #noResults>
                            <tr style="height: 100px;">
                                <td colspan="6" class="text-center">{{"searchcriteriadoesnotmatch"| translate}}</td>
                            </tr>
                        </ng-template>
                    </table>
                </div>
            </div>
            <div>
                <h2 style="margin-left: 3%;">{{"labels.historicaltable" | translate}}</h2>
            </div>
            <div class="MALoadingContainer">
                <div *ngIf="isLoadingHistory"
                    class="TableLoading-overlay d-flex align-items-center justify-content-center">
                    <div class="spinner-border" role="status">
                        <span class="sr-only"></span>
                    </div>
                </div>
                <div class="tableWrapper">
                    <!-- <table class="MATable">
                        <thead>
                            <tr class="MATableHeader">
                                <th class="thWidth">No.</th>
                                <th>{{"labels.action" | translate}}</th>
                                <th>{{"labels.actiontimestamp" | translate}}</th>
                                <th>{{"labels.status" | translate}}</th>
                                <th>{{"labels.counterID" | translate}}</th>
                                <th>{{"labels.performedby" | translate}}</th>
                            </tr>
                        </thead>
                        <ng-container *ngIf="totalHistoryRecords>0; else noResults">
                            <tbody *ngIf="isDisplayHist">
                                <tr *ngFor="let item of OTCReceiptCancellationHistoryDetails; let i = index">
                                    <td>{{ OTCReceiptCancellationHistoryDetails.length - i }}</td>
                                    <td>{{ item.action }}</td>
                                    <td>{{item.dt_action}}</td>
                                    <td>{{item.nm_en}}</td>
                                    <td>{{ item.counter_id}}</td>
                                    <td>{{item.act_by}}</td>
                                </tr>
                            </tbody>
                        </ng-container>
                        <ng-template #noResults>
                            <tr style="height: 100px;">
                                <td colspan="6" class="text-center">{{"searchcriteriadoesnotmatch"| translate}}</td>
                            </tr>
                        </ng-template>
                    </table> -->
                    <table class="MATable">
                        <thead> 
                            <tr class="MATableHeader">
                                <th class="thWidth">No.</th>
                                <th>{{"labels.action" | translate}}</th>
                                <th>{{"labels.actiontimestamp" | translate}}</th>
                                <th>{{"labels.status" | translate}}</th>
                                <th>{{"labels.branch" | translate}}</th>
                                <th>{{"labels.counterID" | translate}}</th>
                                <th>{{"labels.performedby" | translate}}</th>
                                <th>{{"labels.justification" | translate}}</th>
                                <th>{{"labels.remark" | translate}}</th>
                            </tr>
                        </thead>
                        <ng-container *ngIf="totalHistoryRecords>0; else noResultsHist">
                            <tbody *ngIf="isDisplayHist">
                                <tr *ngFor="let item of OTCReceiptCancellationHistoryDetailsAudit; let i = index">
                                    <td>{{ OTCReceiptCancellationHistoryDetailsAudit.length - i }}</td>
                                    <td>{{ item.action }}</td>
                                    <td>{{item.dt_action}}</td>
                                    <td>{{item.status}}</td>
                                    <td>{{item.bcm_desc}}</td>
                                    <td>{{ item.counter_id || '-'}}</td>
                                    <td>{{item.performed_by_nm}}</td>
                                    <!-- <td>{{ item.justification ? '(' + item.justification + ')' : '' }} {{ item.others }}</td> -->
                                    <td> {{ item.justification ? '(' + item.justification + ')' + ' ' + (item.others || '') : '-' }}</td>
                                    <td>{{item.remark || '-'}}</td>
                                </tr>
                            </tbody>
                        </ng-container>
                        <ng-template #noResultsHist>
                            <tr style="height: 100px;">
                                <td colspan="9" class="text-center">{{"searchcriteriadoesnotmatch"| translate}}
                                </td>
                            </tr>
                        </ng-template>
                    </table>
                </div>
            </div>
            <div style="display: flex; justify-content: flex-end; margin-top: 20px;margin-right: 3%;">
                <button class="btn btnCancel me-2" type="button" (click)="back()" [disabled]="!isOrderInfoFinishLoading">
                    {{"buttons.back" | translate}}
                </button>
                <ng-container *ngIf="allowCancel === true && this.orderStatus === 'P'">
                    <button class="btn btnEdit" type="button" (click)="cancelReceipt()"
                        [disabled]="!isOrderInfoFinishLoading">
                        {{"buttons.cancelreceipt" | translate}}
                    </button>
                </ng-container>
            </div>
        </div>
        <div class="MarginSeparator"></div>
    </body>
</ng-container>