<!-- <form #form name="frmPayment" method="post" action="https://52.187.113.151:8443/rmsrest/api/onlinepayment/v1/rms_paymentPage"> -->
<form #form name="frmPayment" method="post" [attr.action]="apiURL+'/api/onlinepayment/v1/rms_paymentPage'">
    <input type="hidden" name="jsonData" [value]="submittedJson">
</form>

<body class="BodyCointaner">
    <div class="container">
        <h1>Mock CRS Online Payment Screen</h1>
    </div>

    <td>
        <div class="displayColumn">
            <label class="tableLabel">Order Number (orn_no) <span class="red-asterisk">*</span></label>
            <input class="form-control" type="text" [(ngModel)]="paymentData.orn_no" />
        </div>
    </td>

    <div class="MarginSeparator"></div>

    <div class="txn-info">
        <h3>Transaction Total Amount Simulation Notes</h3>
        <ul>
            <li><strong>0.14</strong> – <span class="failed">Simulate Failed</span></li>
            <li><strong>0.53</strong> – <span class="no-response">Simulate No Response from Gateway</span></li>
            <li><strong>Other Amounts</strong> – <span class="approved">Approved</span></li>
        </ul>
    </div>

    <div class="form-section">
        <h2>Payment Item Details</h2>
        <div class="table-container">
            <table class="MATable">
                <thead>
                    <tr class="MATableHeader">
                        <th class="thFileName">Field</th>
                        <th class="thFileName" *ngFor="let item of paymentData.payment_item_details; let i = index">
                            <div class="item-container">
                                Item {{ i + 1 }}
                                <button class="btn btnAdd" (click)="removeItem(i)">Remove</button>
                            </div>
                        </th>

                        <th>
                            <button class="btn btnAdd" (click)="addNewItem()">Add Item</button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Fee Detail ID <span class="red-asterisk">*</span></td>
                        <td *ngFor="let item of paymentData.payment_item_details">
                            <select id="entityType" class="form-control" [(ngModel)]="item.fee_detail_id"
                                (change)="onFeeDetailChange($event, item)">
                                <option value="" disabled selected>Select Fee Detail ID</option>
                                <option *ngFor="let fee of feeDetailOptions" [value]="fee.fee_detail_id">
                                    {{ fee.fee_detail_id }} - {{ fee.fee_detail_nm_en }}
                                </option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>Item Reference No <span class="red-asterisk">*</span></td>
                        <td *ngFor="let item of paymentData.payment_item_details">
                            <input type="text" [(ngModel)]="item.item_ref_no">
                        </td>
                    </tr>
                    <tr>
                        <td>Description <span class="red-asterisk">*</span></td>
                        <td *ngFor="let item of paymentData.payment_item_details">
                            <input type="text" [(ngModel)]="item.item_desc">
                        </td>
                    </tr>
                    <tr>
                        <td>Unit Fee (RM) <span class="red-asterisk">*</span></td>
                        <td *ngFor="let item of paymentData.payment_item_details; let i = index">
                            <input type="number" [(ngModel)]="item.unit_fee" (change)="recalculateAmounts(i)" min="1">
                        </td>
                    </tr>
                    <tr>
                        <td>Quantity <span class="red-asterisk">*</span></td>
                        <td *ngFor="let item of paymentData.payment_item_details; let i = index">
                            <input type="number" [(ngModel)]="item.qty" (change)="recalculateAmounts(i)" min="1"
                                (keydown)="preventTyping($event)">
                        </td>
                    </tr>
                    <tr>
                        <td>Gross Amount (RM)</td>
                        <td *ngFor="let item of paymentData.payment_item_details">
                            <input type="number" [value]="item.gross_amt" disabled>
                        </td>
                    </tr>
                    <tr>
                        <td>Grant Code</td>
                        <td *ngFor="let item of paymentData.payment_item_details">
                            <input type="text" [(ngModel)]="item.grant_cd">
                        </td>
                    </tr>
                    <tr>
                        <td>Discount Amount (RM)</td>
                        <td *ngFor="let item of paymentData.payment_item_details; let i = index">
                            <input type="number" [(ngModel)]="item.disc_amt" (change)="recalculateAmounts(i)" min="1">
                        </td>
                    </tr>
                    <tr>
                        <td>Tax (%)</td>
                        <td *ngFor="let item of paymentData.payment_item_details; let i = index">
                            <input type="number" [(ngModel)]="item.tax_pct" (change)="recalculateAmounts(i)">
                        </td>
                    </tr>
                    <tr>
                        <td>Tax (RM)</td>
                        <td *ngFor="let item of paymentData.payment_item_details">
                            <input type="number" [value]="item.tax_amt | number: '1.2-2' " disabled>
                        </td>
                    </tr>
                    <tr>
                        <td>Net Amount (RM) </td>
                        <td *ngFor="let item of paymentData.payment_item_details">
                            <input type="number" [value]="item.net_amt |number: '1.2-2'" disabled>
                        </td>
                    </tr>
                    <tr>
                        <td>Entity Name</td>
                        <td *ngFor="let item of paymentData.payment_item_details">
                            <input type="text" [(ngModel)]="item.entity_nm">
                        </td>
                    </tr>
                    <tr>
                        <td>Entity Type</td>
                        <td *ngFor="let item of paymentData.payment_item_details">
                            <select id="entityType" class="form-control" [(ngModel)]="item.entity_type">
                                <option value="" disabled selected>{{"Select Entity Type"}}</option>
                                <option value="I">Individual</option>
                                <option value="C">Company</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Entity No</td>
                        <td *ngFor="let item of paymentData.payment_item_details">
                            <input type="text" [(ngModel)]="item.entity_no">
                        </td>
                    </tr>
                    <tr>
                        <td>CP No</td>
                        <td *ngFor="let item of paymentData.payment_item_details">
                            <input type="text" [(ngModel)]="item.cp_no">
                        </td>
                    </tr>
                    <tr>
                        <td>CP Tier</td>
                        <td *ngFor="let item of paymentData.payment_item_details">
                            <select id="entityType" class="form-control" [(ngModel)]="item.cp_tier">
                                <option value="" disabled selected>{{"Select CP Tier"}}</option>
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>CP Tier Amount </td>
                        <td *ngFor="let item of paymentData.payment_item_details">
                            <input type="number" [(ngModel)]="item.cp_tier_amt">
                        </td>
                    </tr>
                    <tr>
                        <td>CP Tier Discount Percentage </td>
                        <td *ngFor="let item of paymentData.payment_item_details">
                            <input type="number" [(ngModel)]="item.cp_tier_disc_pct">
                        </td>
                    </tr>
                    <tr>
                        <td>Txn Type</td>
                        <td *ngFor="let item of paymentData.payment_item_details">
                            <input type="text" [(ngModel)]="item.txn_type">
                        </td>
                    </tr>
                    <tr>
                        <td>Payment Case</td>
                        <td *ngFor="let item of paymentData.payment_item_details">
                            <input type="text" [(ngModel)]="item.pymt_case">
                        </td>
                    </tr>
                    <tr>
                        <td>Location</td>
                        <td *ngFor="let item of paymentData.payment_item_details">
                            <input type="text" [(ngModel)]="item.location">
                        </td>
                    </tr>
                    <tr>
                        <td>Calendar Year</td>
                        <td *ngFor="let item of paymentData.payment_item_details">
                            <input type="text" [(ngModel)]="item.calendar_yr">

                        </td>
                    </tr>
                    <tr>
                        <td>Litigation Item Reference</td>
                        <td *ngFor="let item of paymentData.payment_item_details">
                            <input type="text" [(ngModel)]="item.lit_item_ref">
                        </td>
                    </tr>
                    <tr>
                        <td>DPS ID</td>
                        <td *ngFor="let item of paymentData.payment_item_details">
                            <input type="text" [(ngModel)]="item.dps_id">
                        </td>
                    </tr>
                    <tr>
                        <td>DPS Task</td>
                        <td *ngFor="let item of paymentData.payment_item_details">
                            <input type="text" [(ngModel)]="item.dps_task">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <h2>Payment/Customer Information</h2>

    <table class="MATable">
        <tr>
            <td>
                <div class="displayColumn">
                    <label class="tableLabel">Source System (ss_cd) <span class="red-asterisk">*</span></label>
                    <input class="form-control" type="text" [(ngModel)]="paymentData.ss_cd" />
                </div>
            </td>
            <td>
                <div class="displayColumn">
                    <label class="tableLabel">{{"Payment Method (pymt_method)" }} <span class="red-asterisk">*</span>
                    </label>
                    <select id="entityType" class="form-control" [(ngModel)]="paymentData.pymt_method"
                        (change)="onPaymentMethodChange()">
                        <option value="Online" selected>Online</option>
                        <option value="OTC">OTC</option>
                    </select>
                </div>
            </td>
            <td>
                <div class="displayColumn">
                    <label class="tableLabel">Order Date (orn_dt) <span class="red-asterisk">*</span></label>
                    <input class="form-control" type="text" [value]="paymentData.orn_dt| date: 'dd MMM yyyy'"
                        disabled />
                </div>
            </td>

            <td>
                <div class="displayColumn">
                    <label class="tableLabel">Total Amount (RM) (total_amt): Auto Calculated <span
                            class="red-asterisk">*</span></label>
                    <input class="form-control" type="text" [value]="paymentData.total_amt | number: '1.2-2'"
                        disabled />
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="displayColumn">
                    <label class="tableLabel">Customer Name (cust_nm) <span class="red-asterisk">*</span></label>
                    <input class="form-control" type="text" [(ngModel)]="paymentData.cust_nm" />

                </div>
            </td>

            <td>
                <div class="displayColumn">
                    <label class="tableLabel">Customer Email (cust_email) <span class="red-asterisk">*</span></label>
                    <input class="form-control" type="text" [(ngModel)]="paymentData.cust_email" />
                </div>
            </td>

            <td>
                <div class="displayColumn">
                    <label class="tableLabel">Customer Phone (cust_phone) <span class="red-asterisk">*</span></label>
                    <input class="form-control" type="text" [(ngModel)]="paymentData.cust_phone" />
                </div>
            </td>

            <td>
                <div class="displayColumn" *ngIf="paymentData.pymt_method === 'OTC'">
                    <label class="tableLabel">Collection Slip No. (coll_slip)<span *ngIf="paymentData.pymt_method === 'OTC'" class="red-asterisk">*</span></label>
                    <input class="form-control" type="text" [(ngModel)]="paymentData.collection_slip" />
                </div>
            </td>

        </tr>
        <tr>
            <td>
                <div class="displayColumn">
                    <label class="tableLabel">Address Line 1 (cust_addr_1) <span class="red-asterisk">*</span></label>
                    <input class="form-control" type="text" [(ngModel)]="paymentData.cust_addr_1" />
                </div>
            </td>

            <td>
                <div class="displayColumn">
                    <label class="tableLabel">Address Line 2 (cust_addr_2) <span class="red-asterisk">*</span></label>
                    <input class="form-control" type="text" [(ngModel)]="paymentData.cust_addr_2" />
                </div>
            </td>
            <td>
                <div class="displayColumn">
                    <label class="tableLabel">Address Line 3 (cust_addr_3) <span class="red-asterisk">*</span></label>
                    <input class="form-control" type="text" [(ngModel)]="paymentData.cust_addr_3" />
                </div>
            </td>

        </tr>

        <tr>
            <td>
                <div class="displayColumn">
                    <label class="tableLabel">Postcode (cust_postcode) <span class="red-asterisk">*</span></label>
                    <input class="form-control" type="text" [(ngModel)]="paymentData.cust_postcode" />
                </div>
            </td>

            <td>
                <div class="displayColumn">
                    <label class="tableLabel">City (cust_city) <span class="red-asterisk">*</span></label>
                    <input class="form-control" type="text" [(ngModel)]="paymentData.cust_city" />
                </div>
            </td>

            <td>
                <div class="displayColumn">
                    <label class="tableLabel">State (cust_state) <span class="red-asterisk">*</span></label>
                    <select id="entityType" class="form-control" [(ngModel)]="paymentData.cust_state">
                        <option value="" disabled selected>{{"Select State"}}</option>
                        <option value="JHR">JOHOR</option>
                        <option value="KDH">KEDAH</option>
                        <option value="KTN">KELANTAN</option>
                        <option value="MLK">MELAKA</option>
                        <option value="NSN">NEGERI SEMBILAN</option>
                        <option value="PHG">PAHANG</option>
                        <option value="PNG">PULAU PINANG</option>
                        <option value="PRK">PERAK</option>
                        <option value="PLS">PERLIS</option>
                        <option value="SGR">SELANGOR</option>
                        <option value="TGR">TERENGGANU</option>
                        <option value="SBH">SABAH</option>
                        <option value="SWK">SARAWAK</option>
                        <option value="KUL">WILAYAH PERSEKUTUAN KUALA LUMPUR</option>
                        <option value="LBN">WILAYAH PERSEKUTUAN LABUAN</option>
                    </select>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="displayColumn">
                    <label class="tableLabel">Return URL (ss_return_url) <span class="red-asterisk">*</span></label>
                    <input class="form-control" type="text" [(ngModel)]="paymentData.ss_return_url" />
                </div>
            </td>

            <td>
                <div class="displayColumn">
                    <label class="tableLabel">Callback URL (ss_callback_url) </label>
                    <input class="form-control" type="text" [(ngModel)]="paymentData.ss_callback_url" />
                </div>
            </td>

            <td>
                <div class="displayColumn">
                    <label class="tableLabel">Email Flag (0/1) <span class="red-asterisk">*</span></label>
                    <input class="form-control" type="text" [(ngModel)]="paymentData.email_flag" />
                </div>
            </td>
        </tr>
    </table>

    <div class="MarginSeparator"></div>

    <div class="form-section" *ngIf="paymentData.pymt_method === 'Online'">
        <button class="btn btnSubmit" [disabled]="!isFormValid()" (click)="form.submit()">Submit</button>
        <button class="btn btnSubmit" style="margin-left: 10px;" (click)="checkJson()">Check JSON Format</button>
    </div>

    <div class="form-section" *ngIf="paymentData.pymt_method === 'OTC'">
        <button class="btn btnSubmit" [disabled]="!isFormValid()" (click)="submitForm()">Submit</button>
        <button class="btn btnSubmit" style="margin-left: 10px;" (click)="checkJson()">Check JSON Format</button>
    </div>

    <div *ngIf="submittedJson" class="form-section">
        <h2>JSON Output</h2>
        <pre>{{ submittedJson }}</pre>
    </div>
    <div class="MarginSeparator"></div>
</body>