<div class="container">
  <!-- Sidebar Section -->
  <div class="sidebar">
    <div class="filter-group">
      <label for="category">{{"labels.cataloguecategory" | translate}}</label>
      <select id="category" [(ngModel)]="selectedCategory" (change)="onCategoryChange()">
        <option value="" disabled selected>{{"labels.selectHere" | translate}}</option>
        <option value="Catalogue Items">{{"labels.catalogueItems" | translate}}</option>
        <option value="Billing">{{"labels.billing" | translate}}</option>
        <option value="Non-Billing">{{"labels.nonBilling" | translate}}</option>
      </select>
    </div>

    <!-- Item Name Filter (Visible only when Catalogue Items is selected) -->
    <div class="filter-group" *ngIf="selectedCategory === 'Catalogue Items'">
      <label for="item-name">{{"labels.itemname" | translate}}</label>
      <input id="item-name" type="text" [(ngModel)]="itemName" [placeholder]="'labels.pleaseTypeHere' | translate" />
    </div>

    <!-- Billing Number Filter (Visible only when Billing is selected) -->
    <div class="filter-group" *ngIf="selectedCategory === 'Billing'">
      <label for="billing-no">{{"labels.billingno" | translate}}</label>
      <input id="billing-no" type="text" [(ngModel)]="billingNo" [placeholder]="'labels.pleaseTypeHere' | translate" />
    </div>

    <!-- Non-Billing Number Filter (Visible only when Non-Billing is selected) -->
    <div class="filter-group" *ngIf="selectedCategory === 'Non-Billing'">
      <label for="non-billing-no">{{"labels.nonbillingno" | translate}}</label>
      <input id="non-billing-no" type="text" [(ngModel)]="nonBilNo"
        [placeholder]="'labels.pleaseTypeHere' | translate" />
    </div>


    <!-- Clear and Search buttons -->
    <div class="button-group">
      <button (click)="resetFilters()" class="btn-clear">{{"buttons.clear" | translate}}</button>
      <button (click)="searchItems()" class="btn-search">{{"buttons.search" | translate}}</button>
    </div>
  </div>

  <!-- Main Content Section -->
  <div class="content">
    <!-- Catalogue Items Table -->
    <div *ngIf="selectedCategory === 'Catalogue Items'">
      <h3>{{"labels.catalogueitemtable" | translate}}</h3>

      <div class="MATableContainer TablePosition-relative" *ngIf="isDisplay">
        <div class="MALoadingContainer">
          <!-- Loading spinner overlay -->
          <div *ngIf="isLoading" class="TableLoading-overlay d-flex align-items-center justify-content-center">
            <div class="spinner-border" role="status">
              <span class="sr-only"></span>
            </div>
          </div>

          <!-- Table Structure -->
          <table class="catalog-table" [ngClass]="{ TableDimmed: isLoading }">
            <thead>
              <tr>
                <th>{{ "labels.no." | translate }}</th>
                <th>{{ "labels.feedetailname" | translate }}</th>
                <th>{{ "labels.sourcesystem" | translate }}</th>
                <th>{{ "labels.amount" | translate }}</th>
                <!-- <th>{{ "labels.quantity" | translate }}</th> -->
                <th>{{ "labels.action" | translate }}</th>
              </tr>
            </thead>

            <ng-container *ngIf="model.length > 0; else noResults">
              <tbody>
                <tr *ngFor="let item of model; let i = index">
                  <td>{{ i + 1 + (page - 1) * itemsPerPage }}</td>
                  <td>{{ item.feeDetailNmE }}</td>
                  <td>{{ item.ssCd }}</td>
                  <td>{{ item.unitFee | number: '1.2-2' }}</td>
                  <!-- <td>{{ item.qty }}</td> -->
                  <td><button class="pay-button" (click)="payForItem(item)">{{"buttons.pay"|translate}}</button></td>
                </tr>
              </tbody>
            </ng-container>
            <ng-template #noResults>
              <tr style="height: 100px;">
                <td colspan="20" class="text-center">{{"searchcriteriadoesnotmatch"| translate}}</td>
              </tr>
            </ng-template>
          </table>
        </div>

        <!-- Pagination -->
        <div class="MAPagination" *ngIf="isDisplay" style="margin-bottom:100px; margin-top:30px;">
          <div class="fgSpacing">
            <div *ngIf="page * itemsPerPage < totalRecords">
              {{"showing" | translate}} {{ page * itemsPerPage }} {{"from" | translate}} {{ totalRecords }}
              {{"results" | translate}}
            </div>
            <div *ngIf="!(page * itemsPerPage < totalRecords)">
              {{"showing" | translate}} {{ totalRecords }} {{"from" | translate}} {{ totalRecords }}
              {{"results" | translate}}
            </div>
          </div>
          <div class="pagination-row">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle PaginControl" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ selectedValue }}
              </button>
              <div class="dropdown-menu dropdown-menu-white" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item" *ngFor="let singleItem of dropdownOptions" (click)="LoadData(singleItem)">
                  {{ singleItem }}
                </button>
              </div>
            </div>
            <ngb-pagination [(page)]="page" [pageSize]="itemsPerPage" [collectionSize]="totalRecords"
              (pageChange)="loadData()"></ngb-pagination>
          </div>
        </div>
      </div>
    </div>

    <!-- Billing Items Table -->
    <div *ngIf="selectedCategory === 'Billing'">
      <h3>{{"labels.billingtable" | translate}}</h3>

      <!-- Loading Spinner -->
      <div class="MATableContainer TablePosition-relative" *ngIf="isDisplay">
        <div class="MALoadingContainer">
          <!-- Loading spinner overlay -->
          <div *ngIf="isLoading" class="TableLoading-overlay d-flex align-items-center justify-content-center">
            <div class="spinner-border" role="status">
              <span class="sr-only"></span>
            </div>
          </div>

          <!-- Table Structure -->
          <table class="catalog-table" [ngClass]="{ TableDimmed: isLoading }">
            <thead>
              <tr>
                <th>{{ "labels.no." | translate }}</th>
                <th>{{ "labels.billingno" | translate }}</th>
                <th>{{ "labels.entityname" | translate }}</th>
                <th>{{ "labels.entitytype" | translate }}</th>
                <th>{{ "labels.entitynumber" | translate }}</th>
                <th>{{ "labels.billingdate" | translate }}</th>
                <th>{{ "labels.totalamt" | translate }}</th>
                <th>{{ "labels.action" | translate }}</th>
              </tr>
            </thead>
            <ng-container *ngIf="billingItems.length > 0; else noResults">
              <tbody>
                <tr *ngFor="let bill of billingItems; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ bill.billingNo }}</td>
                  <td>{{ bill.entNm }}</td>
                  <td>{{ bill.entTy }}</td>
                  <td>{{ bill.entNo }}</td>
                  <td>{{ bill.dtCreated | date: 'dd MMM yyyy' }}</td>
                  <td>{{ bill.final_amt | number:'1.2-2'}}</td>
                  <!-- <td><button class="pay-button" (click)="payBil(bill.billingNo)">{{"buttons.pay"|translate}}</button></td> -->
                  <td>
                    <ng-container *ngIf="bill.bil_status === 'Unpaid'; else showStatus">
                      <button class="pay-button" (click)="payBil(bill.billingNo)">
                        {{ "buttons.pay" | translate }}
                      </button>
                    </ng-container>
                    <ng-template #showStatus>
                      {{ bill.bil_status }}
                    </ng-template>
                  </td>
                </tr>
              </tbody>
            </ng-container>
            <ng-template #noResults>
              <tr style="height: 100px;">
                <td colspan="20" class="text-center">{{"searchcriteriadoesnotmatch"| translate}}</td>
              </tr>
            </ng-template>
          </table>
        </div>

        <!-- Pagination -->
        <div class="MAPagination" *ngIf="isDisplay" style="margin-bottom:100px; margin-top:30px;">
          <div class="fgSpacing">
            <div *ngIf="page * itemsPerPage < totalRecords">
              {{"showing" | translate}} {{ page * itemsPerPage }} {{"from" | translate}} {{ totalRecords }}
              {{"results" | translate}}
            </div>
            <div *ngIf="!(page * itemsPerPage < totalRecords)">
              {{"showing" | translate}} {{ totalRecords }} {{"from" | translate}} {{ totalRecords }}
              {{"results" | translate}}
            </div>
          </div>
          <div class="pagination-row">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle PaginControl" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ selectedValue }}
              </button>
              <div class="dropdown-menu dropdown-menu-white" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item" *ngFor="let singleItem of dropdownOptions" (click)="LoadData(singleItem)">
                  {{ singleItem }}
                </button>
              </div>
            </div>
            <ngb-pagination [(page)]="page" [pageSize]="itemsPerPage" [collectionSize]="totalRecords"
              (pageChange)="loadData()"></ngb-pagination>
          </div>
        </div>
      </div>
    </div>

    <!-- Non-Billing Items Table -->
    <div *ngIf="selectedCategory === 'Non-Billing'">
      <h3>{{"labels.nonbillingtable" | translate}}</h3>

      <!-- Loading Spinner -->
      <div class="MATableContainer TablePosition-relative" *ngIf="isDisplay">
        <div class="MALoadingContainer">
          <!-- Loading spinner overlay -->
          <div *ngIf="isLoading" class="TableLoading-overlay d-flex align-items-center justify-content-center">
            <div class="spinner-border" role="status">
              <span class="sr-only"></span>
            </div>
          </div>

          <!-- Table Structure -->
          <table class="catalog-table" [ngClass]="{ TableDimmed: isLoading }">
            <thead>
              <tr>
                <th>{{ "labels.no." | translate }}</th>
                <th>{{ "labels.nonbillingno" | translate }}</th>
                <th>{{ "labels.entityname" | translate }}</th>
                <th>{{ "labels.entitytype" | translate }}</th>
                <th>{{ "labels.entitynumber" | translate }}</th>
                <th>{{ "labels.nonbillingdate" | translate }}</th>
                <th>{{ "labels.totalamt" | translate }}</th>
                <th>{{ "labels.action" | translate }}</th>
              </tr>
            </thead>
            <ng-container *ngIf="nonBillingItems.length > 0; else noResults">
              <tbody>
                <tr *ngFor="let nonBill of nonBillingItems; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ nonBill.nonBilNo }}</td>
                  <td>{{ nonBill.entNm }}</td>
                  <td>{{ nonBill.entTy }}</td>
                  <td>{{ nonBill.entNo }}</td>
                  <td>{{ nonBill.dtCreated | date: 'dd MMM yyyy HH:mm:ss' }}</td>
                  <td>{{ nonBill.final_amt | number: '1.2-2' }}</td>
                  <td>
                    <ng-container *ngIf="nonBill.bil_status === 'Unpaid'; else showStatus">
                      <button class="pay-button" (click)="payNonBilling(nonBill.nonBilNo)">
                        {{ "buttons.pay" | translate }}
                      </button>
                    </ng-container>
                    <ng-template #showStatus>
                      {{ nonBill.bil_status }}
                    </ng-template>
                  </td>
                </tr>
              </tbody>
            </ng-container>
            <ng-template #noResults>
              <tr style="height: 100px;">
                <td colspan="20" class="text-center">{{"searchcriteriadoesnotmatch"| translate}}</td>
              </tr>
            </ng-template>
          </table>
        </div>

        <!-- Pagination -->
        <div class="MAPagination" *ngIf="isDisplay" style="margin-bottom:100px; margin-top:30px;">
          <div class="fgSpacing">
            <div *ngIf="page * itemsPerPage < totalRecords">
              {{"showing" | translate}} {{ page * itemsPerPage }} {{"from" | translate}} {{ totalRecords }}
              {{"results" | translate}}
            </div>
            <div *ngIf="!(page * itemsPerPage < totalRecords)">
              {{"showing" | translate}} {{ totalRecords }} {{"from" | translate}} {{ totalRecords }}
              {{"results" | translate}}
            </div>
          </div>
          <div class="pagination-row">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle PaginControl" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ selectedValue }}
              </button>
              <div class="dropdown-menu dropdown-menu-white" aria-labelledby="dropdownMenuButton">
                <button class="dropdown-item" *ngFor="let singleItem of dropdownOptions" (click)="LoadData(singleItem)">
                  {{ singleItem }}
                </button>
              </div>
            </div>
            <ngb-pagination [(page)]="page" [pageSize]="itemsPerPage" [collectionSize]="totalRecords"
              (pageChange)="loadData()"></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>