<ng-container *ngIf="permListAllow === 1">

    <body class="BodyCointaner">
        <div class="leftPadding">
            <div *ngIf="error" class="error-box">
                <i class="bi bi-x-circle-fill error-icon"></i>
                <div>
                    <strong>{{"validationerror"| translate}}</strong>
                    <ul>
                        <ul>
                            <li *ngFor="let errorMsg of errorMessages">{{ errorMsg }}</li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>

        <div class="MALoadingContainerFormTable">
            <!-- Loading spinner overlay -->
            <div *ngIf="isSubmitLoading" class="TableLoading-overlay d-flex align-items-center justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
            <h2 id="requesterForm" style="margin-left: 3%;margin-bottom: 10px;">{{"labels.taskinformation" | translate}}
            </h2>
            <div class="formContainer">
                <div class="leftSection">
                    <div class="MALoadingContainerFormTable">
                        <!-- Loading spinner overlay -->
                        <div *ngIf="isLoadingTaskAndRequesterInfo"
                            class="TableLoading-overlay d-flex align-items-center justify-content-center">
                            <div class="spinner-border" role="status">
                                <span class="sr-only"></span>
                            </div>
                        </div>
                        <table class="formTable">
                            <ng-container>
                                <tr>
                                    <td><label>{{"labels.taskID" | translate}}</label></td>
                                    <td>: {{taskID}}</td>
                                </tr>
                                <tr>
                                    <td><label>{{"labels.taskdescription" | translate}}</label></td>
                                    <td>
                                        : {{ taskDescription === 1
                                        ? 'Type 1 - Receipt Cancellation for EMV Payment'
                                        : (taskDescription === 2 || taskDescription === 3)
                                        ? 'Type 2 - Receipt Cancellation for Physical Payment'
                                        : '' }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>{{"labels.status" | translate}}</label></td>
                                    <td>: {{nm_en}}</td>
                                    <!-- <td>: {{status === 'A' ? 'Approved' :
                                        status === 'R' ? 'Rejected' :
                                        status === 'VS' ? 'Successful' :
                                        status === 'VF' ? 'Failed' :
                                        status === 'PS' ? 'Pending OTC Supervisor' :
                                        status === 'PEMV' ? 'Pending EMV Status' :
                                        status === 'PPC' ? 'Pending Physical Cancellation' :
                                        status === 'PCR' ? 'Pending Cash Return' :''}}</td> -->
                                </tr>
                                <tr>
                                    <td><label>{{"labels.assigneddate" | translate}}</label></td>
                                    <td>: {{assignedDate}}</td>
                                </tr>
                            </ng-container>
                            <ng-template #noResultsReqForm>
                                <tr style="height: 100px;">
                                    <td colspan="20" class="text-center">{{"nodatafound"| translate}}</td>
                                </tr>
                            </ng-template>
                        </table>
                    </div>
                    <h2 id="requesterForm" style="margin-top: 20px;margin-bottom: 10px;">{{"labels.requesterinformation"
                        | translate}}</h2>
                    <div class="MALoadingContainerFormTable">
                        <!-- Loading spinner overlay -->
                        <div *ngIf="isLoadingTaskAndRequesterInfo"
                            class="TableLoading-overlay d-flex align-items-center justify-content-center">
                            <div class="spinner-border" role="status">
                                <span class="sr-only"></span>
                            </div>
                        </div>
                        <table class="formTable">
                            <ng-container>
                                <tr>
                                    <td><label>{{"labels.counterID" | translate}}</label></td>
                                    <td>: {{displayCounterIDFromTable}}</td>
                                </tr>
                                <tr>
                                    <td><label>{{"labels.requestedby" | translate}}</label></td>
                                    <td>: {{requestedByNm}}</td>
                                </tr>
                                <tr>
                                    <td><label>{{"labels.requesterID" | translate}}</label></td>
                                    <td>: {{requesterID}}</td>
                                </tr>
                                <tr>
                                    <td><label>{{"labels.daterequested" | translate}}</label></td>
                                    <td>: {{dateRequested}}</td>
                                </tr>

                            </ng-container>
                            <ng-template #noResultsReqForm>
                                <tr style="height: 100px;">
                                    <td colspan="20" class="text-center">{{"nodatafound"| translate}}</td>
                                </tr>
                            </ng-template>
                        </table>
                    </div>
                    <div>
                        <h2>{{"labels.orderinformation" | translate}}</h2>
                    </div>
                    <div class="MALoadingContainerFormTable">
                        <!-- Loading spinner overlay -->
                        <div *ngIf="isLoadingOrderInfo"
                            class="TableLoading-overlay d-flex align-items-center justify-content-center">
                            <div class="spinner-border" role="status">
                                <span class="sr-only"></span>
                            </div>
                        </div>
                        <table class="OrderInformationTable">
                            <tr>
                                <td>
                                    <div class="displayColumn">
                                        <label class="tableLabel">{{"labels.sourcesystem" | translate}}</label>
                                        <label class="form-control"
                                            style="background-color: #e9ecef;">{{sourceSystem}}</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="displayColumn">
                                        <label class="tableLabel">{{"labels.collectionslipno." | translate}}</label>
                                        <label class="form-control"
                                            style="background-color: #e9ecef;">{{collectionSlipNo}}</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="displayColumn">
                                        <label class="tableLabel">{{"labels.orderreferenceno." | translate}}</label>
                                        <label class="form-control"
                                            style="background-color: #e9ecef;">{{orderRefNo}}</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="displayColumn">
                                        <label class="tableLabel">{{"labels.customername" | translate}}</label>
                                        <label class="form-control"
                                            style="background-color: #e9ecef;">{{customerName}}</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="displayColumn">
                                        <label class="tableLabel">{{"labels.customerphone" | translate}}</label>
                                        <label class="form-control"
                                            style="background-color: #e9ecef;">{{customerPhone}}</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="displayColumn">
                                        <label class="tableLabel">{{"labels.customeremail" | translate}}</label>
                                        <label class="form-control"
                                            style="background-color: #e9ecef;">{{customerEmail}}</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="displayColumn">
                                        <label class="tableLabel">{{"labels.addressline1" | translate}}</label>
                                        <label class="form-control"
                                            style="background-color: #e9ecef;">{{addressLine1}}</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="displayColumn">
                                        <label class="tableLabel">{{"labels.addressline2" | translate}}</label>
                                        <label class="form-control"
                                            style="background-color: #e9ecef;">{{addressLine2}}</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="displayColumn">
                                        <label class="tableLabel">{{"labels.addressline3" | translate}}</label>
                                        <label class="form-control"
                                            style="background-color: #e9ecef;">{{addressLine3}}</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="displayColumn">
                                        <label class="tableLabel">{{"labels.postcode" | translate}}</label>
                                        <label class="form-control"
                                            style="background-color: #e9ecef;">{{postCode}}</label>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="displayColumn">
                                        <label class="tableLabel">{{"labels.city" | translate}}</label>
                                        <label class="form-control" style="background-color: #e9ecef;">{{city}}</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="displayColumn">
                                        <label class="tableLabel">{{"labels.state" | translate}}</label>
                                        <label class="form-control"
                                            style="background-color: #e9ecef;">{{getStateName(state)}}</label>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="MarginSeparator" style="margin-top: 40px;"></div>
                    <hr class="full-width-line" style="margin: 0;" />
                    <div>
                        <h2>{{"labels.paymentitems" | translate}}</h2>
                    </div>
                    <div class="MALoadingContainer">
                        <div *ngIf="isLoadingPaymentItems"
                            class="TableLoading-overlay d-flex align-items-center justify-content-center">
                            <div class="spinner-border" role="status">
                                <span class="sr-only"></span>
                            </div>
                        </div>
                        <div class="tableWrapper">
                            <table class="MATable">
                                <thead>
                                    <tr class="MATableHeader">
                                        <th style="width: 50px;">No.</th>
                                        <th>{{"labels.itemdescription" | translate}}</th>
                                        <th>{{"labels.quantity" | translate}}</th>
                                        <th>{{"labels.unitfee(RM)" | translate}}</th>
                                        <th>{{"labels.grossamount(RM)" | translate}}</th>
                                        <th>{{"labels.tax" | translate}} (%)</th>
                                        <th class="thAction">{{"labels.tax(RM)" | translate}}</th>
                                        <th class="thInitiadtedBy">{{"labels.incentivecode" | translate}}</th>
                                        <th>{{"labels.discount" | translate}}/ {{"labels.incentive(RM)" | translate}}</th>
                                        <th>{{"labels.netamount(RM)" | translate}}</th>
                                    </tr>
                                </thead>
                                <ng-container *ngIf="totalPaymentItemsRecords>0; else noPaymentItemResults">
                                    <tbody>
                                        <tr
                                            *ngFor="let item of OTCReceiptCancellationPaymentItemsDetails; let i = index">
                                            <td>{{ (pagePaymentItem - 1) * itemsPerPagePaymentItem + i + 1 }}</td>
                                            <td>{{ item.item_desc || '-'}}</td>
                                            <td>{{ item.qty || '-'}}</td>
                                            <td>{{ item.unit_fee != null ? (item.unit_fee | number:'1.2-2') : '-' }}</td>
                                            <td>{{ item.gross_amt != null ? (item.gross_amt | number:'1.2-2') : '-' }}</td>
                                            <td>{{ item.tax_pct != null ? (item.tax_pct | number:'1.2-2') : '-' }}</td>
                                            <td>{{ item.tax_amt != null ? (item.tax_amt | number:'1.2-2') : '-' }}</td>
                                            <td>{{ item.grant_cd || '-' }}</td>
                                            <td>{{ item.disc_amt != null ? (item.disc_amt | number:'1.2-2') : '-' }}</td>
                                            <td>{{ item.net_amt != null ? (item.net_amt | number:'1.2-2') : '-' }}</td>
                                        </tr>
                                        <tr class="totalRow" style="background-color: white;">
                                            <td colspan="9"
                                                style="text-align: right; font-weight: bold; border-top: 2px solid black; border-bottom: 2px solid black;">
                                                {{"labels.TOTAL" | translate}}
                                            </td>
                                            <td
                                                style="font-weight: bold; border-top: 2px solid black; border-bottom: 2px solid black;">
                                                RM {{ getTotalGrossAmountPaymentItems() | number:'1.2-2' }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </ng-container>
                                <ng-template #noPaymentItemResults>
                                    <tr style="height: 100px;">
                                        <td colspan="10" class="text-center">{{"searchcriteriadoesnotmatch"| translate}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </table>
                        </div>
                    </div>

                    <div>
                        <h2>{{"labels.paymentinformation" | translate}}</h2>
                    </div>
                    <div class="MALoadingContainerFormTable">
                        <div class="paymentinfo">
                            <div *ngIf="isLoadingPaymentInfo"
                                class="TableLoading-overlay d-flex align-items-center justify-content-center">
                                <div class="spinner-border" role="status">
                                    <span class="sr-only"></span>
                                </div>
                            </div>
                            <div class="paymentinfodetails">
                                <label class="bold" style="padding-top: 10px;">{{"labels.payer_email" |
                                    translate}}:</label>
                                <label class="form-control"
                                    style="margin-top: 10px;background-color: #e9ecef;">{{payerEmail}}</label>
                            </div>
                            <div class="paymentinfodetails">
                                <label class="bold">{{"labels.paymentmode" | translate}}:</label>
                                <div class="marginTop" style="margin-right: 3%;" *ngIf="OTCPaymentMode !== 'EV'">
                                    <input type="radio" checked class="custom-radio" />
                                    <span class="marginLeft">{{"labels.physicalcollection" | translate}}</span>
                                    <div class="payment-mode" *ngIf="OTCPaymentMode==='CA' || OTCPaymentMode==='MX'">
                                        <div class="marginTop">
                                            <span class="small-dot"></span>
                                            <span class="marginLeft">{{"labels.cashamount" | translate}}</span>
                                            <label class="form-control"
                                                style="margin-left: 45px;background-color: #e9ecef;">
                                                RM {{(cashAmount != null && cashAmount !== undefined ? cashAmount : 0) |
                                                number:'1.2-2'}}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="marginTop" *ngIf="getValidChequePaymentInfoDetails().length > 0">
                                        <span class="small-dot"></span>
                                        <span style="margin-left: 10px;">{{"labels.chequeinformation" |
                                            translate}}</span>
                                    </div>

                                    <div class="tableWrapperPaymentInfo"
                                        *ngIf="getValidChequePaymentInfoDetails().length > 0">
                                        <table class="MATable">
                                            <thead>
                                                <tr class="MATableHeader">
                                                    <th style="width: 50px;">No.</th>
                                                    <th>{{"labels.chequeID" | translate}}</th>
                                                    <th>{{"labels.chequestatus" | translate}}</th>
                                                    <th>{{"labels.bankname" | translate}}</th>
                                                    <th>{{"labels.payername" | translate}}</th>
                                                    <th>{{"labels.chequeno." | translate}}</th>
                                                    <th>{{"labels.chequedate" | translate}}</th>
                                                    <th>{{"labels.bankaccountno." | translate}}</th>
                                                    <th>{{"labels.amount(RM)" | translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let item of getValidChequePaymentInfoDetails(); let i = index">
                                                    <td>{{ (pagePaymentInfo - 1) * itemsPerPagePaymentInfo + i + 1 }}
                                                    </td>
                                                    <td>{{ item.che_id }}</td>
                                                    <td>{{ item.che_status}}</td>
                                                    <td>{{ item.che_bank_nm}}</td>
                                                    <td>{{ item.che_payer_nm}}</td>
                                                    <td>{{ item.che_no}}</td>
                                                    <td>{{ item.che_date }}</td>
                                                    <td>{{ item.che_ba_acct_no }}</td>
                                                    <td>{{item.che_amt | number:'1.2-2'}}</td>
                                                </tr>
                                                <tr class="totalRow" style="background-color: white;">
                                                    <td colspan="8"
                                                        style="text-align: right; font-weight: bold; border-top: 2px solid black; border-bottom: 2px solid black;">
                                                        {{"labels.TOTAL" | translate}}
                                                    </td>
                                                    <td
                                                        style="font-weight: bold; border-top: 2px solid black; border-bottom: 2px solid black;">
                                                        RM {{ getTotalCheckAmountPaymentInfo() | number:'1.2-2' }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="marginTop" *ngIf="getValidBankDraftPaymentInfoDetails().length > 0">
                                        <span class="small-dot"></span>
                                        <span style="margin-left: 10px;">{{"labels.bankdraft" | translate}}</span>
                                    </div>
                                    <div class="tableWrapperPaymentInfo"
                                        *ngIf="getValidBankDraftPaymentInfoDetails().length > 0">
                                        <table class="MATable">
                                            <thead>
                                                <tr class="MATableHeader">
                                                    <th style="width: 50px;">No.</th>
                                                    <th>{{"labels.collectionslipno." | translate}}</th>
                                                    <th>{{"labels.orderreferenceno." | translate}}</th>
                                                    <th>{{"labels.bankname" | translate}}</th>
                                                    <th>{{"labels.bankdraftno." | translate}}</th>
                                                    <th>{{"labels.bankdraftdate" | translate}}</th>
                                                    <th>{{"labels.amount(RM)" | translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr
                                                    *ngFor="let item of getValidBankDraftPaymentInfoDetails(); let i = index">
                                                    <td>{{ (pagePaymentInfo - 1) * itemsPerPagePaymentInfo + i + 1 }}
                                                    </td>
                                                    <td>{{ item.coll_slip_no }}</td>
                                                    <td>{{ item.orn_no}}</td>
                                                    <td>{{ item.bd_bank_nm}}</td>
                                                    <td>{{ item.bd_no}}</td>
                                                    <td>{{ item.bd_date}}</td>
                                                    <td>{{item.bd_amt | number:'1.2-2'}}</td>
                                                </tr>
                                                <tr class="totalRow" style="background-color: white;">
                                                    <td colspan="6"
                                                        style="text-align: right; font-weight: bold; border-top: 2px solid black; border-bottom: 2px solid black;">
                                                        {{"labels.TOTAL" | translate}}
                                                    </td>
                                                    <td
                                                        style="font-weight: bold; border-top: 2px solid black; border-bottom: 2px solid black;">
                                                        RM {{ getTotalBankDraftAmountPaymentInfo() | number:'1.2-2' }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="marginTop" *ngIf="getValidMOPaymentInfoDetails().length > 0">
                                        <span class="small-dot"></span>
                                        <span style="margin-left: 10px;">{{"labels.moneyorder" | translate}}</span>
                                    </div>
                                    <div class="tableWrapperPaymentInfo"
                                        *ngIf="getValidMOPaymentInfoDetails().length > 0">
                                        <table class="MATable">
                                            <thead>
                                                <tr class="MATableHeader">
                                                    <th style="width: 50px;">No.</th>
                                                    <th>{{"labels.collectionslipno." | translate}}</th>
                                                    <th>{{"labels.remitno." | translate}}</th>
                                                    <th>{{"labels.moneyorderdate" | translate}}</th>
                                                    <th>{{"labels.payername" | translate}}</th>
                                                    <th>{{"labels.IDno." | translate}}</th>
                                                    <th>{{"labels.contactno." | translate}}</th>
                                                    <th>{{"labels.amount(RM)" | translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of getValidMOPaymentInfoDetails(); let i = index">
                                                    <td>{{ (pagePaymentInfo - 1) * itemsPerPagePaymentInfo + i + 1 }}
                                                    </td>
                                                    <td>{{ item.coll_slip_no }}</td>
                                                    <td>{{ item.mo_rm_no}}</td>
                                                    <td>{{ item.mo_date}}</td>
                                                    <td>{{ item.mo_payer_nm}}</td>
                                                    <td>{{ item.mo_id_no}}</td>
                                                    <td>{{ item.mo_contact_no}}</td>
                                                    <td>{{item.mo_amt | number:'1.2-2'}}</td>
                                                </tr>
                                                <tr class="totalRow" style="background-color: white;">
                                                    <td colspan="7"
                                                        style="text-align: right; font-weight: bold; border-top: 2px solid black; border-bottom: 2px solid black;">
                                                        {{"labels.TOTAL" | translate}}
                                                    </td>
                                                    <td
                                                        style="font-weight: bold; border-top: 2px solid black; border-bottom: 2px solid black;">
                                                        RM {{ getTotalMoneyOrderAmountPaymentInfo() | number:'1.2-2' }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="marginTop" style="margin-right: 3%;"
                                    *ngIf="getValidEVPaymentInfoDetails().length > 0">
                                    <input type="radio" checked class="custom-radio" />
                                    <span class="marginLeft">{{"labels.europay,mastercard,andvisaterminal" |
                                        translate}}</span>
                                    <div class="marginTop" *ngIf="OTCPaymentMode ==='EV'">
                                        <span class="small-dot"></span>
                                        <span style="margin-left: 10px;">{{"labels.emvtransactioninformation" |
                                            translate}}</span>
                                    </div>
                                    <div class="tableWrapperPaymentInfo" *ngIf="OTCPaymentMode==='EV'">
                                        <table class="MATable">
                                            <thead>
                                                <tr class="MATableHeader">
                                                    <th style="width: 50px;">No.</th>
                                                    <th>{{"labels.transactiontrace" | translate}}</th>
                                                    <th>{{"labels.batchnumber" | translate}}</th>
                                                    <th>{{"labels.hostnumber" | translate}}</th>
                                                    <th>{{"labels.terminalID" | translate}}</th>
                                                    <th>{{"labels.transactionamount(RM)" | translate}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of getValidEVPaymentInfoDetails(); let i = index">
                                                    <td>{{ (pagePaymentInfo - 1) * itemsPerPagePaymentInfo + i + 1 }}
                                                    </td>
                                                    <td>{{ item.trans_trace }}</td>
                                                    <td>{{ item.batch_no}}</td>
                                                    <td>{{ item.host_no}}</td>
                                                    <td>{{ item.t_id}}</td>
                                                    <td>{{item.amt | number:'1.2-2'}}</td>
                                                </tr>
                                                <tr class="totalRow" style="background-color: white;">
                                                    <td colspan="5"
                                                        style="text-align: right; font-weight: bold; border-top: 2px solid black; border-bottom: 2px solid black;">
                                                        {{"labels.TOTAL" | translate}}
                                                    </td>
                                                    <td
                                                        style="font-weight: bold; border-top: 2px solid black; border-bottom: 2px solid black;">
                                                        RM {{ getTotalEMVAmountPaymentInfo() | number:'1.2-2' }}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div style="padding-bottom: 20px;"></div>
                        </div>
                    </div>

                    <div>
                        <h2>{{"labels.receiptinformation" | translate}}</h2>
                    </div>
                    <div class="MALoadingContainer">
                        <div *ngIf="isLoadingReceiptInfo"
                            class="TableLoading-overlay d-flex align-items-center justify-content-center">
                            <div class="spinner-border" role="status">
                                <span class="sr-only"></span>
                            </div>
                        </div>
                        <div class="tableWrapper">
                            <table class="MATable">
                                <thead>
                                    <tr class="MATableHeader">
                                        <th>No.</th>
                                        <th>{{"labels.receiptno." | translate}}</th>
                                        <th class="thFileName">{{"labels.filename" | translate}}</th>
                                        <th>{{"labels.generateddate" | translate}}</th>
                                        <th class="thAction">{{"labels.receiptstatus" | translate}}</th>
                                        <th>{{"labels.reprintcount" | translate}}</th>
                                    </tr>
                                </thead>
                                <ng-container *ngIf="totalReceiptInfoRecords>0; else noResults">
                                    <tbody *ngIf="isDisplayReceiptInfo">
                                        <tr
                                            *ngFor="let item of OTCReceiptCancellationReceiptInfoDetails; let i = index">
                                            <td>{{ (pageReceiptInfo - 1) * itemsPerPageReceiptInfo + i + 1 }}</td>
                                            <td>{{ item.rcpt_no }}</td>
                                            <td>{{item.file_nm}}
                                            </td>
                                            <td>{{ item.rcpt_dt }}</td>
                                            <td>{{ item.rcpt_status}}
                                            </td>
                                            <td>{{item.rcpt_reprint}}</td>
                                        </tr>
                                    </tbody>
                                </ng-container>
                                <ng-template #noResults>
                                    <tr style="height: 100px;">
                                        <td colspan="6" class="text-center">{{"searchcriteriadoesnotmatch"| translate}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </table>
                        </div>
                    </div>
                    <div>
                        <h2>{{"labels.historicaltable" | translate}}</h2>
                    </div>
                    <div class="MALoadingContainer">
                        <div *ngIf="isLoadingHistory"
                            class="TableLoading-overlay d-flex align-items-center justify-content-center">
                            <div class="spinner-border" role="status">
                                <span class="sr-only"></span>
                            </div>
                        </div>
                        <div class="tableWrapper">
                            <!-- <table class="MATable">
                                <thead> 
                                    <tr class="MATableHeader">
                                        <th>No.</th>
                                        <th>{{"labels.action" | translate}}</th>
                                        <th>{{"labels.actiontimestamp" | translate}}</th>
                                        <th>{{"labels.status" | translate}}</th>
                                        <th>{{"labels.counterID" | translate}}</th>
                                        <th>{{"labels.performedby" | translate}}</th>
                                    </tr>
                                </thead>
                                <ng-container *ngIf="totalHistoryRecords>0; else noResults">
                                    <tbody *ngIf="isDisplayHist">
                                        <tr *ngFor="let item of OTCReceiptCancellationHistoryDetails; let i = index">
                                            <td>{{ OTCReceiptCancellationHistoryDetails.length - i }}</td>
                                            <td>{{ item.action }}</td>
                                            <td>{{item.dt_action}}</td>
                                            <td>{{item.nm_en}}</td>
                                            <td>{{ item.counter_id}}</td>
                                            <td>{{item.act_by}}</td>
                                        </tr>
                                    </tbody>
                                </ng-container>
                                <ng-template #noResults>
                                    <tr style="height: 100px;">
                                        <td colspan="6" class="text-center">{{"searchcriteriadoesnotmatch"| translate}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </table> -->
                            <table class="MATable">
                                <thead>
                                    <tr class="MATableHeader">
                                        <th style="width: 50px;">No.</th>
                                        <th>{{"labels.action" | translate}}</th>
                                        <th>{{"labels.actiontimestamp" | translate}}</th>
                                        <th>{{"labels.status" | translate}}</th>
                                        <th>{{"labels.branch" | translate}}</th>
                                        <th>{{"labels.counterID" | translate}}</th>
                                        <th>{{"labels.performedby" | translate}}</th>
                                        <th>{{"labels.justification" | translate}}</th>
                                        <th>{{"labels.remark" | translate}}</th>
                                    </tr>
                                </thead>
                                <ng-container *ngIf="totalHistoryRecords>0; else noResultsHist">
                                    <tbody *ngIf="isDisplayHist">
                                        <tr
                                            *ngFor="let item of OTCReceiptCancellationHistoryDetailsAudit; let i = index">
                                            <td>{{ OTCReceiptCancellationHistoryDetailsAudit.length - i }}</td>
                                            <td>{{ item.action }}</td>
                                            <td>{{item.dt_action}}</td>
                                            <td>{{item.status}}</td>
                                            <td>{{item.bcm_desc}}</td>
                                            <td>{{ item.counter_id || '-'}}</td>
                                            <td>{{item.performed_by_nm}}</td>
                                            <!-- <td>{{ item.justification ? '(' + item.justification + ')' : '' }} {{ item.others }}</td> -->
                                            <td> {{ item.justification ? '(' + item.justification + ')' + ' ' + (item.others || '') : '-' }}</td>
                                            <td>{{item.remark || '-'}}</td>
                                        </tr>
                                    </tbody>
                                </ng-container>
                                <ng-template #noResultsHist>
                                    <tr style="height: 100px;">
                                        <td colspan="9" class="text-center">{{"searchcriteriadoesnotmatch"| translate}}
                                        </td>
                                    </tr>
                                </ng-template>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="rightSection">
                    <div class="rightSectionContainer">
                        <form class="allFormClass" class="form-group" #formRef="ngForm"
                            (ngSubmit)="handleFormSubmit(formRef)">
                            <table class="taskActionTable">
                                <ng-container>
                                    <tr>
                                        <td>
                                            <h5>{{"labels.approveraction" | translate}}</h5>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h6>{{"labels.actiontype" | translate}}: {{"labels.approval" | translate}}
                                            </h6>
                                        </td>
                                    </tr>
                                    <div class="divider">
                                        <tr>
                                            <td><label>{{"labels.decision" | translate}} <span
                                                        class='RedAsterisk'>*</span></label></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <ng-select name="decision" [(ngModel)]="decision"
                                                    (click)="onDecisionChange()"
                                                    [disabled]="!isCashAmountCheckingFinishLoading" required
                                                    #decisionnoRef="ngModel" dropdownPosition="bottom">
                                                    <ng-option *ngFor="let item of decisionOption"
                                                        [value]="item.value">{{item.label}}</ng-option>
                                                </ng-select>
                                                <div *ngIf="decisionnoRef.errors && decisionnoRef.errors['required']  && decisionnoRef.touched"
                                                    class="error-text">
                                                    {{"labels.decisionisrequired" | translate}}
                                                </div>
                                            </td>
                                        </tr>
                                    </div>
                                    <div class="divider form-group">
                                        <tr>
                                            <td>
                                                <label>{{"labels.justification" | translate}} <span
                                                        class='RedAsterisk'>*</span></label><br>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <ng-select name="justification" [(ngModel)]="justification" required
                                                    (click)="onJustificationChange()"
                                                    [disabled]="!isCashAmountCheckingFinishLoading"
                                                    #justificationRef="ngModel" dropdownPosition="bottom">
                                                    <ng-option *ngFor="let item of justificationOption"
                                                        [value]="item.value">{{item.label}}</ng-option>
                                                </ng-select>
                                                <div *ngIf="justificationRef.errors && justificationRef.errors['required']  && justificationRef.touched"
                                                    class="error-text">
                                                    {{"labels.justificationisrequired" | translate}}
                                                </div>
                                            </td>
                                        </tr>
                                    </div>
                                    <div class="divider form-group" *ngIf="displayOthers">
                                        <tr>
                                            <td>
                                                <label>{{"labels.others(Limit 255 characters)" | translate}} <span
                                                        class='RedAsterisk'>*</span></label><br>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <textarea class="form-control" style="background-color: white;"
                                                    rows="18" cols="40" name="others" [(ngModel)]="others"
                                                    maxlength="255" required #othersRef="ngModel"></textarea>
                                                <div *ngIf="othersRef.errors && othersRef.errors['required']  && othersRef.touched"
                                                    class="error-text">
                                                    {{"labels.othersisrequired" | translate}}
                                                </div>
                                            </td>
                                        </tr>
                                    </div>
                                    <tr>
                                        <td>
                                            <div class="button-group">
                                                <button type="submit" class="btn btnSubmit">{{"buttons.submit" |
                                                    translate}}</button>
                                                <button type="button" class="btn btnCancel"
                                                    (click)="cancel()">{{"buttons.back" | translate}}</button>
                                            </div>
                                        </td>
                                    </tr>
                                </ng-container>
                                <ng-template #noResultsTaskAction>
                                    <tr style="height: 100px;">
                                        <td colspan="20" class="text-center">{{"nodatafound"| translate}}</td>
                                    </tr>
                                </ng-template>
                            </table>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="marginFromFooter"></div>
    </body>
</ng-container>