<div class="background-image">
  <div class="homeContainer" id="homeContainer">
    <img id="logo-ssm-homepage" alt="Malaysia" class="img-responsive" src="assets/logo/logo-ssm-new-resize.png" />
    <div id="middle-container-notloggedin">
      <label id="revenue">{{"labels.revenuemanagementsystem" | translate}}</label>
      <label id="backoffice">{{"labels.publicportalcaps" | translate}}</label>
      <label id="top">{{"labels.tobeatoptier" | translate}} <span class="blueHighlight">{{"labels.corporateregistry" | translate}}</span> {{"labels.and" | translate}} <span
        class="blueHighlight">{{"labels.regulatoryauthority" | translate}}</span>{{"labels.terulung" | translate}}.</label>
    </div>
  </div>
</div>

<!-- <h1>Welcome {{localStorageItem('username')}}</h1>
<label>{{ 'label' | translate }}</label>
<select>
    <option value="male">{{ 'gender.male' | translate }}</option>
    <option value="female">{{ 'gender.female' | translate }}</option>
</select>

<br>
<h1>this is home page</h1>
<table>
    <thead>
      <tr>
        <th>Col1</th>
        <th>Col2</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data">
        <td>{{ item.col1 }}</td>
        <td>{{ item.col2 }}</td>
      </tr>
    </tbody>
  </table>
  

<button (click)="useLanguage('en')">English</button>
<button (click)="useLanguage('bm')">Bahasa Melayu</button>

<button routerLink="/multi-language">Go to Multi-Language</button> -->

