#logo-menara-ssm {
    // position: relative;
    // top: 0;
    // left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    z-index: 1
}

#logo-ssm-homepage {
    // position: absolute;
    // top: 30%;
    // left: 3%;
    margin-top: 5%;
    margin-left: 3%;
    max-width: 100%;
    //   max-height: 60%; 
    //  overflow: hidden;
    z-index: 2;
}

.homeContainer {
    height: 100vh !important;
    width: 100% !important;
    background-image: url("../../assets/logo/logo-menara-ssm.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center !important;
    // object-fit: cover;
    // object-position: top;
    margin: 0% !important;
    padding: 0% !important;
    //   height: 100vh;
    // overflow: hidden !important;
    //   margin: 0;
}

#middle-container #revenue {
    // position: absolute;
    // top: 43%;
    // left: 5%;
    // margin: 0;
    // font-size: 45px;
    //font-size: 2.88vmax;
    font-size: 2.83vmax;
    font-weight: 700;
    letter-spacing: -1px;
    color: white;
    //  z-index: 1; 
}

#middle-container #backoffice {
    // position: absolute;
    // top: 49%;
    // left: 5%;
    // margin: 0;
    // font-size: 45px;
    margin-top: 1.0%;
    font-size: 2.88vmax;
    font-weight: 700;
    letter-spacing: -1px;
    color: yellow;
    //   z-index: 1; 
}

#middle-container #top {
    // position: absolute;
    // top: 58%;
    // left: 5%;
    // margin: 0;
    // font-size: 45px;
    margin-top: 3%;
    font-size: 1.62vmax;
    font-weight: 700;
    letter-spacing: -1px;
    color: white;
    // z-index: 1; 
}

#middle-container #top .blueHighlight {
    color: rgb(47, 47, 138);
    /* Change color for specific part of the text */
}

.background-image {
    width: 100% !important;
    height: 100vh !important;
    background-image: url("../../assets/logo/logo-menara-ssm.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center !important;
    margin: 0% !important;
    padding: 0% !important;
}

/* Specific Section Styling */
.logo-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.logo img {
    margin-top: 5%;
    margin-left: -100%;
    max-width: 80%;
    z-index: 2;
    margin-bottom: 50px;
    /* Adds space below the logo */
}

#middle-container #top {
    // position: absolute;
    // top: 58%;
    // left: 5%;
    // margin: 0;
    // font-size: 45px;
    margin-top: 8%;
    margin-left: 0%;
    //    font-size: 1.62vmax;
    font-size: 1.20vmax;
    font-weight: 700;
    letter-spacing: -1px;
    color: black;
    // z-index: 1; 

}

#middle-container #top .blueHighlight {
    color: rgb(47, 47, 138);
    /* Change color for specific part of the text */
}

#middle-container-notloggedin #revenue {
    // position: absolute;
    // top: 43%;
    // left: 5%;
    // margin: 0;
    // font-size: 45px;
    //font-size: 2.88vmax;
    font-size: 2.83vmax;
    font-weight: 700;
    letter-spacing: -1px;
    color: white;
    //  z-index: 1; 
}

#middle-container-notloggedin #backoffice {
    // position: absolute;
    // top: 49%;
    // left: 5%;
    // margin: 0;
    // font-size: 45px;
    margin-top: 1.0%;
    font-size: 2.88vmax;
    font-weight: 700;
    letter-spacing: -1px;
    color: yellow;
    //   z-index: 1; 
}

#middle-container-notloggedin #top {
    // position: absolute;
    // top: 58%;
    // left: 5%;
    // margin: 0;
    // font-size: 45px;
    margin-top: 3%;
    font-size: 1.62vmax;
    font-weight: 700;
    letter-spacing: -1px;
    color: white;
    // z-index: 1; 
}

#middle-container-notloggedin #top .blueHighlight {
    color: rgb(47, 47, 138);
    /* Change color for specific part of the text */
}

#middle-container-notloggedin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center the content vertically */
    // align-items: center; /* Center the content horizontally */
    line-height: 0.8;
    margin-top: 7%;
    /* Set left margin to 30% */
    margin-left: 3%;
}