@import '../../app.component.scss';

$leftPadding: 3%;
$rightPadding: 3%;
$MarginFromFooter: 110px;
$MAButtonMinWidth: 100px; //original is 30%
$MarginSeparator: 30px;

.MarginSeparator {
    margin-top: $MarginSeparator;
}

// General container styling
.table-container {
    padding: 0 20px; // Consistent padding for left and right
}

table {
    background-color: #fff;
    width: 100%;
    margin-right: 5%;
    table-layout: fixed; // Uniform column widths
    border-spacing: 0; // Remove gaps between table cells
    border-collapse: collapse; // Ensure no double borders

    td {
        padding: 10px; // Uniform padding
        vertical-align: middle; // Consistent alignment
    }

    input[type="checkbox"] {
        transform: scale(0.8);
        margin: 0;
    }
}


// Table labels and input styling
.IdentityFormTable {
    width: 100%;
    border-collapse: collapse;

    td {
        padding: 10px;
        vertical-align: middle;
    }

    label {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
        margin-left: 20%;
    }

    input,
    select {
        width: 80%;
        padding: 10px 12px; // a bit more top/bottom padding
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
        margin-right: 20%;
        line-height: 1.4;
        height: auto; // remove any forced height

        &::placeholder {
            color: #aaa;
        }
    }

    td[colspan="2"] input,
    td[colspan="2"] select {
        width: 100% ; // Adjust for padding
    }

    td:nth-child(2),
    td:nth-child(4),
    td:nth-child(6) {
        width: 33%; // Equal column widths
    }
}

.IdentityFormTable td:first-child {
    width: 10%;
    /* Adjust the percentage to your preference */
    white-space: nowrap;
    /* Prevent text from wrapping */
    vertical-align: top;
    /* Align labels at the top */
}

.error-text {
    color: #ff4d4d;
    /* Light red for error messages */
    font-size: 0.875rem;
    /* Slightly smaller than regular text */
    font-weight: 500;
    /* Medium weight for emphasis */
    margin-top: 0.25rem;
    /* Adds some space above the text */
    display: block;
    /* Ensures it starts on a new line */
    max-width: 500px;
    /* Restricts width for cleaner appearance */
    line-height: 1.5;
    /* Adds spacing between lines for better readability */
}


// Breadcrumb styling
.breadcrumbOTC {
    list-style: none;
    padding: 0;
    margin: 10px 0 30px 0;
    display: flex;
    font-size: 18px;

    li {
        display: inline;
    }

    a {
        color: #0275d8;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .breadcrumb-separator {
        margin: 0 5px;
    }
}

// Button styling
.button-end-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;

    .btn {
        //   padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;

        &.btn-primary {
            background-color: #0275d8;
            color: #fff;
            border: none;

        }

        &.btn-danger {
            background-color: #d9534f;
            color: #fff;
            border: none;
        }
    }
}

// Payment Items Table
.PaymentItemsTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

    th {
        font-weight: bold;
        text-align: left;
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }

    td {
        padding: 10px;

        input {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 14px;
        }

        button {
            padding: 5px 10px;
            border: none;
            border-radius: 4px;
            background-color: #d9534f;
            color: white;
            cursor: pointer;

            &:hover {
                background-color: #c9302c;
            }
        }
    }
}

// General enhancements
.full-width-line {
    border: none;
    border-top: 1px solid #000;
    width: 96%;
    margin: 50px 2% 0;
}

.marginFromFooter {
    margin-bottom: $MarginFromFooter;
}

.marginTop {
    margin-top: 10px;
}

.align-right {
    text-align: right;
}

// Utility classes
.text-green {
    color: green;
}

.text-red {
    color: red;
}


/* Set standard width for the No. column */
th.no-column,
td.no-column {
    width: 50px;
    /* Adjust the size as needed */
    text-align: center;
    /* Center align the content */
}

/* Set standard width for the Action column */
th.action-column,
td.action-column {
    width: 120px;
    /* Adjust the size as needed */
    text-align: center;
    /* Center align the content */
}

th.long-column,
td.long-column {
    width: 300px;
    /* Adjust the size as needed */
}

th.short-column,
td.short-column {
    width: 120px;
    /* Adjust the size as needed */
}

/* Style wrapper for the dropdown */
.select-container {
    position: relative;
    display: inline-block;
    width: 100%;
}


/* Style the select element */
.select-container select {
    appearance: none;
    /* Hide default arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    //padding: 8px 12px;
    width: 100%;
    font-size: 14px;
    cursor: pointer;
    padding-right: 30px;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Add the custom arrow */
.select-container::after {
    content: '';
    position: absolute;
    right: 10px;
    /* Position near the edge */
    top: 50%;
    /* Center vertically */
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #808080;
    /* Arrow color */
    pointer-events: none;
    /* Non-clickable */
}

/* On focus */
.select-container select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

input.uppercase {
    text-transform: uppercase;
}

input::placeholder {
    text-transform: none;
}

.btnDanger {
    background-color: #d9534f !important;
    color: #fff !important;
    border: none !important;
    padding: 6px 12px !important;
    font-size: 1rem !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    margin-right: 10px !important;
    width: 100px !important;
    height: 38px !important;
}

.btnSubmit {
    background-color: green;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    min-width: 130px;
    min-height: 30px;
}

.btnCancel {
    background-color: gray;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    min-width: 130px;
    min-height: 30px;
    margin-right: 20px;
}

.btnAdd {
    background-color: #0b5ed7;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    min-width: 130px;
    min-height: 30px;
    margin-right: 20px;
}