<form #form name="frmPayment" method="post" [attr.action]="apiURL+'/api/onlinepayment/v1/rms_paymentPage'">
    <input type="hidden" name="jsonData" [value]="submittedJson">
</form>

<div class="payment-container">
    <!-- Customer Information Section -->
    <div class="customer-info">
        <h3 style="margin-top: 15px; margin-bottom: 20px;">{{ "labels.customerinformation" | translate }}</h3>

        <div class="form-row">
            <div class="form-group">
                <label class="tableLabel">{{ "labels.customername" | translate }} </label>
                <input class="form-control" type="text" (blur)="submitForm()" [(ngModel)]="paymentData.cust_nm"
                    disabled />
            </div>
            <div class="form-group">
                <label class="tableLabel">{{ "labels.customeremail" | translate }} <span class="red-asterisk">*</span>
                </label>
                <input class="form-control" type="text" (blur)="submitForm()" [(ngModel)]="paymentData.cust_email"
                    placeholder="{{ 'labels.enteremail' | translate }}" />
            </div>
            <!-- <div class="form-group">
                <label class="tableLabel">{{ "labels.customerphoneno" | translate }} <span class="red-asterisk">*</span> </label>
                <input class="form-control" type="text" (blur)="submitForm()" [(ngModel)]="paymentData.cust_phone"
                    placeholder="{{ 'labels.enterphone' | translate }}" />
            </div> -->
            <div class="form-group">
                <label class="tableLabel">
                    {{ "labels.customerphoneno" | translate }} <span class="red-asterisk">*</span>
                </label>
                <input class="form-control" type="text" [(ngModel)]="paymentData.cust_phone"
                    (input)="checkPhoneLength()" (keypress)="allowOnlyNumbers($event)"
                    placeholder="{{ 'labels.enterphone' | translate }}" />

                <div class="text-danger" *ngIf="isPhoneInvalid">
                    {{"Phone number must be between 10 to 15 digits." | translate}}
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group">
                <label class="tableLabel">{{ "labels.addressline1" | translate }} <span class="red-asterisk">*</span>
                </label>
                <input class="form-control" type="text" (blur)="submitForm()" [(ngModel)]="paymentData.cust_addr_1"
                    placeholder="{{ 'labels.enteraddressline1' | translate }}" (input)="paymentData.cust_addr_1 = (paymentData.cust_addr_1 || '').toUpperCase()"/>
            </div>
            <div class="form-group">
                <label class="tableLabel">{{ "labels.addressline2" | translate }} <span class="red-asterisk">*</span>
                </label>
                <input class="form-control" type="text" (blur)="submitForm()" [(ngModel)]="paymentData.cust_addr_2"
                    placeholder="{{ 'labels.enteraddressline2' | translate }}" (input)="paymentData.cust_addr_2 = (paymentData.cust_addr_2 || '').toUpperCase()"/>
            </div>
            <div class="form-group">
                <label class="tableLabel">{{ "labels.addressline3" | translate }}</label>
                <input class="form-control" type="text" (blur)="submitForm()" [(ngModel)]="paymentData.cust_addr_3"
                    placeholder="{{ 'labels.enteraddressline3' | translate }}"(input)="paymentData.cust_addr_3 = (paymentData.cust_addr_3 || '').toUpperCase()" />
            </div>
        </div>

        <div class="form-row">
            <!-- Postcode -->
            <div class="form-group col-md-4">
                <label class="tableLabel">
                    {{ "labels.postcode" | translate }} <span class="red-asterisk">*</span>
                </label>
                <ng-select name="postcode" [(ngModel)]="paymentData.cust_postcode" required #postcodeRef="ngModel"
                    dropdownPosition="bottom" class="form-control" [placeholder]="!paymentData.cust_postcode ? ('labels.enterpostcode' | translate) : ''"
                    style="border: 1px solid blue;" (ngModelChange)="onPostcodeChange($event)" [addTag]="checkTag">
                    <ng-option *ngFor="let item of postCodes" [value]="item.postcode">{{item.postcode}}</ng-option>
                </ng-select>
                <div *ngIf="postcodeRef.errors?.['required'] && postcodeRef.touched" class="text-danger">
                    {{"labels.postcodeisrequired" | translate}}
                </div>
                <div *ngIf="isInvalidPostcode" class="text-danger">
                    {{"Postcode must be exactly 5 digits." | translate}}
                </div>
            </div>

            <!-- City -->
            <div class="form-group col-md-4">
                <label class="tableLabel">
                    {{ "labels.city" | translate }} <span class="red-asterisk">*</span>
                </label>
                <ng-select name="city" [(ngModel)]="paymentData.cust_city" required #cityRef="ngModel"
                    dropdownPosition="bottom" class="form-control" [placeholder]="!paymentData.cust_city ? ('labels.entercity' | translate) : ''"
                    style="border: 1px solid blue;" [addTag]="upperCity">
                    <ng-option *ngFor="let cityItem of uniqueCities" [value]="cityItem">{{ cityItem }}</ng-option>
                </ng-select>
                <div *ngIf="cityRef.errors?.['required'] && cityRef.touched" class="text-danger">
                    {{"labels.cityisrequired" | translate}}
                </div>
            </div>

            <!-- State -->
            <div class="form-group col-md-4">
                <label class="tableLabel">
                    {{ "labels.state" | translate }} <span class="red-asterisk">*</span>
                </label>
                <ng-select name="state" [(ngModel)]="paymentData.cust_state" required #stateRef="ngModel"
                    dropdownPosition="bottom" class="form-control" [placeholder]="!paymentData.cust_state ? ('labels.selectstate' | translate) : ''"
                    style="border: 1px solid blue;">
                    <ng-option *ngFor="let stateItem of uniqueStates" [value]="stateItem">{{ stateItem }}</ng-option>
                </ng-select>
                <div *ngIf="stateRef.errors?.['required'] && stateRef.touched" class="text-danger">
                    {{"labels.stateisrequired" | translate}}
                </div>
            </div>
        </div>
    </div>

    <!-- Payment Item Details Section -->
    <div class="item-details">
        <h3 style="margin-left: 3%;">{{ "labels.paymentitemdetails" | translate }}</h3>

        <!-- Loading and Table Wrapper -->
        <div class="item-details-wrapper">
            <div class="tableWrapper">
                <table class="payment-table">
                    <thead>
                        <tr class="tableHeader">
                            <th style="background-color: #2e3192; color: white; text-align: center;">{{
                                "labels.feedetailid" | translate }}</th>
                            <th style="background-color: #2e3192; color: white; text-align: center;">{{
                                "labels.itemdescription" | translate }}</th>
                            <th style="background-color: #2e3192; color: white; text-align: center;">{{
                                "labels.quantity" | translate }} <span class="red-asterisk">*</span> </th>
                            <th style="background-color: #2e3192; color: white; text-align: center;">{{
                                "labels.unitfee(RM)"
                                | translate }}</th>
                            <th style="background-color: #2e3192; color: white; text-align: center;">{{
                                "labels.grossamountrm" | translate }}</th>
                            <th style="background-color: #2e3192; color: white; text-align: center;">{{
                                "labels.taxpercentage" | translate }}</th>
                            <th style="background-color: #2e3192; color: white; text-align: center;">{{
                                "labels.taxamountrm" | translate }}</th>
                            <th style="background-color: #2e3192; color: white; text-align: center;">{{
                                "labels.netamountrm" | translate }}</th>
                            <th style="background-color: #2e3192; color: white; text-align: center;">{{
                                "labels.entitytype" | translate }} <span class="red-asterisk">*</span> </th>
                            <th style="background-color: #2e3192; color: white; text-align: center;">{{
                                "labels.entityno" | translate }} <span class="red-asterisk">*</span> </th>
                            <th style="background-color: #2e3192; color: white; text-align: center;">{{
                                "labels.entityname" | translate }} <span class="red-asterisk">*</span> </th>
                        </tr>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let item of paymentData.payment_item_details; let i = index">
                            <!-- <tr *ngIf="item.qty > 0"> -->
                            <tr>
                                <td>{{ item.fee_detail_id }}</td>
                                <td>{{ item.item_desc }}</td>
                                <!-- <td>{{ item.line_no }}</td> -->
                                <td>
                                    <input class="form-control" type="number" [(ngModel)]="item.qty" [min]="1"
                                        (input)="recalculateAmounts(item)" />
                                </td>
                                <td>{{ item.unit_fee | number: '1.2-2' }}</td>
                                <td>{{ item.gross_amt | number: '1.2-2' }}</td>
                                <td>{{ item.tax_pct | number: '1.2-2' }}</td>
                                <td>{{ item.tax_amt | number: '1.2-2' }}</td>
                                <td>{{ item.net_amt | number: '1.2-2' }}</td>
                                <td>
                                    <!-- <input class="form-control" type="text" [(ngModel)]="item.entity_type" /> -->
                                    <select class="form-control" style="font-size: 15px;" (blur)="submitForm()"
                                        [(ngModel)]="item.entity_type">
                                        <option value="" disabled selected>{{ "labels.selectentitytype" | translate }}
                                        </option>
                                        <option *ngFor="let entitytype of entityType" [value]="entitytype.param_cd">{{
                                            entitytype.nm_en }}</option>
                                    </select>
                                </td>
                                <td>
                                    <input class="form-control" type="text" [(ngModel)]="item.entity_no"
                                        (input)="checkEntityNoLength()" placeholder="{{ 'labels.enterentityno' | translate }}"/>

                                    <div class="text-danger" *ngIf="isEntityNoTooLong">
                                        {{"Entity No. must be between 5 to 30 characters." | translate}}
                                    </div>
                                </td>

                                <td>
                                    <input class="form-control" type="text" [(ngModel)]="item.entity_nm" placeholder="{{ 'labels.enterentityname' | translate }}"/>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
            <hr class="full-width-line" />
        </div>
    </div>

    <div class="generate-json-section" style="display: flex; justify-content: flex-end;">
        <button class="btn btn-primary" (click)="form.submit()" [disabled]="!isFormValid()"
            style="margin-right: 3%;margin-bottom: 20px;">
            {{ 'buttons.proceedtopayment' | translate }}
        </button>
    </div>

    <!-- Display the generated JSON -->
    <!-- <div *ngIf="submittedJson" class="json-output">
        <h4 style="margin-left: 3%;">{{ 'labels.generatedJson' | translate }}</h4>
        <pre>{{ submittedJson }}</pre>
    </div> -->
</div>