@import '../../../app.component.scss';

$leftPadding: 3%;
$rightPadding: 3%;
$MarginFromFooter:110px;
$MAButtonMinWidth: 100px; //original is 30%


table{
    background-color: white;
    width: 100%;
    //margin-left: 5%;
    margin-right: 5%;
    table-layout: fixed; /* make all column width equal*/

    label{
        margin-bottom: 10px;
        font-weight: bold;
    }

    td .displayColumn{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px; 
    margin-left: 20px;
    margin-right: 20px;
    height: 80px; /* set a fixed height */
    }

    td .displayRow{
        display: flex;
        gap: 10px; /* gap between each element */
        align-items: center; 
        float: right;
        margin-right: 20px;
        margin-bottom: 20px;
        margin-top: 20px;
       
        label {
          white-space: nowrap; /* make multiple lines into one sentence*/
        }

        .ng-select{
          margin-right: 50px;
          width: 200px;
         // height: 50px;
         // padding-top: 12px !important;
        }
    }

    .note {
      margin-bottom: 0;
      margin-right: 60px;
      float: right;
      font-weight: normal;
      color: #767676;
    }
  }

//style for dropdown start
:host ::ng-deep {

  .ng-select{
    padding-bottom: 6px;

    .ng-select-container{
      min-height: 0 !important;
      padding:0 !important;
      border-top: none !important;
    
      .ng-value-container{
        padding: 0;
        border: 0;
        }
      }
    }

    //adjust arrow, clear and cursor position
    .ng-select-single .ng-select-container {


      .ng-arrow-wrapper{
        bottom: 3px;
      }

      .ng-clear-wrapper{
        bottom: 0px;
      }

      .ng-value-container .ng-input{
        top:0px
      }

    }

}

:host ::ng-deep ng-dropdown-panel {

  top: auto !important;
 
}

//remove drop down underline
:host ::ng-deep ng-select .ng-select-container::after {
  border-bottom: 5px solid transparent !important;
}
//style for dropdown end

.marginFromFooter{
  margin-bottom: $MarginFromFooter;
}

.tableWrapper{
  margin-left: 3%;
  margin-right: 3%;
}

// .PAContainer73 {
//   margin-left: $MAMainLeftPadding;
//   // max-height: 100vh;
// }

.btnClear{
  background-color: #84958803;;
  min-width: $MAButtonMinWidth;
  border: solid 1px #dfdfdf;
}

.thWidth {
  width: 60px;
  
}

.thFileName{
  width: 250px;

}

.thAction{
  width: 130px;

}

.thFileSize{
  width: 130px;

}

.thInitiadtedBy{
  width: 200px;

}

.left-section73{
  overflow: visible !important;
}

.PAContainer73 {
  margin-left: $MAMainLeftPadding;
  min-height: 0vh;
}
 