<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5  border-top footerClass">

  <div class="col mb-4 mx-auto">
    <h5 class="footerHeader">Our Address</h5>
    <!-- <p>Menara SSM@Sentral No. 7 Jalan</p>
    <p>Stesen Sentral 5 Kuala Lumpur Sentral</p>
    <p>50623 Kuala Lumpur Malaysia</p> -->

    <p>Menara SSM&#64;Sentral No. 7 Jalan Stesen Sentral 5 Kuala Lumpur Sentral<br>50623 Kuala Lumpur Malaysia</p>
    <a href="#">Redirect Now</a>
  </div>

  <div class="col mb-4 mx-auto">
    <h5 class="footerHeader">SSM Contact Centre</h5>
    <p>Telephone: <br><a href="tel:+60377214000" style="font-weight: bold;" >+603-7721 4000</a></p>
    <p>Fax: <br><a href="tel:+60377214001" style="font-weight: bold;" >+603-7721 4001</a></p>
  </div>

  <div class="col mb-4 mx-auto">
    <h5 class="footerHeader">Operation Hour</h5>
    <p>Day: Monday - Friday</p>
    <p>Service Counter: 8.15AM - 4.15PM</p>
    <h5 class="footerHeader">SSM General Line</h5>
    <p>E-mail: <a href="mailto:enquiry@ssm.com.my">enquiry&#64;ssm.com.my</a></p>
  </div>

  <div class="col mb-4 mx-auto">
    <h5 class="footerHeader">Mobile Apps MySSM</h5>
    <p>Click and Download Now!</p>
    <p class="margin-empty" style="margin: 0px"><a
        href="https://play.google.com/store/search?q=myssm&amp;c=apps&amp;hl=en" target="_blank"><img
          src="../rms/assets/googleplay.png" width="140" height="40"></a></p>
    <p class="margin-empty" style="margin: 0px"><a href="https://apps.apple.com/my/app/myssm/id1246087930"
        target="_blank"><img class="appstore" src="../rms/assets/appsstore.png" width="140" height="40"></a></p>
    <p class="margin-empty" style="margin: 0px"><a href="https://appgallery.huawei.com/app/C103851805"
        target="_blank"><img class="gallerystore" src="../rms/assets/appgallery.png" width="140" height="40"
          style="margin-bottom: 10px"></a></p>
  </div>
</footer>



<div class="footer-copyright bg-color-primary">
  <div class="container container-xl-custom ">
    <div class="row">
      <div class="col">
        <hr class="my-0 bg-color-light opacity-2" style="color: #2E3192;">
      </div>
    </div>
    <div class="row py-4" style="padding-top: 1.25px !important; padding-bottom: 1.25px !important;"></div>
      <div class="col-sm-12 text-center">
        <ul class="header-social-icons social-icons d-sm-block flex-container justify-content-center">
          <a href="https://www.facebook.com/ssmofficialpage" target="_blank" title="Facebook"
            class="social-icons-link"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/ssmofficialpage/" target="_blank" title="Instagram"
            class="social-icons-link"><i class="bi bi-instagram"></i></a>
          <a href="https://twitter.com/ssmofficialpage" target="_blank" title="Twitter" class="social-icons-link"><i
              class="bi bi-twitter"></i></a>
          <a href="https://my.linkedin.com/company/suruhanjaya-syarikat-malaysia" target="_blank" title="Linkedin"
            class="social-icons-link"><i class="bi bi-linkedin"></i></a>
          <a href="https://www.youtube.com/user/ssmofficialpage" target="_blank" title="Youtube"
            class="social-icons-link"><i class="bi bi-youtube"></i></a>
          <a href="https://t.me/ssmofficialpage" target="_blank" title="Telegram" class="social-icons-link"><i
              class="bi bi-telegram"></i></a>
          <a href="https://www.tiktok.com/@ssmofficialpage" target="_blank" title="TikTok" class="social-icons-link"><i
              class="bi bi-tiktok"></i></a>
        </ul>
      </div>

      <div class="col-lg-12 text-center" style="margin-top: 10px">
        <p class="text-3 mb-0 text-color-light">
          <b>© 2023 Suruhanjaya Syarikat Malaysia (SSM). Hak Cipta Terpelihara. 
          </b>
        </p>
      </div>
    </div>
  </div>