<div class="SingleContainer">
   <!-- Header for Add Item -->
   <div class="SingleContainerHeader">
      <h2 class="text-center">{{"update item" | translate}}</h2>
   </div>
   <form #formRef="ngForm" (ngSubmit)="handleFormSubmit(formRef)">
      <div class="MALoadingContainer">
         <!-- Loading spinner overlay -->
         <div *ngIf="isLoading" class="TableLoading-overlay d-flex align-items-center justify-content-center">
            <div class="spinner-border" role="status">
               <span class="sr-only"></span>
            </div>
         </div>
         <div [ngClass]="{'TableDimmed': isLoading}">
            <!-- Error Box -->
            <div *ngIf="error" class="error-box">
               <i class="bi bi-x-circle-fill error-icon"></i>
               <div>
                  <strong>{{"labels.validationerror" | translate}}</strong>
                  <ul>
                     <ul>
                        <li *ngFor="let errorMsg of errorMessages">{{ errorMsg }}</li>
                     </ul>
                  </ul>
               </div>
            </div>
            <!-- Tax Code -->
            <div class="form-group">
               <label for="taxCode">{{"tax code" | translate}} <span class='RedAsterisk'>*</span></label>
               <input type="text" class="form-control" id="taxCode" name="taxCode" [(ngModel)]="taxCode"
                  #taxCodeRef="ngModel" requiredfr maxlength="10"  [readonly]="taxCodeStatus !== 'D'">
               <div *ngIf="taxCodeRef.errors && taxCodeRef.errors['required'] && taxCodeRef.touched" class="error-text">
                  {{ "labels.taxcodeisrequired" | translate }}
               </div>
               <div *ngIf="taxCode?.length === 10" class="error-text">
                  {{"labels.taxcodemaxlength" | translate}}
               </div>
               
            </div>
            <!-- Tax Code Name (EN) -->
            <div class="form-group">
               <label for="taxCodeNameEN">{{"tax code name (en)" | translate}} <span class='RedAsterisk'>*</span></label>
               <input type="text" class="form-control" id="taxCodeNameEN" name="taxCodeNameEN"
                  [(ngModel)]="taxCodeNameEN" #taxCodeNameENRef="ngModel" pattern="^\S.*" required>
               <div *ngIf="taxCodeNameENRef.errors && taxCodeNameENRef.errors['required'] && taxCodeNameENRef.touched"
                  class="error-text">
                  {{"labels.taxcodenameenisrequired" | translate}}
               </div>
               <div *ngIf="taxCodeNameENRef.errors && taxCodeNameENRef.errors['pattern'] && taxCodeNameENRef.touched"
                  class="error-text">
                  {{"labels.taxcodecannotbeginwitwhitespace" | translate}}
               </div>
            </div>
            <!-- Tax Code Name (BM) -->
            <div class="form-group">
               <label for="taxCodeNameBM">{{"tax code name (bm)" | translate}} <span class='RedAsterisk'>*</span></label>
               <input type="text" class="form-control" id="taxCodeNameBM" name="taxCodeNameBM"
                  [(ngModel)]="taxCodeNameBM" #taxCodeNameBMRef="ngModel" pattern="^\S.*" required>
               <div *ngIf="taxCodeNameBMRef.errors && taxCodeNameBMRef.errors['required'] && taxCodeNameBMRef.touched"
                  class="error-text">
                  {{"labels.taxcodenamebmisrequired" | translate}}
               </div>
               <div *ngIf="taxCodeNameBMRef.errors && taxCodeNameBMRef.errors['pattern'] && taxCodeNameBMRef.touched"
                  class="error-text">
                  {{"labels.taxcodecannotbeginwitwhitespace" | translate}}
               </div>
            </div>
            <!-- Tax Percentage -->
            <div class="form-group">
               <label for="taxPercentage">{{"tax percentage" | translate}} *</label>
               <input type="number" (keydown)="onKeyDown($event)" placeholder="{{ 'enter a value between 0-100' | translate }}"
                     min="0" max="100" class="form-control"
                  id="taxPercentage" name="taxPercentage" [(ngModel)]="taxPercentage" #taxPercentageRef="ngModel"
                   required>
               <div *ngIf="taxPercentageRef.errors && taxPercentageRef.errors['required'] && taxPercentageRef.touched"
                  class="error-text">
                  {{"labels.taxpercentageisrequired" | translate}}
               </div>
               <!-- Error message for number range validation -->
               
               <div *ngIf="taxPercentageRef.errors && taxPercentageRef.errors['min'] && taxPercentageRef.touched"
                  class="error-text">
                  {{"labels.taxpercentagemustbegreaterorequalto1" | translate}}
               </div>
               <div *ngIf="taxPercentageRef.errors && taxPercentageRef.errors['max'] && taxPercentageRef.touched"
                  class="error-text">
                  {{"labels.taxpercentagemustbelessthanorequalto100" | translate}}
               </div>
            </div>
            <!-- Buttons -->
            <div class="button-group">
               <div>{{"fields with are mandatory" | translate}}</div>
               <button class="btn btnUpdate" type="submit">{{"update" | translate}}</button>
               <button class="btn btnClose" type="button" (click)="closed()">{{"close" | translate}}</button>
            </div>
         </div>
      </div>
   </form>
</div>