<div class="SingleContainer">
   <div class="SingleContainerHeader">
     <h2 class="text-center">{{ "labels.updatebranch" | translate }}</h2>
   </div>
   <form #formRef="ngForm" (ngSubmit)="handleFormSubmit(formRef)">
     <div class="MALoadingContainer">
       <div *ngIf="isLoading" class="TableLoading-overlay d-flex align-items-center justify-content-center">
         <div class="spinner-border" role="status">
           <span class="sr-only"></span>
         </div>
       </div>
       <div [ngClass]="{ 'TableDimmed': isLoading }">
         <div *ngIf="error" class="error-box">
           <i class="bi bi-x-circle-fill error-icon"></i>
           <div>
             <strong>{{ "Validation Error" | translate }}</strong>
             <ul>
               <li *ngFor="let errorMsg of errorMessages">{{ errorMsg }}</li>
             </ul>
           </div>
         </div>
 
         <!-- Branch Code -->
         <div class="form-group">
           <label for="branchCode">{{ "labels.branchcode" | translate }} <span class='RedAsterisk'>*</span></label>
           <input
             type="text"h
             class="form-control"
             id="branchCode"
             name="branchCode"
             [(ngModel)]="branchCode"
             #branchCodeRef="ngModel"
             required
           />
           <div *ngIf="branchCodeRef?.errors?.['required'] && branchCodeRef.touched" class="error-text">
             {{ "labels.branchcodeisrequired" | translate }}
           </div>
         </div>

         <!-- Branch Type -->
         <div class="form-group">
            <label for="branchType">{{ "labels.branchtype" | translate }} <span class='RedAsterisk'>*</span></label>
            <select
               class="form-control"
               id="branchType"
               name="branchType"
               [(ngModel)]="branchType"
               #branchTypeRef="ngModel"
               required
            >
               <option value="STATE">STATE</option>
               <option value="BRANCH">BRANCH</option>
            </select>
            <div *ngIf="branchTypeRef?.errors?.['required'] && branchTypeRef.touched" class="error-text">
               {{ "labels.branchtypeisrequired" | translate }}
            </div>
            </div>
 
         <!-- Branch Name -->
         <div class="form-group">
           <label for="branchName">{{ "labels.branchname" | translate }} <span class='RedAsterisk'>*</span></label>
           <input
             type="text"
             class="form-control"
             id="branchName"
             name="branchName"
             [(ngModel)]="branchName"
             #branchNameRef="ngModel"
             required
           />
           <div *ngIf="branchNameRef?.errors?.['required'] && branchNameRef.touched" class="error-text">
             {{ "labels.branchnameisrequired" | translate }}
           </div>
         </div>
 

 
         <!-- Buttons -->
         <div class="button-group">
           <div>{{ "Fields with * are mandatory" | translate }}</div>
           <button class="btn btnUpdate" type="submit">{{ "buttons.update" | translate }}</button>
           <button class="btn btnClose" type="button" (click)="closeDialog()">{{ "buttons.close" | translate }}</button>
         </div>
       </div>
     </div>
   </form>
 </div>
 