<div class="SingleContainer">
    <!-- Header for Add Item -->
    <div class="SingleContainerHeader">
        <h2 class="text-center">{{ "labels.warning" | translate }}</h2>
        <p>{{ data.message }}</p>
    </div>

    <!-- Content -->
    <div class="button-group">
        <button class="btn btn-delete mr-2" type="button" (click)="onConfirm()">{{"buttons.yes" | translate}}</button>
        <button class="btn btn-cancel mr-2" type="button" (click)="onCancel()">{{"buttons.no" | translate}}</button>
    </div>
    
</div>