@import '../app.component.scss';
$MarginSeparator: 40px;
$MarginSeparator10: 10px;

div {
    text-align: center;
}

/* Style rule for the email icon */
div img.email-icon {
    width: 10%; /* Adjust the size as needed */
    height: auto;
}

button {
    padding: 10px 20px; /* Adjust padding as needed */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px; /* Add some spacing between buttons */
    margin-top: 5px;
    margin-bottom: 5px;
  }


.MarginSeparator {
    margin-top: $MarginSeparator;
}

.MarginSeparator10 {
    margin-top: $MarginSeparator10;
}