<style>
   /* Set a maximum height for the container to fit the screen */
   .paymentBody {
      max-height: 50%;
      overflow: auto;
      /* Add scrollbars if needed */
   }
</style>
<div class="leftside">
</div>
<div class="SingleContainer center">
   <!-- <div class="error-box" *ngIf="warning_status && status!='P'"> -->
   <div class="error-box" *ngIf="waiting_status">
      <i class="bi bi-x-circle-fill error-icon"></i>
      <div>
         <strong>{{"labels.paymentalert" | translate}}</strong>
         <p>
            {{"labels.currently,theoptiontomakearepaymentisnotavailable.Wekindlyrequestthatyouwaituntilthepaymentcompleted"
            | translate}}
         </p>
      </div>
   </div>
   <div class="error-box" *ngIf="billing_status">
      <i class="bi bi-x-circle-fill error-icon"></i>
      <div>
         <strong>{{"labels.paymentalert" | translate}}</strong>
         <p>
            {{"labels.billingstatusincorrect" | translate}}
         </p>
      </div>
   </div>
   <div class="error-box" *ngIf="pending_status">
      <!-- <div class="error-box" *ngIf="status=='PIP'||status=='PP'"> -->
      <i class="bi bi-x-circle-fill error-icon"></i>
      <div>
         <strong>{{"labels.paymentalert" | translate}}</strong>
         <p>
            {{"labels.thepaymentiscurrentlyinprogress" | translate}} <br>
            {{"labels.thepreviousattemptmaystillbesuccessful,andinitiatinganewpaymentcouldpotentiallyleadtoaduplicatepayment"
            | translate}}
         </p>
      </div>
   </div>
   <div class="error-box" *ngIf="api_error">
      <i class="bi bi-x-circle-fill error-icon"></i>
      <div>
         <strong> {{"labels.error" | translate}}</strong>
         <p>
            {{api_error_message}}
         </p>
      </div>
   </div>
   <div class="error-box" *ngIf="paid">
      <i class="bi bi-x-circle-fill error-icon"></i>
      <div>
         <strong>{{"labels.paymentalert" | translate}}</strong>
         <p>
            {{"labels.thecurrentpaymenthasalreadybeensuccessfullyprocessed.Repaymentisnotrequired" | translate}}
         </p>
      </div>
   </div>
   <div class="error-box" *ngIf="RICPCheckExistError">
      <i class="bi bi-x-circle-fill error-icon"></i>
      <div>
         <strong>{{"labels.ricpalert" | translate}}</strong>
         <p>
            {{"labels.ricpexisterror" | translate}}
         </p>
      </div>
   </div>
   <div class="error-box" *ngIf="RICPCheckStatusError">
      <i class="bi bi-x-circle-fill error-icon"></i>
      <div>
         <strong>{{"labels.ricpalert" | translate}}</strong>
         <p>
            {{"labels.ricpstatuserror" | translate}}
         </p>
      </div>
   </div>
   <div class="error-box" *ngIf="RIPLCheckExistError">
      <i class="bi bi-x-circle-fill error-icon"></i>
      <div>
         <strong>{{"labels.riplalert" | translate}}</strong>
         <p>
            {{"labels.riplexisterror" | translate}}
         </p>
      </div>
   </div>
   <div class="error-box" *ngIf="RIPLCheckStatusError">
      <i class="bi bi-x-circle-fill error-icon"></i>
      <div>
         <strong>{{"labels.riplalert" | translate}}</strong>
         <p>
            {{"labels.riplstatuserror" | translate}}
         </p>
      </div>
   </div>
   <div class="error-box" *ngIf="RILTCheckExistError">
      <i class="bi bi-x-circle-fill error-icon"></i>
      <div>
         <strong>{{"labels.riltalert" | translate}}</strong>
         <p>
            {{"labels.riltexisterror" | translate}}
         </p>
      </div>
   </div>
   <div class="error-box" *ngIf="RILTCheckStatusError">
      <i class="bi bi-x-circle-fill error-icon"></i>
      <div>
         <strong>{{"labels.riltalert" | translate}}</strong>
         <p>
            {{"labels.riltstatuserror" | translate}}
         </p>
      </div>
   </div>
   <div class="error-box" *ngIf="isExpired">
      <i class="bi bi-x-circle-fill error-icon"></i>
      <div>
         <strong>{{"labels.linkexpiredalert" | translate}}</strong>
         <p>{{"labels.linkexpired" | translate}}</p>
      </div>
   </div>
   <div class="error-box" *ngIf="isExpiredBilling">
      <i class="bi bi-x-circle-fill error-icon"></i>
      <div>
         <strong>{{"labels.linkexpiredalert" | translate}}</strong>
         <p>
            {{ 'labels.linkexpiredbilling_part1' | translate }}
            <a [href]="environment.angularPortal + '/catalogue-product-service'" target="_blank">{{"labels.here"| translate}}</a>
            {{ 'labels.linkexpiredbilling_part2' | translate }}
          </p>
      </div>
   </div>
   <div class="error-box" *ngIf="unitfeeError">
      <i class="bi bi-x-circle-fill error-icon"></i>
      <div>
         <strong>{{"labels.unmatchedUnitFee" | translate}}</strong>
         <p>
            {{"labels.unmatchedUnitFeeMessage" | translate}}
         </p>
      </div>
   </div>

   <div class="error-box" *ngIf="hasInvalidBillingInfo()">
      <i class="bi bi-x-circle-fill error-icon"></i>
      <div>
         <strong>{{"labels.insufficientinformation" | translate}}</strong>
         <p>{{"labels.pleaseensureallrequiredfieldsarefilled" | translate}}</p>
      </div>
   </div>

   <br>
   <div class="productDetails">
      <div class="text">
         <h4>{{"labels.productdetails" | translate}}</h4>
         <table class="table">
            <thead>
               <tr>
                  <th>No.</th>
                  <th style="width:40%">{{"labels.itemdescription" | translate}}</th>
                  <th>{{"labels.quantity" | translate}}</th>
                  <!-- <th>{{"labels.amount (RM)" | translate}}</th> -->
                  <th>{{"labels.unitfee(RM)" | translate}}</th>
                  <th>{{"labels.tax (RM)" | translate}}</th>
                  <th>{{"labels.discount/incentive (RM)" | translate}}</th>
                  <!-- <th>{{"labels.gross amount (RM)" | translate}}</th> -->
                  <th>{{"labels.netamountrm" | translate}}</th>
               </tr>
            </thead>
            <ng-container *ngIf="OrnDetails1 != undefined || OrnDetails1 != null">
               <tr *ngFor="let item of OrnDetails1.payment_item_details">
                  <td>{{ item.line_no }}</td>
                  <td>{{ item.item_desc }}</td>
                  <td class="center-align">{{ item.qty }}</td>
                  <td class="right-align">{{ item.unit_fee | number:'1.2-2'}}</td>
                  <td class="right-align">{{ item.tax_amt | number:'1.2-2'}}</td>
                  <td class="right-align">{{ item.disc_amt | number:'1.2-2'}}</td>
                  <!-- <td class="right-align">{{ item.gross_amt | number:'1.2-2'}}</td> -->
                  <td class="right-align">{{ item.net_amt | number:'1.2-2'}}</td>
               </tr>
            </ng-container>
            <tr>
               <td colspan="6" class="right-align totalrow">{{"labels.total" | translate}}:</td>
               <ng-container *ngIf="OrnDetails1 != undefined || OrnDetails1 != null">
                  <td class="right-align totalrow">{{ OrnDetails1.total_amt | number:'1.2-2'}}</td>
               </ng-container>
            </tr>
         </table>
      </div>
      <br>
   </div>
   <h4>{{"labels.paymentdetails" | translate}}</h4>
   <div class="paymentDetails">
      <form #paymentForm="ngForm" (ngSubmit)="handleFormSubmit(paymentForm)">

         <!-- ORN Number -->
         <div class="form-group" *ngIf="!OrnDetails1?.orn_no?.startsWith('CTL')">
            <label for="ornNumber">{{"labels.orderreferencenumber" | translate}}</label>
            <ng-container *ngIf="OrnDetails1 != undefined || OrnDetails1 != null; else elseBlock">
               <input type="text" class="form-control" id="ornNumber" name="ornNumber" [(ngModel)]="OrnDetails1.orn_no"
                  #ornNumber="ngModel" disabled>
            </ng-container>
            <ng-template #elseBlock>
               <input type="text" class="form-control" id="ornNumber" name="ornNumber" disabled>
            </ng-template>
         </div>
         <div class="form-group" [hidden]="hidePaymentDetails">
            <label for="ornNumber"> </label>
            <div style="margin-left: -20px;">
               <input id="editModeCheckbox" type="checkbox" [(ngModel)]="editMode"
                  [ngModelOptions]="{standalone: true}" /> {{"labels.ticktoeditbillinginformation" | translate}}
            </div>
         </div>

         <!-- Billing Name -->
         <div class="form-group">
            <label for="billingName">{{"labels.billingname" | translate}} <span class="RedAsterisk">*</span></label>
            <ng-container *ngIf="OrnDetails1 != undefined || OrnDetails1 != null; else elseBlock">
               <input type="text" class="form-control" id="billingName" name="billingName"
                  [(ngModel)]="OrnDetails1.cust_nm" #billingName="ngModel" [disabled]="!editMode" required>
               <div *ngIf="billingName && billingName.errors && billingName.errors['required'] && billingName.touched"
                  class="error-text error-validation ">
                  {{"labels.billingnameisrequired" | translate}}
               </div>
            </ng-container>
            <ng-template #elseBlock>
               <input type="text" class="form-control" id="billingName" name="billingName" [disabled]="!editMode"
                  required>
            </ng-template>
         </div>

         <!-- Billing Address -->
         <div class="form-group">
            <label for="address">{{"labels.billingaddress" | translate}} <span class="RedAsterisk">*</span></label>
            <ng-container *ngIf="OrnDetails1 != undefined || OrnDetails1 != null; else elseBlock">
               <input type="text" class="form-control" id="address1" name="address1"
                  [(ngModel)]="OrnDetails1.cust_addr_1" #cust_addr_1="ngModel" [disabled]="!editMode" required>
               <div *ngIf="cust_addr_1.errors && cust_addr_1.errors['required'] && cust_addr_1.touched"
                  class="error-text error-validation">
                  {{"labels.firstlineaddressisrequired" | translate}}
               </div>
            </ng-container>
            <ng-template #elseBlock>
               <input type="text" class="form-control" id="address1" name="address1" [disabled]="!editMode" required>
            </ng-template>
         </div>
         <div class="form-group">
            <label for="address"></label>
            <ng-container *ngIf="OrnDetails1 != undefined || OrnDetails1 != null; else elseBlock">
               <input type="text" class="form-control" id="address2" name="address2"
                  [(ngModel)]="OrnDetails1.cust_addr_2" #cust_addr_2="ngModel" [disabled]="!editMode" required>
            </ng-container>
            <ng-template #elseBlock>
               <input type="text" class="form-control" id="address2" name="address2" [disabled]="!editMode" required>
            </ng-template>
         </div>

         <div class="form-group">
            <label for="address"></label>
            <ng-container *ngIf="OrnDetails1 != undefined || OrnDetails1 != null; else elseBlock">
               <input type="text" class="form-control" id="address3" name="address3"
                  [(ngModel)]="OrnDetails1.cust_addr_3" #cust_addr_3="ngModel" [disabled]="!editMode" >
            </ng-container>
            <ng-template #elseBlock>
               <input type="text" class="form-control" id="address3" name="address3" [disabled]="!editMode" >
            </ng-template>
         </div>

         <!-- Postal Code -->
         <div class="form-group">
            <label for="postalCode">{{"labels.postalcode" | translate}} <span class="RedAsterisk">*</span></label>
            <ng-container *ngIf="OrnDetails1 != undefined || OrnDetails1 != null; else elseBlock">
               <input type="text" class="form-control" id="postalCode" name="postalCode"
                  [(ngModel)]="OrnDetails1.cust_postcode" #cust_postcode="ngModel" [disabled]="!editMode" required>
               <div *ngIf="cust_postcode.errors && cust_postcode.errors['required'] && cust_postcode.touched"
                  class="error-text error-validation">
                  {{"labels.postalcodeisrequired" | translate}}
               </div>
            </ng-container>
            <ng-template #elseBlock>
               <input type="text" class="form-control" id="postalCode" name="postalCode" [disabled]="!editMode"
                  required>
            </ng-template>
         </div>

         <!-- City -->
         <div class="form-group">
            <label for="city">{{"labels.city" | translate}} <span class="RedAsterisk">*</span></label>
            <ng-container *ngIf="OrnDetails1 != undefined || OrnDetails1 != null; else elseBlock">
               <input type="text" class="form-control" id="city" name="city" [(ngModel)]="OrnDetails1.cust_city"
                  #cust_city="ngModel" [disabled]="!editMode" required>
               <div *ngIf="cust_city.errors && cust_city.errors['required'] && cust_city.touched"
                  class="error-text error-validation">
                  {{"labels.cityisrequired" | translate}}
               </div>
            </ng-container>
            <ng-template #elseBlock>
               <input type="text" class="form-control" id="city" name="city" [disabled]="!editMode" required>
            </ng-template>
         </div>

         <!-- State -->
         <div class="form-group">
            <label for="state">{{"labels.state" | translate}} <span class="RedAsterisk">*</span></label>
            <ng-container *ngIf="OrnDetails1 != undefined || OrnDetails1 != null; else elseBlock">
               <select class="dropdown" name="state" [(ngModel)]="OrnDetails1.cust_state" #cust_state="ngModel"
                  [disabled]="!editMode" required>
                  <option *ngFor="let item of states" [value]="item.param_cd">{{item.nm_en}}</option>
               </select>
               <div *ngIf="cust_state.errors && cust_state.errors['required'] && cust_state.touched"
                  class="error-text error-validation">
                  {{"labels.stateisrequired" | translate}}
               </div>
            </ng-container>
            <ng-template #elseBlock>
               <select class="dropdown" name="state" [disabled]="!editMode" required>
               </select>
            </ng-template>
         </div>

         <div class="button-container">
            <div>{{"labels.fields with * are mandatory" | translate}}</div>
            <!-- <button class="btnSubmit"  type="submit" [disabled]="waiting_status||paid||RICPCheckError||RILTCheckError||RIPLCheckError||billing_status||isExpired">{{"buttons.payonline" | translate}}</button> -->
            <button class="btnSubmit" type="submit" [disabled]="!isPayButtonEnabled">{{"buttons.payonline" | translate}}</button>
            <button class="btnCancel" type="button" (click)="Cancel()">{{"buttons.cancel" | translate}}</button>
         </div>
      </form>
   </div>
</div>