<ng-container *ngIf="permListAllow === 1">
  <body class="BodyCointaner">
    <div [class.right-section-collapsed]="rightSectionCollapsed" class="PAContainer73">
      
      <!-- Left Section -->
      <div class="left-section73">
        <div>
          
          <!-- Alert Boxes -->
          <div *ngIf="showInsertAlert" [@fadeInOut]>
            <div class="alert alert-success PA-alert-box" role="alert">
              {{"added successfully" | translate}}
            </div>
          </div>

          <div *ngIf="showUpdateAlert" [@fadeInOut]>
            <div class="alert alert-info PA-alert-box" role="alert">
              {{"updated successfully" | translate}}
            </div>
          </div>

          <div *ngIf="showDeleteAlert" [@fadeInOut]>
            <div class="alert alert-danger PA-alert-box" role="alert">
              {{"deleted successfully" | translate}}
            </div>
          </div>

          <div *ngIf="showResultAlert" [@fadeInOut]>
            <div class="alert alert-warning PA-alert-box" role="alert">
              {{"showResultAlert" | translate}}
            </div>
          </div>

          <div *ngIf="showDeactiveAlert" [@fadeInOut]>
            <div class="alert alert-warning PA-alert-box" role="alert">
              {{"The record cannot be deactivated because it is in use by another module." | translate}}
            </div>
          </div>

          <div *ngIf="showGenericAlert" [@fadeInOut]>
            <div class="alert alert-warning PA-alert-box" role="alert">
              Sorry for the trouble. Please try again later or contact support if the issue continues.
            </div>
          </div>

          <div *ngIf="showCantActivateAlert" [@fadeInOut]>
            <div class="alert alert-danger" role="alert">
                {{ uploadErrorMessage }}
            </div>
          </div>
          
          <!-- Header and Add Button -->
          <h2>{{"labels.branchcodelisting" | translate}}</h2>
          <div class="LeftSectionPosition">
            <button type="button" class="btn btnAdd" (click)="addSelected()" [disabled]="!permAddAllow">
            {{"add" |translate}}
            </button>
          </div>
        </div>
        <!-- Table Container -->
        <div class="MATableContainer TablePosition-relative" *ngIf="isDisplay">
          <div class="MALoadingContainer">
            
            <!-- Loading Spinner -->
            <div *ngIf="isLoading" class="TableLoading-overlay d-flex align-items-center justify-content-center">
              <div class="spinner-border" role="status">
                <span class="sr-only"></span>
              </div>
            </div>

            <!-- Table Structure -->
            <table class="MATable" [ngClass]="{ TableDimmed: isLoading }">
              <thead>
                <tr class="MATableHeader">
                  <th>{{ "No." | translate }}</th> <!-- Updated column name -->
                  <th>{{ "labels.branchcode" | translate }}</th>
                  <th>{{ "labels.branchtype" | translate }}</th>
                  <th>{{ "labels.branchname" | translate }}</th>
                  <th>{{ "modified by" | translate }}</th>
                  <th>{{ "date modified" | translate }}</th>
                  <th>{{ "edit" | translate }}</th>
                  <th>{{ "action" | translate }}</th>
                </tr>
              </thead>
              
              <ng-container *ngIf="model.length > 0; else noResults">
                <tbody *ngIf="isDisplay">
                  <tr *ngFor="let item of model; let i = index">
                    <td>{{ i + 1 + (page - 1) * itemsPerPage }}</td> <!-- Adjusted for pagination -->
                    <td>{{ item.code }}</td>
                    <td>{{ item.bcmTy }}</td>
                    <td>{{ item.bcmDesc }}</td>
                    <td>{{ item.modifiedBy }}</td>
                    <td>{{ item.dtModified | date: 'dd MMM yyyy HH:mm:ss' }}</td>
                    <td>
                      <button type="button" class="btn btnEdit" (click)="editSelected(item)" [disabled]="!permEditAllow">
                        {{"edit" | translate}}
                        </button>
                    </td>

                    <td>
                      <div class="form-check form-switch custom-switch d-flex align-items-center">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          id="activationSwitch{{ item.code }}"
                          [checked]="item.status === 'A'"
                          (change)="toggleActivation(item)" [disabled]="!permEditAllow" />
                        <label class="form-check-label ms-2" for="activationSwitch{{ item.code }}">
                          {{ item.status === 'A' ? 'Active' : 'Inactive' }}
                        </label>
                      </div>
                    </td>
                  </tr>
                </tbody>

                
                
              </ng-container>
              <ng-template #noResults>
                <tr style="height: 100px;">
                  <td colspan="20" class="text-center">{{"searchcriteriadoesnotmatch"| translate}}</td>
                </tr>
              </ng-template>
            </table>
          </div>

          <!-- Pagination -->
          <div class="MAPagination" *ngIf="isDisplay" style="margin-bottom:100px; margin-top:30px;">
            <div class="fgSpacing">
              <div *ngIf="page * itemsPerPage < totalRecords">
                {{"showing" | translate}} {{ page * itemsPerPage }} {{"from" | translate}} {{ totalRecords }}
                {{"results" | translate}}
              </div>
              <div *ngIf="!(page * itemsPerPage < totalRecords)">
                {{"showing" | translate}} {{ totalRecords }} {{"from" | translate}} {{ totalRecords }}
                {{"results" | translate}}
              </div>
            </div>
            <div class="pagination-row">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle PaginControl" type="button" id="dropdownMenuButton"
                  data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ selectedValue }}
                </button>
                <div class="dropdown-menu dropdown-menu-white" aria-labelledby="dropdownMenuButton">
                  <button class="dropdown-item" *ngFor="let singleItem of dropdownOptions"
                    (click)="LoadData(singleItem)">
                    {{ singleItem }}
                  </button>
                </div>
              </div>
              <ngb-pagination [(page)]="page" [pageSize]="itemsPerPage" [collectionSize]="totalRecords"
                (pageChange)="loadData()"></ngb-pagination>
            </div>
          </div>
        </div>
      </div>

      <!-- Right Section (Search Filters) -->
      <div class="middle-section73">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#rightSection"
          [attr.aria-expanded]="!rightSectionCollapsed" (click)="toggleRightSection()">
          <ng-container *ngIf="rightSectionCollapsed; else arrowIcon">
            <i class="bi bi-search"></i>
          </ng-container>
          <ng-template #arrowIcon>
            <i class="bi" [class.bi-chevron-double-right]="!rightSectionCollapsed"
              [class.bi-chevron-double-left]="rightSectionCollapsed"></i>
          </ng-template>
        </button>
      </div>

      <div class="right-section73 collapse" [class.show]="!rightSectionCollapsed && permListAllow">
        <div class="SingleContainer">
          
          <!-- Search Filters -->
          <div class="SingleContainerHeader">
            <h2 class="text-center">{{ "search filter" | translate }}</h2>
          </div>

          <!-- Branch Code -->
          <div class="form-group">
            <label for="branchCode">{{"labels.branchcode" | translate}}</label>
            <input type="text" class="form-control" id="branchCode" [(ngModel)]="branchCode" />
          </div>

          <!-- Branch Type -->
          <div class="form-group">
            <label for="branchType">{{ "labels.branchtype" | translate }}</label>
            <select class="form-control" id="branchType" [(ngModel)]="branchType" required>
              <option value="STATE">STATE</option>
              <option value="BRANCH">BRANCH</option>
            </select>
          </div>
          

          <!-- Branch Name -->
          <div class="form-group">
            <label for="branchName">{{"labels.branchname" | translate}}</label>
            <input type="text" class="form-control" id="branchName" [(ngModel)]="branchName" />
          </div>

          <!-- Modified By -->
          <div class="form-group">
            <label for="modifiedBy">{{"modified by" | translate}}</label>
            <input type="text" class="form-control" id="modifiedBy" [(ngModel)]="modifiedBy" />
          </div>

          <!-- Date Modified Range -->
          <div class="form-group">
            <label>{{"date modified range" | translate}}</label>
            <input type="text" [placeholder]="'labels.daterangepicker'| translate" class="form-control"
              [bsConfig]="{ rangeInputFormat : 'DD MMM YYYY', dateInputFormat: 'DD MMM YYYY', showWeekNumbers: false ,rangeSeparator:' to ',containerClass:'theme-default',adaptivePosition: true}"
              bsDaterangepicker [(ngModel)]="selected" name="daterange" readonly>
          </div>

          <!-- Status -->
          <div class="form-group">
            <label>{{"labels.status" | translate}}</label>
            <select class="form-control" [(ngModel)]="selectedState">
              <option *ngFor="let state of states" [value]="state.param_cd">
                {{ state.nm_en }}
              </option>
            </select>
          </div>

          <!-- Buttons -->
          <div class="button-group">
            <button class="btn btnApply" (click)="apply()">{{"buttons.apply" |translate}}</button>
            <button class="btn btnReset" (click)="reset()">{{"buttons.reset" |translate}}</button>
          </div>

          <br /><br />
        </div>
      </div>
    </div>

  </body>
</ng-container>